Repository hmcts/unspec-service, pull requests merged in 2020-07, with the labels that each got.

#18 chore: updated readme with codecptjs info (CMC-NA)
  README.md
Labels: ns:ucmc, prd:ucmc, rel:ucmc-service-pr-18

#28 chore: bumped java chart version to 3.0.0
  charts/ucmc-service/Chart.yaml
  charts/ucmc-service/requirements.yaml
  charts/ucmc-service/values.preview.template.yaml
  e2e/tests/smoke_test.js
Labels: ns:ucmc, prd:ucmc, rel:ucmc-service-pr-28

#32 fix: added missing IDAM_USER_URL to data-store environemnt
  charts/ucmc-service/values.preview.template.yaml
Labels: ns:ucmc, prd:ucmc, rel:ucmc-service-pr-32

#22 CMC-388: Callback handler framework
  build.gradle
  lombok.config
  src/integrationTest/java/uk/gov/hmcts/reform/ucmc/controllers/BaseIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/ucmc/controllers/CallbackControllerTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/ucmc/controllers/GetWelcomeTest.java
  src/main/java/uk/gov/hmcts/reform/ucmc/advice/ResourceExceptionHandler.java
  src/main/java/uk/gov/hmcts/reform/ucmc/callback/Callback.java
  src/main/java/uk/gov/hmcts/reform/ucmc/callback/CallbackException.java
  src/main/java/uk/gov/hmcts/reform/ucmc/callback/CallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/ucmc/callback/CallbackHandlerFactory.java
  src/main/java/uk/gov/hmcts/reform/ucmc/callback/CallbackParams.java
  src/main/java/uk/gov/hmcts/reform/ucmc/callback/CallbackType.java
  src/main/java/uk/gov/hmcts/reform/ucmc/callback/CallbackVersion.java
  src/main/java/uk/gov/hmcts/reform/ucmc/callback/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/ucmc/controllers/CallbackController.java
  src/test/java/uk/gov/hmcts/reform/ucmc/advice/ResourceExceptionHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/ucmc/callback/CallbackHandlerFactoryTest.java
  src/test/java/uk/gov/hmcts/reform/ucmc/callback/CallbackTypeTest.java
Labels: ns:ucmc, prd:ucmc, rel:ucmc-service-pr-22

#33 feat: created UI screens for new PI claim (CMC-328)
  build.gradle
  ccd-definition/AuthorisationCaseField.json
  ccd-definition/CaseEvent.json
  ccd-definition/CaseEventToComplexTypes.json
  ccd-definition/CaseEventToFields.json
  ccd-definition/CaseField.json
  ccd-definition/ComplexTypes.json
  ccd-definition/FixedLists.json
  codecept.conf.js
  config/pmd/ruleset.xml
  e2e/config.js
  e2e/fragments/addressPostcodeLookup.js
  e2e/helpers/puppeteer_helper.js
  e2e/pages/createClaim/chooseCourt.page.js
  e2e/pages/createClaim/claimValue.page.js
  e2e/pages/createClaim/claimantDetails.page.js
  e2e/pages/createClaim/createCase.page.js
  e2e/pages/createClaim/solicitorReferences.page.js
  e2e/steps_file.js
  e2e/tests/smoke_test.js
  e2e/tests/solicitorCreatesClaim_test.js
  package.json
  src/integrationTest/java/uk/gov/hmcts/reform/ucmc/controllers/CreateClaimControllerTest.java
  src/main/java/uk/gov/hmcts/reform/ucmc/controllers/CreateClaimController.java
  src/main/java/uk/gov/hmcts/reform/ucmc/helpers/DateFormatHelper.java
  src/main/java/uk/gov/hmcts/reform/ucmc/model/ClaimValue.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/ucmc/helpers/DateFormatHelperTest.java
  src/test/java/uk/gov/hmcts/reform/ucmc/model/ClaimValueTest.java
  steps.d.ts
Labels: data-changes, ns:ucmc, prd:ucmc, rel:ucmc-service-pr-33

#19 feat: added statement of truth in create claim journey (CMC-44)
  ccd-definition/AuthorisationCaseField.json
  ccd-definition/CaseEventToFields.json
  ccd-definition/CaseField.json
  ccd-definition/ComplexTypes.json
  e2e/fragments/statementOfTruth.js
  e2e/steps_file.js
Labels: data-changes, ns:ucmc, prd:ucmc, rel:ucmc-service-pr-19

#36 feat: updated existing callbacks to use callback framework (CMC-423)
  ccd-definition/CaseEvent.json
  ccd-definition/CaseEventToFields.json
  src/integrationTest/java/uk/gov/hmcts/reform/ucmc/controllers/CreateClaimControllerTest.java
  src/main/java/uk/gov/hmcts/reform/ucmc/handler/CreateClaimCallbackHandler.java
  src/test/java/uk/gov/hmcts/reform/ucmc/handler/BaseCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/ucmc/handler/CreateClaimCallbackHandlerTest.java
Labels: ns:ucmc, prd:ucmc, rel:ucmc-service-pr-36

#20 CMC-354: add springboot security OIDC
  build.gradle
  charts/ucmc-service/Chart.yaml
  charts/ucmc-service/values.preview.template.yaml
  charts/ucmc-service/values.yaml
  config/owasp/suppressions.xml
  e2e/fragments/statementOfTruth.js
  src/integrationTest/java/uk/gov/hmcts/reform/ucmc/TestIdamConfiguration.java
  src/integrationTest/java/uk/gov/hmcts/reform/ucmc/config/SwaggerPublisherTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/ucmc/controllers/BaseIntegrationTest.java
  src/main/java/uk/gov/hmcts/reform/ucmc/Application.java
  src/main/java/uk/gov/hmcts/reform/ucmc/config/CacheConfiguration.java
  src/main/java/uk/gov/hmcts/reform/ucmc/config/SecurityConfiguration.java
  src/main/java/uk/gov/hmcts/reform/ucmc/controllers/CallbackController.java
  src/main/java/uk/gov/hmcts/reform/ucmc/security/JwtGrantedAuthoritiesConverter.java
  src/main/java/uk/gov/hmcts/reform/ucmc/service/UserService.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/service/UserServiceTest.java
  src/test/java/uk/gov/hmcts/reform/ucmc/security/JwtGrantedAuthoritiesConverterTest.java
Labels: ns:ucmc, prd:ucmc, rel:ucmc-service-pr-20

#43 test: added retryUntilExists in claimValue page (CMC-NA)
  e2e/pages/createClaim/claimValue.page.js
Labels: ns:ucmc, prd:ucmc, rel:ucmc-service-pr-43

#41 refactor: changed solicitor reference to claimant reference (CMC-NA)
  ccd-definition/ComplexTypes.json
  e2e/pages/createClaim/solicitorReferences.page.js
Labels: data-changes, ns:ucmc, prd:ucmc, rel:ucmc-service-pr-41

#44 refactor: response pack link to open in new tab(CMC-422)
  src/main/java/uk/gov/hmcts/reform/ucmc/handler/CreateClaimCallbackHandler.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/ucmc/handler/CreateClaimCallbackHandlerTest.java
Labels: ns:ucmc, prd:ucmc, rel:ucmc-service-pr-44

#40 feat: added defendant details screen in create claim journey (CMC-28)
  ccd-definition/AuthorisationCaseField.json
  ccd-definition/CaseEventToComplexTypes.json
  ccd-definition/CaseEventToFields.json
  ccd-definition/CaseField.json
  ccd-definition/ComplexTypes.json
  ccd-definition/FixedLists.json
  e2e/fragments/party.js
  e2e/pages/createClaim/claimantDetails.page.js
  e2e/steps_file.js
Labels: data-changes, ns:ucmc, prd:ucmc, rel:ucmc-service-pr-40

#21 feat: configured confirm service event for solicitor user (CMC-353)
  ccd-definition/AuthorisationCaseEvent.json
  ccd-definition/AuthorisationCaseField.json
  ccd-definition/CaseEvent.json
  ccd-definition/CaseEventToComplexTypes/ConfirmService.json
  ccd-definition/CaseEventToComplexTypes/CreateClaim.json
  ccd-definition/CaseEventToFields/ConfirmService.json
  ccd-definition/CaseEventToFields/CreateClaim.json
  ccd-definition/CaseField.json
  ccd-definition/ComplexTypes.json
  ccd-definition/FixedLists/ApplicantType.json
  ccd-definition/FixedLists/ServedDocuments.json
  ccd-definition/FixedLists/ServiceLocation.json
  ccd-definition/FixedLists/ServiceMethod.json
  codecept.conf.js
  e2e/config.js
  e2e/fixtures/examplePDF.pdf
  e2e/fragments/statementOfTruth.js
  e2e/pages/caseView.page.js
  e2e/pages/confirmService/servedDocuments.page.js
  e2e/pages/confirmService/serviceDate.page.js
  e2e/pages/confirmService/serviceLocation.page.js
  e2e/pages/confirmService/serviceMethod.page.js
  e2e/pages/confirmService/uploadDocuments.page.js
  e2e/pages/createClaim/claimValue.page.js
  e2e/steps_file.js
  e2e/tests/solicitorCreatesClaim_test.js
  src/main/java/uk/gov/hmcts/reform/ucmc/callback/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/ucmc/enums/ServedDocuments.java
  src/main/java/uk/gov/hmcts/reform/ucmc/enums/ServiceMethod.java
  src/main/java/uk/gov/hmcts/reform/ucmc/handler/ConfirmServiceCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/ucmc/handler/CreateClaimCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/ucmc/helpers/DateFormatHelper.java
  src/main/java/uk/gov/hmcts/reform/ucmc/model/CaseData.java
  src/test/java/uk/gov/hmcts/reform/ucmc/enums/ServiceMethodTest.java
  src/test/java/uk/gov/hmcts/reform/ucmc/handler/ConfirmServiceCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/ucmc/helpers/DateFormatHelperTest.java
Labels: data-changes, ns:ucmc, prd:ucmc, rel:ucmc-service-pr-21

#59 refactor: preferredCourt to applicantPreferredCourt (CMC-489)
  ccd-definition/ComplexTypes.json
  e2e/pages/createClaim/chooseCourt.page.js
Labels: data-changes, ns:unspec, prd:unspec, rel:unspec-service-pr-59

#42 feat: added allocated track logic and claim type screen (CMC-59)
  ccd-definition/AuthorisationCaseField.json
  ccd-definition/CaseEventToComplexTypes/CreateClaim.json
  ccd-definition/CaseEventToFields/CreateClaim.json
  ccd-definition/CaseField.json
  ccd-definition/ComplexTypes.json
  ccd-definition/FixedLists/ClaimType.json
  ccd-definition/FixedLists/Track.json
  e2e/pages/createClaim/claimType.page.js
  e2e/steps_file.js
  src/main/java/uk/gov/hmcts/reform/unspec/enums/AllocatedTrack.java
  src/main/java/uk/gov/hmcts/reform/unspec/enums/ClaimType.java
  src/main/java/uk/gov/hmcts/reform/unspec/handler/CreateClaimCallbackHandler.java
  src/test/java/uk/gov/hmcts/reform/unspec/enums/AllocatedTrackTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/handler/CreateClaimCallbackHandlerTest.java
Labels: data-changes, ns:ucmc, ns:unspec, prd:ucmc, prd:unspec, rel:ucmc-service-pr-42, rel:unspec-service-pr-42

#62 refactor: Add check-style rules to avoid reviewers to look for these
  config/checkstyle/checkstyle.xml
  src/main/java/uk/gov/hmcts/reform/unspec/callback/Callback.java
  src/main/java/uk/gov/hmcts/reform/unspec/callback/CallbackException.java
  src/main/java/uk/gov/hmcts/reform/unspec/callback/CallbackParams.java
  src/main/java/uk/gov/hmcts/reform/unspec/handler/ConfirmServiceCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/unspec/handler/CreateClaimCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/unspec/helpers/DateFormatHelper.java
  src/main/java/uk/gov/hmcts/reform/unspec/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/unspec/model/ClaimValue.java
  src/test/java/uk/gov/hmcts/reform/unspec/helpers/DateFormatHelperTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/model/ClaimValueTest.java
Labels: ns:unspec, prd:unspec, rel:unspec-service-pr-62

#52 feat: add claim issue date to case data (CMC-505)
  ccd-definition/AuthorisationCaseField.json
  ccd-definition/CaseEvent.json
  ccd-definition/CaseField.json
  src/main/java/uk/gov/hmcts/reform/unspec/handler/CreateClaimCallbackHandler.java
  src/test/java/uk/gov/hmcts/reform/unspec/handler/CreateClaimCallbackHandlerTest.java
Labels: data-changes, ns:ucmc, ns:unspec, prd:ucmc, prd:unspec, rel:ucmc-service-pr-52, rel:unspec-service-pr-52

#16 feat: added integration with fees register (CMC-326)
  build.gradle
  charts/unspec-service/Chart.yaml
  charts/unspec-service/values.yaml
  package.json
  src/integrationTest/java/uk/gov/hmcts/reform/unspec/controllers/BaseIntegrationTest.java
  src/main/java/uk/gov/hmcts/reform/unspec/config/FeesConfiguration.java
  src/main/java/uk/gov/hmcts/reform/unspec/config/PaymentsConfiguration.java
  src/main/java/uk/gov/hmcts/reform/unspec/config/ServiceTokenGeneratorConfiguration.java
  src/main/java/uk/gov/hmcts/reform/unspec/enums/AllocatedTrack.java
  src/main/java/uk/gov/hmcts/reform/unspec/model/ClaimValue.java
  src/main/java/uk/gov/hmcts/reform/unspec/request/RequestData.java
  src/main/java/uk/gov/hmcts/reform/unspec/service/FeesService.java
  src/main/java/uk/gov/hmcts/reform/unspec/service/PaymentsService.java
  src/main/resources/application.yaml
  src/main/resources/bootstrap.yaml
  src/test/java/uk/gov/hmcts/reform/rsecheck/DemoUnitTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/enums/AllocatedTrackTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/handler/CreateClaimCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/model/ClaimValueTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/request/RequestDataTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/service/FeesServiceTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/service/PaymentsServiceTest.java
Labels: ns:ucmc, ns:unspec, prd:ucmc, prd:unspec, rel:ucmc-service-pr-16, rel:unspec-service-pr-16

#70 feat: setup demo and aat releases (CMC-468)
  Jenkinsfile_CNP
  bin/build-release-ccd-definition.sh
  bin/variables/load-aat-environment-variables.sh
  bin/variables/load-demo-environment-variables.sh
Labels: ns:unspec, prd:unspec, rel:unspec-service-pr-70

#51 feat: Request for extension (CMC-363)
  ccd-definition/AuthorisationCaseEvent.json
  ccd-definition/AuthorisationCaseField.json
  ccd-definition/CaseEvent.json
  ccd-definition/CaseEventToFields/RequestExtension.json
  ccd-definition/CaseField.json
  e2e/pages/confirmService/serviceDate.page.js
  e2e/pages/requestExtension/extensionAlreadyAgreed.page.js
  e2e/pages/requestExtension/proposeDeadline.page.js
  e2e/steps_file.js
  e2e/tests/solicitorCreatesClaim_test.js
  src/main/java/uk/gov/hmcts/reform/unspec/callback/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/unspec/enums/YesOrNo.java
  src/main/java/uk/gov/hmcts/reform/unspec/handler/RequestExtensionCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/unspec/validation/RequestExtensionValidator.java
  src/test/java/uk/gov/hmcts/reform/unspec/handler/RequestExtensionCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/service/UserServiceTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/validation/RequestExtensionValidatorTest.java
Labels: data-changes, ns:ucmc, ns:unspec, prd:ucmc, prd:unspec, rel:ucmc-service-pr-51, rel:unspec-service-pr-51

#74 fix: added missing loadVaultSecrets call
  Jenkinsfile_CNP
Labels: ns:unspec, prd:unspec, rel:unspec-service-pr-74

#75 fix: added skipping functional tests on master (temporarily)
  Jenkinsfile_CNP
  build.gradle
Labels: ns:unspec, prd:unspec, rel:unspec-service-pr-75

#50 feat: added case stayed event and logic (CMC-336)
  bin/add-roles-preview.sh
  build.gradle
  ccd-definition/AuthorisationCaseEvent.json
  ccd-definition/AuthorisationCaseField.json
  ccd-definition/AuthorisationCaseState.json
  ccd-definition/AuthorisationCaseType.json
  ccd-definition/CaseEvent.json
  ccd-definition/State.json
  charts/unspec-service/Chart.yaml
  charts/unspec-service/values.yaml
  src/integrationTest/java/uk/gov/hmcts/reform/unspec/controllers/BaseIntegrationTest.java
  src/main/java/uk/gov/hmcts/reform/unspec/CaseDefinitionConstants.java
  src/main/java/uk/gov/hmcts/reform/unspec/callback/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/unspec/config/SystemUpdateUserConfiguration.java
  src/main/java/uk/gov/hmcts/reform/unspec/event/MoveCaseToStayedEvent.java
  src/main/java/uk/gov/hmcts/reform/unspec/handler/MoveCaseToStayedEventHandler.java
  src/main/java/uk/gov/hmcts/reform/unspec/handler/callback/ConfirmServiceCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/unspec/handler/callback/CreateClaimCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/unspec/handler/callback/RequestExtensionCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/unspec/service/CaseSearchService.java
  src/main/java/uk/gov/hmcts/reform/unspec/service/CaseStayedFinder.java
  src/main/java/uk/gov/hmcts/reform/unspec/service/CoreCaseDataService.java
  src/main/java/uk/gov/hmcts/reform/unspec/validation/RequestExtensionValidator.java
  src/main/resources/application.yaml
  src/main/resources/bootstrap.yaml
  src/test/java/uk/gov/hmcts/reform/unspec/handler/MoveCaseToStayedEventHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/handler/callback/BaseCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/handler/callback/ConfirmServiceCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/handler/callback/CreateClaimCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/handler/callback/RequestExtensionCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/service/CaseSearchServiceTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/service/CaseStayedFinderTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/service/CoreCaseDataServiceTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/validation/RequestExtensionValidatorTest.java
Labels: ns:unspec, prd:unspec, rel:unspec-service-pr-50

#77 fix: updated idam client id
  charts/unspec-service/Chart.yaml
  charts/unspec-service/requirements.yaml
  charts/unspec-service/values.yaml
Labels: ns:unspec, prd:unspec, rel:unspec-service-pr-77

#82 fix: added missing AppPipelineConfig import
  Jenkinsfile_CNP
Labels: ns:unspec, prd:unspec, rel:unspec-service-pr-82

#81 fix: set the same OIDC_ISSUER for aat and preview
  Jenkinsfile_CNP
  charts/unspec-service/Chart.yaml
  charts/unspec-service/values.preview.template.yaml
  charts/unspec-service/values.yaml
  src/main/resources/application.yaml
Labels: ns:unspec, prd:unspec, rel:unspec-service-pr-81

#84 fix: generic base OIDC issuer with specific aat and preview settings
  Jenkinsfile_CNP
  charts/unspec-service/Chart.yaml
  charts/unspec-service/values.aat.template.yaml
  charts/unspec-service/values.preview.template.yaml
  charts/unspec-service/values.yaml
Labels: ns:unspec, prd:unspec, rel:unspec-service-pr-84

#85 fix: improve flaky e2e tests
  e2e/fragments/party.js
  e2e/fragments/statementOfTruth.js
  e2e/pages/confirmService/servedDocuments.page.js
  e2e/pages/confirmService/serviceDate.page.js
  e2e/pages/confirmService/serviceLocation.page.js
  e2e/pages/confirmService/serviceMethod.page.js
  e2e/pages/confirmService/uploadDocuments.page.js
  e2e/pages/createClaim/chooseCourt.page.js
  e2e/pages/createClaim/claimType.page.js
  e2e/pages/createClaim/claimValue.page.js
  e2e/pages/createClaim/solicitorReferences.page.js
  e2e/pages/requestExtension/extensionAlreadyAgreed.page.js
  e2e/pages/requestExtension/proposeDeadline.page.js
  e2e/steps_file.js
Labels: ns:unspec, prd:unspec, rel:unspec-service-pr-85

#87 fix: added waiting for buttons and improved case event alert assertion
  e2e/fragments/date.js
  e2e/pages/confirmService/serviceDate.page.js
  e2e/pages/createClaim/chooseCourt.page.js
  e2e/pages/createClaim/claimType.page.js
  e2e/pages/createClaim/createCase.page.js
  e2e/pages/login.page.js
  e2e/pages/requestExtension/extensionAlreadyAgreed.page.js
  e2e/pages/requestExtension/proposeDeadline.page.js
  e2e/pages/respondExtension/counter.page.js
  e2e/pages/respondExtension/reason.page.js
  e2e/pages/respondExtension/respond.page.js
  e2e/steps_file.js
  e2e/tests/solicitorCreatesClaim_test.js
Labels: ns:unspec, prd:unspec, rel:unspec-service-pr-87

#88 fix: temporarily disabled failing e2e test that blocks helm chart release
  e2e/tests/solicitorCreatesClaim_test.js
Labels: ns:unspec, prd:unspec, rel:unspec-service-pr-88

#93 test: enabled previously failing test
  e2e/steps_file.js
  e2e/tests/solicitorCreatesClaim_test.js
  src/main/resources/application.yaml
Labels: ns:unspec, prd:unspec, rel:unspec-service-pr-93

#94 feat: added loading app insights instrumentation key (CMC-547)
  charts/unspec-service/Chart.yaml
  charts/unspec-service/values.yaml
  src/main/resources/bootstrap.yaml
Labels: ns:unspec, prd:unspec, rel:unspec-service-pr-94

#76 impr: added pagination to es queries (CMC-336)
  build.gradle
  src/main/java/uk/gov/hmcts/reform/unspec/model/search/Query.java
  src/main/java/uk/gov/hmcts/reform/unspec/service/CaseSearchService.java
  src/main/java/uk/gov/hmcts/reform/unspec/service/CaseStayedFinder.java
  src/main/java/uk/gov/hmcts/reform/unspec/service/CoreCaseDataService.java
  src/main/java/uk/gov/hmcts/reform/unspec/service/search/CaseStayedSearchService.java
  src/main/java/uk/gov/hmcts/reform/unspec/service/search/ElasticSearchService.java
  src/test/java/uk/gov/hmcts/reform/unspec/model/search/QueryTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/service/CaseSearchServiceTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/service/CaseStayedFinderTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/service/CoreCaseDataServiceTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/service/search/CaseStayedSearchServiceTest.java
Labels: ns:unspec, prd:unspec, rel:unspec-service-pr-76
