Repository hmcts/unspec-service, pull requests merged in 2020-10, with the labels that each got.

#246 fix: switched cnp-module-key-vault branch to master (CMC-NA)
  infrastructure/main.tf
Labels: ns:unspec, prd:unspec, rel:unspec-service-pr-246

#248 test: added missing api test data and validation for litigant friend
  e2e/api/steps.js
  e2e/fixtures/createClaim.js
  e2e/tests/solicitorCreatesClaim_test.js
  package.json
Labels: ns:unspec, prd:unspec, rel:unspec-service-pr-248

#242 feat: restrict event for ongoing business process on case (CMC-799)
  ccd-definition/CaseEvent.json
  src/main/java/uk/gov/hmcts/reform/unspec/aspect/EventAllowed.java
  src/main/java/uk/gov/hmcts/reform/unspec/aspect/EventAllowedAspect.java
  src/main/java/uk/gov/hmcts/reform/unspec/aspect/NoOngoingBusinessProcess.java
  src/main/java/uk/gov/hmcts/reform/unspec/aspect/NoOngoingBusinessProcessAspect.java
  src/main/java/uk/gov/hmcts/reform/unspec/callback/CallbackHandlerFactory.java
  src/main/java/uk/gov/hmcts/reform/unspec/enums/BusinessProcessStatus.java
  src/main/java/uk/gov/hmcts/reform/unspec/handler/callback/WithdrawClaimCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/unspec/model/BusinessProcess.java
  src/main/java/uk/gov/hmcts/reform/unspec/stereotypes/ExternalTaskLogger.java
  src/test/java/uk/gov/hmcts/reform/unspec/aspect/EventAllowedAspectTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/aspect/NoOngoingBusinessProcessAspectTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/handler/callback/WithdrawClaimCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/sampledata/CaseDataBuilder.java
Labels: ns:unspec, prd:unspec, rel:unspec-service-pr-242

#240 feat: generic service notification (CMC-636)
  ccd-definition/AuthorisationCaseEvent/systemUpdate.json
  ccd-definition/CaseEvent.json
  src/integrationTest/java/uk/gov/hmcts/reform/unspec/controllers/CallbackControllerTest.java
  src/main/java/uk/gov/hmcts/reform/unspec/callback/CallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/unspec/callback/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/unspec/config/properties/notification/NotificationsProperties.java
  src/main/java/uk/gov/hmcts/reform/unspec/handler/callback/AcknowledgeServiceCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/unspec/handler/callback/CreateClaimCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/unspec/handler/callback/RequestExtensionCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/unspec/handler/callback/RespondExtensionCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/unspec/handler/callback/RespondToClaimCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/unspec/handler/callback/RespondToDefenceCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/unspec/handler/callback/notification/CaseHandedOfflineClaimantNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/unspec/handler/callback/notification/CaseHandedOfflineDefendantNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/unspec/handler/callback/notification/CaseTransferredToLocalCourtClaimantNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/unspec/handler/callback/notification/CaseTransferredToLocalCourtDefendantNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/unspec/handler/callback/notification/ClaimIssueNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/unspec/handler/callback/notification/DefendantResponseClaimantNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/unspec/handler/callback/notification/ExtensionResponseDefendantNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/unspec/handler/callback/notification/NotificationData.java
  src/main/java/uk/gov/hmcts/reform/unspec/handler/callback/notification/RequestForExtensionClaimantNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/unspec/handler/callback/notification/ServiceAcknowledgementClaimantNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/unspec/service/CoreCaseDataService.java
  src/main/resources/application.yaml
  src/main/resources/case_handed_offline.bpmn
  src/main/resources/case_transferred_to_local_court.bpmn
  src/main/resources/claim_issue.bpmn
  src/main/resources/defendant_response.bpmn
  src/main/resources/extension_response.bpmn
  src/main/resources/request_for_extension.bpmn
  src/main/resources/service_acknowledgement.bpmn
  src/test/java/uk/gov/hmcts/reform/unspec/bpmn/CaseEventTaskTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/callback/CallbackHandlerFactoryTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/handler/callback/AcknowledgeServiceCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/handler/callback/CreateClaimCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/handler/callback/RequestExtensionCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/handler/callback/RespondExtensionCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/handler/callback/RespondToClaimCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/handler/callback/RespondToDefenceCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/handler/callback/notification/CaseHandedOfflineClaimantNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/handler/callback/notification/CaseHandedOfflineDefendantNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/handler/callback/notification/CaseTransferredToLocalCourtClaimantNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/handler/callback/notification/CaseTransferredToLocalCourtDefendantNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/handler/callback/notification/ClaimIssueNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/handler/callback/notification/DefendantResponseClaimantNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/handler/callback/notification/ExtensionResponseDefendantNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/handler/callback/notification/RequestForExtensionClaimantNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/handler/callback/notification/ServiceAcknowledgementClaimantNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/service/tasks/handler/CaseEventTaskHandlerTest.java
Labels: data-changes, ns:unspec, prd:unspec, rel:unspec-service-pr-240

#256 refactor: update error message (CMC-791)
  src/main/java/uk/gov/hmcts/reform/unspec/aspect/EventAllowedAspect.java
  src/test/java/uk/gov/hmcts/reform/unspec/aspect/EventAllowedAspectTest.java
Labels: ns:unspec, prd:unspec, rel:unspec-service-pr-256

#251 feat: mid event callback to use page (CMC-801)
  ccd-definition/CaseEventToFields/AcknowledgeService.json
  ccd-definition/CaseEventToFields/ConfirmService.json
  ccd-definition/CaseEventToFields/CreateClaim.json
  ccd-definition/CaseEventToFields/DefendantResponse.json
  ccd-definition/CaseEventToFields/RequestExtension.json
  ccd-definition/CaseEventToFields/RespondExtension.json
  ccd-definition/CaseEventToFields/WithdrawClaim.json
  src/integrationTest/java/uk/gov/hmcts/reform/unspec/controllers/CallbackControllerTest.java
  src/main/java/uk/gov/hmcts/reform/unspec/callback/CallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/unspec/callback/CallbackParams.java
  src/main/java/uk/gov/hmcts/reform/unspec/callback/CallbackType.java
  src/main/java/uk/gov/hmcts/reform/unspec/controllers/CallbackController.java
  src/main/java/uk/gov/hmcts/reform/unspec/handler/callback/AcknowledgeServiceCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/unspec/handler/callback/ConfirmServiceCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/unspec/handler/callback/CreateClaimCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/unspec/handler/callback/RequestExtensionCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/unspec/handler/callback/RespondExtensionCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/unspec/handler/callback/RespondToClaimCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/unspec/handler/callback/RespondToDefenceCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/unspec/handler/callback/WithdrawClaimCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/unspec/handler/callback/notification/CaseHandedOfflineClaimantNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/unspec/handler/callback/notification/CaseHandedOfflineDefendantNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/unspec/handler/callback/notification/CaseTransferredToLocalCourtClaimantNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/unspec/handler/callback/notification/CaseTransferredToLocalCourtDefendantNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/unspec/handler/callback/notification/ClaimIssueNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/unspec/handler/callback/notification/DefendantResponseClaimantNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/unspec/handler/callback/notification/ExtensionResponseDefendantNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/unspec/handler/callback/notification/RequestForExtensionClaimantNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/unspec/handler/callback/notification/ServiceAcknowledgementClaimantNotificationHandler.java
  src/test/java/uk/gov/hmcts/reform/unspec/callback/CallbackHandlerFactoryTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/handler/callback/AcknowledgeServiceCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/handler/callback/BaseCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/handler/callback/ConfirmServiceCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/handler/callback/CreateClaimCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/handler/callback/RequestExtensionCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/handler/callback/RespondExtensionCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/handler/callback/RespondToClaimCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/handler/callback/WithdrawClaimCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/sampledata/CallbackParamsBuilder.java
Labels: ns:unspec, prd:unspec, rel:unspec-service-pr-251

#261 fix: invalid notification template id (CMC-NA)
  src/main/resources/application.yaml
Labels: ns:unspec, prd:unspec, rel:unspec-service-pr-261

#260 fix: allocated track not persisted (CMC-837 )
  e2e/api/steps.js
  src/main/java/uk/gov/hmcts/reform/unspec/handler/callback/CreateClaimCallbackHandler.java
  src/test/java/uk/gov/hmcts/reform/unspec/handler/callback/CreateClaimCallbackHandlerTest.java
Labels: ns:unspec, prd:unspec, rel:unspec-service-pr-260

#268 feat: testing support reset business process endpoint (CMC-NA)
  Jenkinsfile_CNP
  Jenkinsfile_nightly
  build.gradle
  ccd-definition/AuthorisationCaseEvent/systemUpdate.json
  ccd-definition/AuthorisationCaseField/systemUpdate.json
  ccd-definition/AuthorisationCaseState/systemUpdate.json
  ccd-definition/CaseEvent.json
  charts/unspec-service/Chart.yaml
  charts/unspec-service/values.aat.template.yaml
  charts/unspec-service/values.preview.template.yaml
  e2e/api/request.js
  e2e/api/steps.js
  e2e/api/testingSupport.js
  e2e/config.js
  e2e/steps_file.js
  src/main/java/uk/gov/hmcts/reform/unspec/aspect/NoOngoingBusinessProcessAspect.java
  src/main/java/uk/gov/hmcts/reform/unspec/callback/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/unspec/controllers/TestingSupportController.java
  src/main/java/uk/gov/hmcts/reform/unspec/model/CaseData.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/unspec/aspect/NoOngoingBusinessProcessAspectTest.java
Labels: ns:unspec, prd:unspec, rel:unspec-service-pr-268

#278 fix: placeholder value for solicitors references (CMC-636)
  src/main/java/uk/gov/hmcts/reform/unspec/handler/callback/notification/CaseHandedOfflineClaimantNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/unspec/handler/callback/notification/CaseHandedOfflineDefendantNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/unspec/handler/callback/notification/CaseTransferredToLocalCourtClaimantNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/unspec/handler/callback/notification/CaseTransferredToLocalCourtDefendantNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/unspec/handler/callback/notification/DefendantResponseClaimantNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/unspec/handler/callback/notification/ExtensionResponseDefendantNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/unspec/handler/callback/notification/RequestForExtensionClaimantNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/unspec/handler/callback/notification/ServiceAcknowledgementClaimantNotificationHandler.java
  src/test/java/uk/gov/hmcts/reform/unspec/handler/callback/notification/CaseHandedOfflineClaimantNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/handler/callback/notification/CaseHandedOfflineDefendantNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/handler/callback/notification/CaseTransferredToLocalCourtClaimantNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/handler/callback/notification/CaseTransferredToLocalCourtDefendantNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/handler/callback/notification/DefendantResponseClaimantNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/handler/callback/notification/ExtensionResponseDefendantNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/handler/callback/notification/RequestForExtensionClaimantNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/handler/callback/notification/ServiceAcknowledgementClaimantNotificationHandlerTest.java
Labels: ns:unspec, prd:unspec, rel:unspec-service-pr-278

#285 Resolve failing claim issue notification
  src/main/java/uk/gov/hmcts/reform/unspec/handler/callback/notification/ClaimIssueNotificationHandler.java
Labels: ns:unspec, prd:unspec, rel:unspec-service-pr-285

#286 refactor: update all notification callbacks to use case data (CMC-849)
  src/main/java/uk/gov/hmcts/reform/unspec/callback/CallbackParams.java
  src/main/java/uk/gov/hmcts/reform/unspec/controllers/CallbackController.java
  src/main/java/uk/gov/hmcts/reform/unspec/handler/callback/notification/CaseHandedOfflineClaimantNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/unspec/handler/callback/notification/CaseHandedOfflineDefendantNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/unspec/handler/callback/notification/CaseTransferredToLocalCourtClaimantNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/unspec/handler/callback/notification/CaseTransferredToLocalCourtDefendantNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/unspec/handler/callback/notification/ClaimIssueNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/unspec/handler/callback/notification/DefendantResponseClaimantNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/unspec/handler/callback/notification/ExtensionResponseDefendantNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/unspec/handler/callback/notification/RequestForExtensionClaimantNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/unspec/handler/callback/notification/ServiceAcknowledgementClaimantNotificationHandler.java
  src/test/java/uk/gov/hmcts/reform/unspec/handler/callback/notification/CaseHandedOfflineClaimantNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/handler/callback/notification/CaseHandedOfflineDefendantNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/handler/callback/notification/CaseTransferredToLocalCourtClaimantNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/handler/callback/notification/CaseTransferredToLocalCourtDefendantNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/handler/callback/notification/ClaimIssueNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/handler/callback/notification/DefendantResponseClaimantNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/handler/callback/notification/ExtensionResponseDefendantNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/handler/callback/notification/RequestForExtensionClaimantNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/handler/callback/notification/ServiceAcknowledgementClaimantNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/sampledata/CallbackParamsBuilder.java
  src/test/java/uk/gov/hmcts/reform/unspec/sampledata/CaseDataBuilder.java
  src/test/java/uk/gov/hmcts/reform/unspec/sampledata/ServiceMethodBuilder.java
Labels: ns:unspec, prd:unspec, rel:unspec-service-pr-286

#283 fix: renamed claim value field and added to pounds method (CMC-899)
  ccd-definition/ComplexTypes/ClaimValue.json
  e2e/fixtures/createClaim.js
  e2e/pages/createClaim/claimValue.page.js
  src/main/java/uk/gov/hmcts/reform/unspec/enums/AllocatedTrack.java
  src/main/java/uk/gov/hmcts/reform/unspec/handler/callback/CreateClaimCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/unspec/model/ClaimValue.java
  src/main/java/uk/gov/hmcts/reform/unspec/service/FeesService.java
  src/test/java/uk/gov/hmcts/reform/unspec/enums/AllocatedTrackTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/sampledata/CaseDataBuilder.java
  src/test/java/uk/gov/hmcts/reform/unspec/service/FeesServiceTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/service/PaymentsServiceTest.java
Labels: based-off-786, data-changes, ns:unspec, prd:unspec, rel:unspec-service-pr-283

#300 fix: increased claim value to display multi claim page on respond to claim event
  e2e/pages/createClaim/claimValue.page.js
Labels: ns:unspec, prd:unspec, rel:unspec-service-pr-300

#306 fix: use case details before for callback handler factory (CMC-NA)
  src/main/java/uk/gov/hmcts/reform/unspec/callback/CallbackHandlerFactory.java
  src/main/java/uk/gov/hmcts/reform/unspec/service/tasks/handler/CaseEventTaskHandler.java
  src/test/java/uk/gov/hmcts/reform/unspec/callback/CallbackHandlerFactoryTest.java
Labels: ns:unspec, prd:unspec, rel:unspec-service-pr-306

#291 feat: propagate ccd events to camunda submitted callback (CMC-794)
  src/main/java/uk/gov/hmcts/reform/unspec/aspect/EventEmitter.java
  src/main/java/uk/gov/hmcts/reform/unspec/aspect/EventEmitterAspect.java
  src/main/java/uk/gov/hmcts/reform/unspec/callback/CallbackHandlerFactory.java
  src/main/java/uk/gov/hmcts/reform/unspec/model/dq/Respondent1DQ.java
  src/main/java/uk/gov/hmcts/reform/unspec/service/EventEmitterService.java
  src/main/java/uk/gov/hmcts/reform/unspec/service/tasks/handler/PollingEventEmitterHandler.java
  src/test/java/uk/gov/hmcts/reform/unspec/aspect/EventEmitterAspectTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/service/EventEmitterServiceTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/service/tasks/handler/PollingEventEmitterHandlerTest.java
Labels: ns:unspec, prd:unspec, rel:unspec-service-pr-291

#309 fix: Fixes data loss for respondent1 after acknowledge service event (CMC-916)
  ccd-definition/CaseEventToComplexTypes/AcknowledgeService.json
  ccd-definition/CaseEventToComplexTypes/DefendantResponse.json
  ccd-definition/ComplexTypes/Party.json
Labels: data-changes, ns:unspec, prd:unspec, rel:unspec-service-pr-309

#299 refact: case data conversion in read only places (CMC-849)
  src/main/java/uk/gov/hmcts/reform/unspec/aspect/NoOngoingBusinessProcessAspect.java
  src/main/java/uk/gov/hmcts/reform/unspec/handler/callback/AcknowledgeServiceCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/unspec/handler/callback/ConfirmServiceCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/unspec/handler/callback/CreateClaimCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/unspec/handler/callback/DispatchBusinessProcessCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/unspec/handler/callback/RequestExtensionCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/unspec/handler/callback/RespondExtensionCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/unspec/handler/callback/RespondToClaimCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/unspec/handler/callback/RespondToDefenceCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/unspec/handler/callback/WithdrawClaimCallbackHandler.java
  src/test/java/uk/gov/hmcts/reform/unspec/aspect/NoOngoingBusinessProcessAspectTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/handler/callback/AcknowledgeServiceCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/handler/callback/BaseCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/handler/callback/ConfirmServiceCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/handler/callback/CreateClaimCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/handler/callback/DispatchBusinessProcessCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/handler/callback/RequestExtensionCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/handler/callback/RespondExtensionCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/handler/callback/RespondToClaimCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/handler/callback/RespondToDefenceCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/handler/callback/WithdrawClaimCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/sampledata/CallbackParamsBuilder.java
  src/test/java/uk/gov/hmcts/reform/unspec/sampledata/CaseDataBuilder.java
  src/test/java/uk/gov/hmcts/reform/unspec/sampledata/PartyBuilder.java
Labels: ns:unspec, prd:unspec, rel:unspec-service-pr-299

#307 refact: CaseData model to be used in callback response (CMC-849)
  src/main/java/uk/gov/hmcts/reform/unspec/aspect/EventEmitterAspect.java
  src/main/java/uk/gov/hmcts/reform/unspec/controllers/TestingSupportController.java
  src/main/java/uk/gov/hmcts/reform/unspec/handler/callback/AcknowledgeServiceCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/unspec/handler/callback/ConfirmServiceCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/unspec/handler/callback/CreateClaimCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/unspec/handler/callback/DispatchBusinessProcessCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/unspec/handler/callback/RequestExtensionCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/unspec/handler/callback/RespondExtensionCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/unspec/handler/callback/RespondToClaimCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/unspec/handler/callback/RespondToDefenceCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/unspec/helpers/CaseDetailsConverter.java
  src/main/java/uk/gov/hmcts/reform/unspec/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/unspec/model/ClaimValue.java
  src/main/java/uk/gov/hmcts/reform/unspec/model/dq/Expert.java
  src/main/java/uk/gov/hmcts/reform/unspec/model/dq/Respondent1DQ.java
  src/main/java/uk/gov/hmcts/reform/unspec/service/BusinessProcessService.java
  src/test/java/uk/gov/hmcts/reform/unspec/aspect/EventEmitterAspectTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/handler/callback/AcknowledgeServiceCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/handler/callback/ConfirmServiceCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/handler/callback/CreateClaimCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/handler/callback/DispatchBusinessProcessCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/handler/callback/RequestExtensionCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/handler/callback/RespondExtensionCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/handler/callback/RespondToClaimCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/handler/callback/RespondToDefenceCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/sampledata/CallbackParamsBuilder.java
  src/test/java/uk/gov/hmcts/reform/unspec/service/BusinessProcessServiceTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/service/CoreCaseDataServiceTest.java
Labels: based-off-299, ns:unspec, prd:unspec, rel:unspec-service-pr-307

#311 fix: Remove unused code and relevant failing tests
  src/main/java/uk/gov/hmcts/reform/unspec/helpers/LocalDateTimeHelper.java
  src/main/java/uk/gov/hmcts/reform/unspec/service/documentmanagement/DocumentManagementService.java
  src/test/java/uk/gov/hmcts/reform/unspec/helpers/LocalDateTimeHelperTest.java
Labels: ns:unspec, prd:unspec, rel:unspec-service-pr-311

#280 feat: Content changes (CMC-841)
  ccd-definition/CaseField.json
  ccd-definition/ComplexTypes/LitigationFriend.json
Labels: data-changes, ns:unspec, prd:unspec, rel:unspec-service-pr-280

#281 feat: update contents on respond to claim (CMC-839)
  ccd-definition/CaseField.json
  ccd-definition/ComplexTypes/ResponseDocument.json
Labels: data-changes, ns:unspec, prd:unspec, rel:unspec-service-pr-281

#282 feat: certificate of suitability in claimant litigation friend (CMC-895)
  ccd-definition/ComplexTypes/LitigationFriend.json
  e2e/pages/createClaim/claimantLitigationDetails.page.js
  e2e/steps_file.js
Labels: data-changes, ns:unspec, prd:unspec, rel:unspec-service-pr-282

#317 build(deps): supressed CVE-2020-13943, bumped mybatis 3.5.3 -> 3.5.6
  build.gradle
  config/owasp/suppressions.xml
Labels: dependencies, ns:unspec, prd:unspec, rel:unspec-service-pr-317

#316 fix: respond extension date validation (CMC-NA)
  ccd-definition/CaseEventToFields/RespondExtension.json
Labels: ns:unspec, prd:unspec, rel:unspec-service-pr-316

#287 feat: claimant dq (CMC-566)
  ccd-definition/AuthorisationCaseField/solicitor.json
  ccd-definition/CaseEventToComplexTypes/ClaimantResponse.json
  ccd-definition/CaseEventToComplexTypes/DefendantResponse.json
  ccd-definition/CaseEventToFields/ClaimantResponse.json
  ccd-definition/CaseField.json
  ccd-definition/ComplexTypes/DQ/Experts.json
  ccd-definition/ComplexTypes/DQ/Hearing.json
  ccd-definition/ComplexTypes/DQ/Witnesses.json
  e2e/fixtures/respondToClaim.js
  e2e/fragments/dq/experts.page.js
  e2e/fragments/statementOfTruth.js
  e2e/steps_file.js
  src/main/java/uk/gov/hmcts/reform/unspec/handler/callback/RespondToDefenceCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/unspec/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/unspec/model/dq/Applicant1DQ.java
  src/main/java/uk/gov/hmcts/reform/unspec/model/dq/Experts.java
  src/test/java/uk/gov/hmcts/reform/unspec/handler/callback/RespondToDefenceCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/model/dq/Respondent1DQTest.java
Labels: data-changes, ns:unspec, prd:unspec, rel:unspec-service-pr-287

#321 fix:resolve import bpmn file
  Jenkinsfile_CNP
  bin/import-bpmn-diagram.sh
  bin/variables/load-aat-environment-variables.sh
Labels: ns:unspec, prd:unspec, rel:unspec-service-pr-321

#279 feat: finish business process (CMC-850)
  ccd-definition/AuthorisationCaseEvent/systemUpdate.json
  ccd-definition/CaseEvent.json
  src/main/java/uk/gov/hmcts/reform/unspec/callback/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/unspec/model/BusinessProcess.java
  src/main/java/uk/gov/hmcts/reform/unspec/service/tasks/handler/EndBusinessProcessTaskHandler.java
  src/main/java/uk/gov/hmcts/reform/unspec/service/tasks/listener/EndBusinessProcessExternalTaskListener.java
  src/main/resources/camunda/acknowledge_service.bpmn
  src/main/resources/camunda/claimant_response.bpmn
  src/main/resources/camunda/create_claim.bpmn
  src/main/resources/camunda/defendant_response.bpmn
  src/main/resources/camunda/end_business_process.bpmn
  src/main/resources/camunda/request_extension.bpmn
  src/main/resources/camunda/respond_extension.bpmn
  src/test/java/uk/gov/hmcts/reform/unspec/bpmn/AcknowledgeServiceTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/bpmn/BpmnBaseTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/bpmn/ClaimantResponseTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/bpmn/CreateClaimTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/bpmn/DefendantResponseTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/bpmn/RequestExtensionTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/bpmn/RespondExtensionTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/service/tasks/handler/EndBusinessProcessTaskHandlerTest.java
Labels: based-off-786, ns:unspec, prd:unspec, rel:unspec-service-pr-279

#327 fix:resolve directory issue for BPMN file in demo
  Jenkinsfile_CNP
  bin/import-bpmn-diagram.sh
Labels: ns:unspec, prd:unspec, rel:unspec-service-pr-327

#323 refactor: removed unnecessary about to start callback validation (CMC-NA)
  src/main/java/uk/gov/hmcts/reform/unspec/handler/callback/RequestExtensionCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/unspec/validation/RequestExtensionValidator.java
  src/test/java/uk/gov/hmcts/reform/unspec/handler/callback/RequestExtensionCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/validation/RequestExtensionValidatorTest.java
Labels: ns:unspec, prd:unspec, rel:unspec-service-pr-323

#308 feat: integrate with fees and payments (CMC-846)
  ccd-definition/AuthorisationCaseEvent/systemUpdate.json
  ccd-definition/AuthorisationCaseField/solicitor.json
  ccd-definition/AuthorisationCaseField/systemUpdate.json
  ccd-definition/CaseEvent.json
  ccd-definition/CaseEventToFields/CreateClaim.json
  ccd-definition/CaseField.json
  ccd-definition/FixedLists/PbaNumber.json
  e2e/api/steps.js
  e2e/fixtures/createClaim.js
  e2e/pages/createClaim/claimValue.page.js
  e2e/pages/createClaim/pbaNumber.page.js
  e2e/steps_file.js
  src/main/java/uk/gov/hmcts/reform/unspec/aspect/NoOngoingBusinessProcessAspect.java
  src/main/java/uk/gov/hmcts/reform/unspec/callback/CallbackParams.java
  src/main/java/uk/gov/hmcts/reform/unspec/callback/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/unspec/config/PaymentsConfiguration.java
  src/main/java/uk/gov/hmcts/reform/unspec/enums/PbaNumber.java
  src/main/java/uk/gov/hmcts/reform/unspec/handler/callback/PaymentsCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/unspec/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/unspec/service/FeesService.java
  src/main/java/uk/gov/hmcts/reform/unspec/service/PaymentsService.java
  src/main/java/uk/gov/hmcts/reform/unspec/service/tasks/handler/PaymentTaskHandler.java
  src/main/java/uk/gov/hmcts/reform/unspec/service/tasks/listener/PaymentExternalTaskListener.java
  src/main/resources/application.yaml
  src/main/resources/camunda/create_claim.bpmn
  src/main/resources/camunda/request_extension.bpmn
  src/test/java/uk/gov/hmcts/reform/unspec/bpmn/CreateClaimTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/handler/callback/PaymentsCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/service/PaymentsServiceTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/service/tasks/handler/PaymentTaskHandlerTest.java
Labels: data-changes, ns:unspec, prd:unspec, rel:unspec-service-pr-308

#312 feat: added service auth header to camunda client (CMC-932)
  charts/unspec-service/Chart.yaml
  charts/unspec-service/values.preview.template.yaml
  src/main/java/uk/gov/hmcts/reform/unspec/config/ExternalTaskListenerConfiguration.java
  src/test/java/uk/gov/hmcts/reform/unspec/config/ExternalTaskListenerConfigurationTest.java
Labels: ns:unspec, prd:unspec, rel:unspec-service-pr-312

#329 refactor: Update camunda url for demo env and readme content for bpmn file upload(CMC-NA)
  README.md
  bin/variables/load-demo-environment-variables.sh
Labels: ns:unspec, prd:unspec, rel:unspec-service-pr-329

#332 feat: added long polling to external task config (CMC-945)
  src/main/java/uk/gov/hmcts/reform/unspec/config/ExternalTaskListenerConfiguration.java
Labels: ns:unspec, prd:unspec, rel:unspec-service-pr-332

#320 feat: withdraw and discontinue claim once done (CMC-822)
  ccd-definition/CaseEventToFields/DiscontinueClaim.json
  src/main/java/uk/gov/hmcts/reform/unspec/service/flowstate/FlowPredicate.java
  src/main/java/uk/gov/hmcts/reform/unspec/service/flowstate/FlowState.java
  src/main/java/uk/gov/hmcts/reform/unspec/service/flowstate/StateFlowEngine.java
  src/test/java/uk/gov/hmcts/reform/unspec/sampledata/CaseDataBuilder.java
  src/test/java/uk/gov/hmcts/reform/unspec/service/flowstate/FlowPredicateTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/service/flowstate/StateFlowEngineTest.java
Labels: ns:unspec, prd:unspec, rel:unspec-service-pr-320
