Repository hmcts/unspec-service, pull requests merged in 2020-09, with the labels that each got.

#135 feat: applicant respond to respondent's defence (CMC-424)
  ccd-definition/AuthorisationCaseEvent/solicitor.json
  ccd-definition/AuthorisationCaseField/solicitor.json
  ccd-definition/CaseEvent.json
  ccd-definition/CaseEventToComplexTypes/ClaimantResponse.json
  ccd-definition/CaseEventToFields/ClaimantResponse.json
  ccd-definition/CaseField.json
  ccd-definition/ComplexTypes/NotProceedingWithClaim.json
  ccd-definition/FixedLists/NotProceedingWithClaimReason.json
  e2e/pages/respondToDefence/proceed.page.js
  e2e/pages/respondToDefence/uploadResponseDocument.page.js
  e2e/steps_file.js
  e2e/tests/solicitorCreatesClaim_test.js
  src/main/java/uk/gov/hmcts/reform/unspec/callback/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/unspec/handler/callback/RespondToDefenceCallbackHandler.java
  src/test/java/uk/gov/hmcts/reform/unspec/handler/callback/RespondToDefenceCallbackHandlerTest.java
Labels: based-off-563, data-changes, ns:unspec, prd:unspec, rel:unspec-service-pr-135

#157 fix: fixed sonarqube bug causing master scan to fail
  src/main/java/uk/gov/hmcts/reform/unspec/service/documentmanagement/DocumentManagementService.java
Labels: ns:unspec, prd:unspec, rel:unspec-service-pr-157

#145 refactor: data attributes (CMC-619)
  ccd-definition/AuthorisationCaseField/solicitor.json
  ccd-definition/CaseEventToComplexTypes/AcknowledgeService.json
  ccd-definition/CaseEventToComplexTypes/ConfirmService.json
  ccd-definition/CaseEventToComplexTypes/CreateClaim.json
  ccd-definition/CaseEventToComplexTypes/DefendantResponse.json
  ccd-definition/CaseEventToFields/AcknowledgeService.json
  ccd-definition/CaseEventToFields/ConfirmService.json
  ccd-definition/CaseEventToFields/CreateClaim.json
  ccd-definition/CaseEventToFields/DefendantResponse.json
  ccd-definition/CaseEventToFields/RespondExtension.json
  ccd-definition/CaseField.json
  ccd-definition/CaseTypeTab.json
  ccd-definition/ComplexTypes/Party.json
  ccd-definition/ComplexTypes/SolicitorReferences.json
  e2e/fragments/confirmDetails.page.js
  e2e/fragments/statementOfTruth.js
  e2e/pages/acknowledgeSerivce/responseIntention.page.js
  e2e/pages/confirmService/serviceDate.page.js
  e2e/pages/confirmService/serviceLocation.page.js
  e2e/pages/confirmService/serviceMethod.page.js
  e2e/pages/createClaim/claimValue.page.js
  e2e/pages/createClaim/solicitorReferences.page.js
  e2e/steps_file.js
  src/main/java/uk/gov/hmcts/reform/unspec/handler/callback/AcknowledgeServiceCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/unspec/handler/callback/ConfirmServiceCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/unspec/handler/callback/CreateClaimCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/unspec/handler/callback/RequestExtensionCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/unspec/handler/callback/RespondExtensionCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/unspec/handler/callback/RespondToClaimCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/unspec/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/unspec/model/Party.java
  src/main/java/uk/gov/hmcts/reform/unspec/model/SolicitorReferences.java
  src/main/java/uk/gov/hmcts/reform/unspec/service/docmosis/cos/CertificateOfServiceGenerator.java
  src/main/java/uk/gov/hmcts/reform/unspec/service/docmosis/sealedclaim/SealedClaimFormGenerator.java
  src/main/java/uk/gov/hmcts/reform/unspec/utils/CaseNameUtils.java
  src/main/java/uk/gov/hmcts/reform/unspec/validation/HasServiceDateTheSameAsOrAfterIssueDateValidator.java
  src/test/java/uk/gov/hmcts/reform/unspec/handler/callback/AcknowledgeServiceCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/handler/callback/ConfirmServiceCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/handler/callback/CreateClaimCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/handler/callback/RespondExtensionCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/handler/callback/RespondToClaimCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/service/docmosis/cos/CertificateOfServiceGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/utils/CaseNameUtilsTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/validation/HasServiceDateTheSameAsOrAfterIssueDateValidatorTest.java
  src/test/resources/case_data.json
Labels: ns:unspec, prd:unspec, rel:unspec-service-pr-145

#159 feat: withdraw claim (CMC-71)
  ccd-definition/AuthorisationCaseEvent/solicitor.json
  ccd-definition/AuthorisationCaseField/solicitor.json
  ccd-definition/AuthorisationCaseState/solicitor.json
  ccd-definition/CaseEvent.json
  ccd-definition/CaseEventToComplexTypes/WithdrawClaim.json
  ccd-definition/CaseEventToFields/WithdrawClaim.json
  ccd-definition/CaseField.json
  ccd-definition/ComplexTypes/CloseClaim.json
  ccd-definition/State.json
  src/main/java/uk/gov/hmcts/reform/unspec/callback/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/unspec/handler/callback/WithdrawClaimCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/unspec/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/unspec/model/CloseClaim.java
  src/main/java/uk/gov/hmcts/reform/unspec/validation/groups/ClaimWithdrawalDateGroup.java
  src/test/java/uk/gov/hmcts/reform/unspec/handler/callback/WithdrawClaimCallbackHandlerTest.java
Labels: data-changes, ns:unspec, prd:unspec, rel:unspec-service-pr-159

#160 feat: discontinue claim (CMC-72)
  ccd-definition/AuthorisationCaseEvent/solicitor.json
  ccd-definition/AuthorisationCaseField/solicitor.json
  ccd-definition/CaseEvent.json
  ccd-definition/CaseEventToComplexTypes/DiscontinueClaim.json
  ccd-definition/CaseEventToFields/DiscontinueClaim.json
  ccd-definition/CaseField.json
  src/main/java/uk/gov/hmcts/reform/unspec/callback/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/unspec/handler/callback/WithdrawClaimCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/unspec/model/CaseData.java
Labels: data-changes, ns:unspec, prd:unspec, rel:unspec-service-pr-160

#158 feat: hide label of complex type for DOB (CMC-648)
  ccd-definition/CaseEventToFields/DefendantResponse.json
Labels: ns:unspec, prd:unspec, rel:unspec-service-pr-158

#146 test: fast fail e2e tests on failure (CMC-NA)
  codecept.conf.js
Labels: ns:unspec, prd:unspec, rel:unspec-service-pr-146

#151 feat: deploy camunda to preview env (CMC-637)
  Jenkinsfile_CNP
  README.md
  bin/import-bpmn-diagram.sh
  bin/variables/load-demo-environment-variables.sh
  bin/variables/load-preview-environment-variables.sh
  build.gradle
  charts/unspec-service/Chart.yaml
  charts/unspec-service/values.preview.template.yaml
  charts/unspec-service/values.yaml
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/reform/unspec/Application.java
  src/main/resources/application.yaml
  src/main/resources/payment.bpmn
Labels: ns:unspec, prd:unspec, rel:unspec-service-pr-151

#166 feat: validation on dob (CMC-610 )
  ccd-definition/CaseEventToFields/CreateClaim.json
  ccd-definition/CaseField.json
  src/main/java/uk/gov/hmcts/reform/unspec/handler/callback/CreateClaimCallbackHandler.java
  src/test/java/uk/gov/hmcts/reform/unspec/handler/callback/CreateClaimCallbackHandlerTest.java
Labels: ns:unspec, prd:unspec, rel:unspec-service-pr-166

#161 refactor: removed duplicated case field (CMC-NA)
  ccd-definition/CaseEventToFields/DefendantResponse.json
  ccd-definition/CaseField.json
  e2e/fragments/defendantDetails.page.js
  e2e/pages/acknowledgeSerivce/confirmNameAndAddress.page.js
  e2e/steps_file.js
Labels: ns:unspec, prd:unspec, rel:unspec-service-pr-161

#184 Disable gssEncMode mode for postgres connection
  charts/unspec-service/Chart.yaml
  charts/unspec-service/values.yaml
Labels: ns:unspec, prd:unspec, rel:unspec-service-pr-184

#187 Dr flow test
  build.gradle
  src/main/java/uk/gov/hmcts/reform/unspec/stateflow/StateFlow.java
  src/main/java/uk/gov/hmcts/reform/unspec/stateflow/StateFlowBuilder.java
  src/main/java/uk/gov/hmcts/reform/unspec/stateflow/StateFlowContext.java
  src/main/java/uk/gov/hmcts/reform/unspec/stateflow/StateFlowListener.java
  src/main/java/uk/gov/hmcts/reform/unspec/stateflow/exception/StateFlowException.java
  src/main/java/uk/gov/hmcts/reform/unspec/stateflow/grammar/Build.java
  src/main/java/uk/gov/hmcts/reform/unspec/stateflow/grammar/BuildNext.java
  src/main/java/uk/gov/hmcts/reform/unspec/stateflow/grammar/CreateFlow.java
  src/main/java/uk/gov/hmcts/reform/unspec/stateflow/grammar/CreateFlowNext.java
  src/main/java/uk/gov/hmcts/reform/unspec/stateflow/grammar/CreateSubflow.java
  src/main/java/uk/gov/hmcts/reform/unspec/stateflow/grammar/CreateSubflowNext.java
  src/main/java/uk/gov/hmcts/reform/unspec/stateflow/grammar/Initial.java
  src/main/java/uk/gov/hmcts/reform/unspec/stateflow/grammar/InitialNext.java
  src/main/java/uk/gov/hmcts/reform/unspec/stateflow/grammar/OnlyIf.java
  src/main/java/uk/gov/hmcts/reform/unspec/stateflow/grammar/OnlyIfNext.java
  src/main/java/uk/gov/hmcts/reform/unspec/stateflow/grammar/State.java
  src/main/java/uk/gov/hmcts/reform/unspec/stateflow/grammar/StateNext.java
  src/main/java/uk/gov/hmcts/reform/unspec/stateflow/grammar/Subflow.java
  src/main/java/uk/gov/hmcts/reform/unspec/stateflow/grammar/SubflowNext.java
  src/main/java/uk/gov/hmcts/reform/unspec/stateflow/grammar/TransitionTo.java
  src/main/java/uk/gov/hmcts/reform/unspec/stateflow/grammar/TransitionToNext.java
  src/main/java/uk/gov/hmcts/reform/unspec/stateflow/model/State.java
  src/main/java/uk/gov/hmcts/reform/unspec/stateflow/model/Transition.java
  src/main/java/uk/gov/hmcts/reform/unspec/stateflow/utils/StateMachineUtils.java
  src/test/java/uk/gov/hmcts/reform/unspec/stateflow/StateFlowAssert.java
  src/test/java/uk/gov/hmcts/reform/unspec/stateflow/StateFlowBuilderTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/stateflow/StateFlowContextTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/stateflow/StateFlowTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/stateflow/model/StateTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/stateflow/model/TransitionTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/stateflow/utils/StateMachineUtilsTest.java
Labels: ns:unspec, prd:unspec, rel:unspec-service-pr-187

#165 feat: redesign capturing claim type (CMC-358)
  ccd-definition/AuthorisationCaseField/solicitor.json
  ccd-definition/CaseEventToFields/CreateClaim.json
  ccd-definition/CaseField.json
  ccd-definition/FixedLists/ClaimType.json
  ccd-definition/FixedLists/PersonalInjuryType.json
  e2e/pages/createClaim/claimType.page.js
  e2e/pages/createClaim/personalInjuryType.page.js
  e2e/steps_file.js
  src/main/java/uk/gov/hmcts/reform/unspec/enums/AllocatedTrack.java
  src/main/java/uk/gov/hmcts/reform/unspec/enums/ClaimType.java
  src/test/java/uk/gov/hmcts/reform/unspec/enums/AllocatedTrackTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/handler/callback/CreateClaimCallbackHandlerTest.java
Labels: data-changes, ns:unspec, prd:unspec, rel:unspec-service-pr-165

#182 fix: added empty callback so defendant details are displayed (CMC-627)
  ccd-definition/CaseEventToFields/DefendantResponse.json
  src/main/java/uk/gov/hmcts/reform/unspec/handler/callback/RespondToClaimCallbackHandler.java
Labels: ns:unspec, prd:unspec, rel:unspec-service-pr-182

#189 feat: case data builder (CMC-643)
  src/main/java/uk/gov/hmcts/reform/unspec/enums/DefendantResponseType.java
  src/main/java/uk/gov/hmcts/reform/unspec/enums/PersonalInjuryType.java
  src/main/java/uk/gov/hmcts/reform/unspec/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/unspec/model/ResponseDocument.java
  src/main/java/uk/gov/hmcts/reform/unspec/model/ServedDocumentFiles.java
  src/test/java/uk/gov/hmcts/reform/unspec/handler/callback/CreateClaimCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/sampledata/AddressBuilder.java
  src/test/java/uk/gov/hmcts/reform/unspec/sampledata/CaseDataBuilder.java
  src/test/java/uk/gov/hmcts/reform/unspec/sampledata/CaseDocumentBuilder.java
  src/test/java/uk/gov/hmcts/reform/unspec/sampledata/DocumentBuilder.java
  src/test/java/uk/gov/hmcts/reform/unspec/sampledata/PartyBuilder.java
  src/test/java/uk/gov/hmcts/reform/unspec/sampledata/ServiceMethodBuilder.java
  src/test/java/uk/gov/hmcts/reform/unspec/sampledata/StatementOfTruthBuilder.java
  src/test/java/uk/gov/hmcts/reform/unspec/service/docmosis/cos/CertificateOfServiceGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/service/docmosis/sealedclaim/SealedClaimFormGeneratorTest.java
  src/test/resources/case_data.json
Labels: ns:unspec, prd:unspec, rel:unspec-service-pr-189

#198 feat: update label in sealed claim pdf (CMC-597)
  docker/docmosis/templates/CV-UNS-GOR-ENG-0001.docx
Labels: ns:unspec, prd:unspec, rel:unspec-service-pr-198

#200 feat: case stayed scheduler with camuda (CMC-638)
  Jenkinsfile_CNP
  bin/import-bpmn-diagram.sh
  build.gradle
  charts/unspec-service/values.preview.template.yaml
  src/main/java/uk/gov/hmcts/reform/unspec/config/ExternalTaskListenerConfiguration.java
  src/main/java/uk/gov/hmcts/reform/unspec/helpers/ExponentialRetryTimeoutHelper.java
  src/main/java/uk/gov/hmcts/reform/unspec/model/search/Query.java
  src/main/java/uk/gov/hmcts/reform/unspec/service/CaseStayedFinder.java
  src/main/java/uk/gov/hmcts/reform/unspec/service/CoreCaseDataService.java
  src/main/java/uk/gov/hmcts/reform/unspec/service/search/CaseStayedSearchService.java
  src/main/java/uk/gov/hmcts/reform/unspec/service/search/ElasticSearchService.java
  src/main/java/uk/gov/hmcts/reform/unspec/service/tasks/handler/CaseStayedHandler.java
  src/main/java/uk/gov/hmcts/reform/unspec/service/tasks/listener/CaseStayedExternalTaskListener.java
  src/main/resources/bootstrap.yaml
  src/main/resources/case_stayed_scheduler.bpmn
  src/main/resources/payment.bpmn
  src/test/java/uk/gov/hmcts/reform/unspec/bpmn/BpmnBaseTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/bpmn/CaseStayedSchedulerTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/config/ExternalTaskListenerConfigurationTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/helpers/ExponentialRetryTimeoutHelperTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/model/search/QueryTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/service/CoreCaseDataServiceTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/service/search/CaseStayedSearchServiceTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/service/tasks/CaseStayedHandlerTest.java
Labels: ns:unspec, prd:unspec, rel:unspec-service-pr-200

#203 fix: case name in claim pdf (CMC-740)
  src/main/java/uk/gov/hmcts/reform/unspec/handler/callback/CreateClaimCallbackHandler.java
Labels: ns:unspec, prd:unspec, rel:unspec-service-pr-203

#217 fix: reverted change to SearchSourceBuilder (CMC-NA)
  src/main/java/uk/gov/hmcts/reform/unspec/model/search/Query.java
  src/main/java/uk/gov/hmcts/reform/unspec/service/CoreCaseDataService.java
  src/main/java/uk/gov/hmcts/reform/unspec/service/search/CaseStayedSearchService.java
  src/main/java/uk/gov/hmcts/reform/unspec/service/search/ElasticSearchService.java
  src/test/java/uk/gov/hmcts/reform/unspec/model/search/QueryTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/service/CoreCaseDataServiceTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/service/search/CaseStayedSearchServiceTest.java
Labels: ns:unspec, prd:unspec, rel:unspec-service-pr-217

#196 feat: State flow engine (CMC-644)
  src/main/java/uk/gov/hmcts/reform/unspec/enums/CaseState.java
  src/main/java/uk/gov/hmcts/reform/unspec/helpers/CaseDetailsConverter.java
  src/main/java/uk/gov/hmcts/reform/unspec/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/unspec/stateflow/StateFlow.java
  src/main/java/uk/gov/hmcts/reform/unspec/stateflow/StateFlowBuilder.java
  src/main/java/uk/gov/hmcts/reform/unspec/stateflow/StateFlowEngine.java
  src/main/java/uk/gov/hmcts/reform/unspec/stateflow/grammar/OnlyIf.java
  src/main/java/uk/gov/hmcts/reform/unspec/stateflow/model/Transition.java
  src/main/java/uk/gov/hmcts/reform/unspec/stateflow/utils/PredicateUtils.java
  src/main/java/uk/gov/hmcts/reform/unspec/validation/RequestExtensionValidator.java
  src/test/java/uk/gov/hmcts/reform/unspec/handler/callback/BaseCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/handler/callback/RequestExtensionCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/handler/callback/RespondExtensionCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/sampledata/CallbackParamsBuilder.java
  src/test/java/uk/gov/hmcts/reform/unspec/sampledata/CaseDataBuilder.java
  src/test/java/uk/gov/hmcts/reform/unspec/sampledata/CaseDetailsBuilder.java
  src/test/java/uk/gov/hmcts/reform/unspec/stateflow/StateFlowBuilderTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/stateflow/StateFlowEngineTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/stateflow/StateFlowTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/stateflow/utils/PredicateUtilsTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/validation/RequestExtensionValidatorTest.java
Labels: ns:unspec, prd:unspec, rel:unspec-service-pr-196

#197 feat: improve test pyramid (CMC-543)
  Jenkinsfile_CNP
  README.md
  build.gradle
  codecept.conf.js
  e2e/api/dataHelper.js
  e2e/api/request.js
  e2e/api/restHelper.js
  e2e/api/steps.js
  e2e/config.js
  e2e/fixtures/confirmService.js
  e2e/fixtures/createClaim.js
  e2e/tests/api_test.js
  package.json
  yarn.lock
Labels: ns:unspec, prd:unspec, rel:unspec-service-pr-197

#221 fix: moved setting env variables to before functional step
  Jenkinsfile_CNP
Labels: ns:unspec, prd:unspec, rel:unspec-service-pr-221

#205 feat: find the internal state based on the case data (CMC-642)
  src/main/java/uk/gov/hmcts/reform/unspec/service/flowstate/FlowPredicate.java
  src/main/java/uk/gov/hmcts/reform/unspec/service/flowstate/FlowState.java
  src/main/java/uk/gov/hmcts/reform/unspec/service/flowstate/FlowStateAllowedEventService.java
  src/main/java/uk/gov/hmcts/reform/unspec/service/flowstate/StateFlowEngine.java
  src/main/java/uk/gov/hmcts/reform/unspec/stateflow/StateFlow.java
  src/main/java/uk/gov/hmcts/reform/unspec/stateflow/StateFlowEngine.java
  src/main/java/uk/gov/hmcts/reform/unspec/stateflow/exception/StateFlowException.java
  src/main/java/uk/gov/hmcts/reform/unspec/validation/RequestExtensionValidator.java
  src/test/java/uk/gov/hmcts/reform/unspec/handler/callback/RequestExtensionCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/handler/callback/RespondExtensionCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/sampledata/CaseDetailsBuilder.java
  src/test/java/uk/gov/hmcts/reform/unspec/service/flowstate/FlowPredicateTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/service/flowstate/FlowStateAllowedEventServiceTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/service/flowstate/FlowStateTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/service/flowstate/StateFlowEngineTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/stateflow/StateFlowBuilderTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/stateflow/StateFlowTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/validation/RequestExtensionValidatorTest.java
Labels: ns:unspec, prd:unspec, rel:unspec-service-pr-205

#222 fix: toJSONString on source value in es query string (CMC-774)
  src/main/java/uk/gov/hmcts/reform/unspec/model/search/Query.java
  src/main/java/uk/gov/hmcts/reform/unspec/service/search/CaseStayedSearchService.java
  src/test/java/uk/gov/hmcts/reform/unspec/model/search/QueryTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/service/search/CaseStayedSearchServiceTest.java
Labels: ns:unspec, prd:unspec, rel:unspec-service-pr-222

#223 ci: Nightly dev - add secret for API test
  Jenkinsfile_nightly
Labels: ns:unspec, prd:unspec, rel:unspec-service-pr-223

#211 feat: added party type to defendant details case field (CMC-625)
  ccd-definition/CaseField.json
  ccd-definition/ComplexTypes/Party.json
  src/main/java/uk/gov/hmcts/reform/unspec/handler/callback/CreateClaimCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/unspec/model/Party.java
  src/test/java/uk/gov/hmcts/reform/unspec/handler/callback/CreateClaimCallbackHandlerTest.java
Labels: data-changes, ns:unspec, prd:unspec, rel:unspec-service-pr-211

#224 ci: github action to add data changes label to PRs
  .github/labeler.yml
  .github/workflows/label.yml
Labels: ns:unspec, prd:unspec, rel:unspec-service-pr-224

#234 chore: bumped owasp dependencycheck plugin version to 6 (CMC-NA)
  build.gradle
  config/owasp/suppressions.xml
Labels: ns:unspec, prd:unspec, rel:unspec-service-pr-234

#227 refactor: removed party name logic from claim handler
  src/main/java/uk/gov/hmcts/reform/unspec/handler/callback/CreateClaimCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/unspec/model/Party.java
  src/test/java/uk/gov/hmcts/reform/unspec/model/PartyTest.java
Labels: ns:unspec, prd:unspec, rel:unspec-service-pr-227

#239 fix: api tests failing on master (CMC-NA)
  e2e/api/steps.js
Labels: ns:unspec, prd:unspec, rel:unspec-service-pr-239

#210 feat: email notification by camunda tasks (CMC-639)
  build.gradle
  ccd-definition/AuthorisationCaseEvent/systemUpdate.json
  ccd-definition/AuthorisationCaseField/systemUpdate.json
  ccd-definition/CaseEvent.json
  ccd-definition/CaseField.json
  ccd-definition/ComplexTypes/BusinessProcess.json
  ccd-definition/FixedLists/BusinessProcessStatus.json
  charts/unspec-service/Chart.yaml
  charts/unspec-service/values.preview.template.yaml
  charts/unspec-service/values.yaml
  src/integrationTest/java/uk/gov/hmcts/reform/unspec/controllers/BaseIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/unspec/controllers/CallbackControllerTest.java
  src/main/java/uk/gov/hmcts/reform/unspec/callback/CallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/unspec/callback/CallbackHandlerFactory.java
  src/main/java/uk/gov/hmcts/reform/unspec/callback/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/unspec/config/AspectConfiguration.java
  src/main/java/uk/gov/hmcts/reform/unspec/config/NotificationsConfiguration.java
  src/main/java/uk/gov/hmcts/reform/unspec/config/properties/notification/NotificationsProperties.java
  src/main/java/uk/gov/hmcts/reform/unspec/handler/callback/notification/ClaimIssueNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/unspec/handler/callback/notification/NotificationData.java
  src/main/java/uk/gov/hmcts/reform/unspec/model/BusinessProcess.java
  src/main/java/uk/gov/hmcts/reform/unspec/model/BusinessProcessStatus.java
  src/main/java/uk/gov/hmcts/reform/unspec/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/unspec/service/CoreCaseDataService.java
  src/main/java/uk/gov/hmcts/reform/unspec/service/NotificationException.java
  src/main/java/uk/gov/hmcts/reform/unspec/service/NotificationService.java
  src/main/java/uk/gov/hmcts/reform/unspec/service/tasks/handler/CaseEventTaskHandler.java
  src/main/java/uk/gov/hmcts/reform/unspec/service/tasks/listener/CaseEventExternalTaskListener.java
  src/main/java/uk/gov/hmcts/reform/unspec/stereotypes/ExternalTaskLogger.java
  src/main/java/uk/gov/hmcts/reform/unspec/stereotypes/LogExternalTask.java
  src/main/resources/application.yaml
  src/main/resources/bootstrap.yaml
  src/main/resources/claim_issue.bpmn
  src/test/java/uk/gov/hmcts/reform/unspec/bpmn/BpmnBaseTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/bpmn/CaseEventTaskTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/callback/CallbackHandlerFactoryTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/handler/callback/notification/ClaimIssueNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/service/tasks/handler/CaseEventTaskHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/service/tasks/handler/CaseStayedHandlerTest.java
Labels: data-changes, ns:unspec, prd:unspec, rel:unspec-service-pr-210

#235 feat: event management (CMC-545)
  build.gradle
  ccd-definition/CaseEvent.json
  src/integrationTest/java/uk/gov/hmcts/reform/unspec/controllers/BaseIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/unspec/controllers/CallbackControllerTest.java
  src/main/java/uk/gov/hmcts/reform/unspec/advice/EventAllowed.java
  src/main/java/uk/gov/hmcts/reform/unspec/advice/EventAllowedAspect.java
  src/main/java/uk/gov/hmcts/reform/unspec/callback/CallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/unspec/callback/CallbackHandlerFactory.java
  src/main/java/uk/gov/hmcts/reform/unspec/callback/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/unspec/config/AopConfig.java
  src/main/java/uk/gov/hmcts/reform/unspec/handler/callback/AcknowledgeServiceCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/unspec/handler/callback/CreateClaimCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/unspec/handler/callback/RespondToClaimCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/unspec/handler/callback/RespondToDefenceCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/unspec/model/ResponseDocument.java
  src/main/java/uk/gov/hmcts/reform/unspec/service/flowstate/FlowPredicate.java
  src/main/java/uk/gov/hmcts/reform/unspec/service/flowstate/FlowStateAllowedEventService.java
  src/test/java/uk/gov/hmcts/reform/unspec/advice/EventAllowedAspectTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/callback/CallbackHandlerFactoryTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/handler/callback/AcknowledgeServiceCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/handler/callback/CreateClaimCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/handler/callback/RespondToClaimCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/handler/callback/RespondToDefenceCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/sampledata/CallbackParamsBuilder.java
  src/test/java/uk/gov/hmcts/reform/unspec/sampledata/CaseDetailsBuilder.java
  src/test/java/uk/gov/hmcts/reform/unspec/service/flowstate/FlowStateAllowedEventServiceTest.java
Labels: ns:unspec, prd:unspec, rel:unspec-service-pr-235

#241 refact: cleanup unnecessary configurations
  src/main/java/uk/gov/hmcts/reform/unspec/config/AspectConfiguration.java
  src/main/java/uk/gov/hmcts/reform/unspec/service/tasks/handler/CaseEventTaskHandler.java
  src/main/java/uk/gov/hmcts/reform/unspec/stereotypes/LogExternalTask.java
Labels: ns:unspec, prd:unspec, rel:unspec-service-pr-241
