Repository hmcts/unspec-service, pull requests merged in 2020-12, with the labels that each got.

#428 feat: removed not proceeding reason for claimant (CMC-1028)
  ccd-definition/AuthorisationCaseField/solicitor.json
  ccd-definition/AuthorisationCaseField/systemUpdate.json
  ccd-definition/CaseEventToFields/ClaimantResponse.json
  ccd-definition/CaseField.json
  ccd-definition/ComplexTypes/NotProceedingWithClaim.json
  ccd-definition/FixedLists/NotProceedingWithClaimReason.json
  src/main/java/uk/gov/hmcts/reform/unspec/model/ApplicantNotProceedingReason.java
  src/main/java/uk/gov/hmcts/reform/unspec/model/CaseData.java
  src/test/java/uk/gov/hmcts/reform/unspec/sampledata/CaseDataBuilder.java
Labels: data-changes, ns:unspec, prd:unspec, rel:unspec-service-pr-428

#435 bug: Download sealed claim form hyperlink fix (CMC-1103)
  src/main/java/uk/gov/hmcts/reform/unspec/handler/callback/CreateClaimCallbackHandler.java
Labels: ns:unspec, prd:unspec, rel:unspec-service-pr-435

#436 test: reduced business process check retry time and removed backoff
  e2e/api/restHelper.js
  e2e/api/retryHelper.js
  e2e/api/testingSupport.js
Labels: ns:unspec, prd:unspec, rel:unspec-service-pr-436

#431 fet: rpa contract test (CMC-1053)
  Jenkinsfile_CNP
  README.md
  build.gradle
  src/contractTest/java/uk/gov/hmcts/reform/unspec/BaseRpaTest.java
  src/contractTest/java/uk/gov/hmcts/reform/unspec/RpaConsumerTest.java
  src/contractTest/java/uk/gov/hmcts/reform/unspec/matcher/IsValidJson.java
  src/contractTest/resources/rpa-json-schema.json
  src/main/java/uk/gov/hmcts/reform/unspec/model/robotics/LitigiousParty.java
  src/main/java/uk/gov/hmcts/reform/unspec/model/robotics/RoboticsAddress.java
  src/main/java/uk/gov/hmcts/reform/unspec/model/robotics/RoboticsAddresses.java
  src/main/java/uk/gov/hmcts/reform/unspec/model/robotics/RoboticsCaseData.java
  src/main/java/uk/gov/hmcts/reform/unspec/model/robotics/Solicitor.java
  src/main/java/uk/gov/hmcts/reform/unspec/model/robotics/ToJsonString.java
  src/main/java/uk/gov/hmcts/reform/unspec/service/robotics/mapper/RoboticsDataMapper.java
  src/test/java/uk/gov/hmcts/reform/unspec/assertion/RoboticsCaseDataAssert.java
Labels: ns:unspec, prd:unspec, rel:unspec-service-pr-431

#440 test: incident is returned only when process instance is found
  src/main/java/uk/gov/hmcts/reform/unspec/testingsupport/TestingSupportController.java
Labels: ns:unspec, prd:unspec, rel:unspec-service-pr-440

#444 fix: add missing content type header
  src/contractTest/java/uk/gov/hmcts/reform/unspec/BaseRpaTest.java
  src/contractTest/java/uk/gov/hmcts/reform/unspec/RpaConsumerTest.java
Labels: ns:unspec, prd:unspec, rel:unspec-service-pr-444

#447 fix: add commit hash tag to pact (CMC-1054)
  build.gradle
Labels: ns:unspec, prd:unspec, rel:unspec-service-pr-447

#450 fix: temporarily removed document generation from defendant response (CMC-973)
  src/main/resources/camunda/defendant_response.bpmn
  src/test/java/uk/gov/hmcts/reform/unspec/bpmn/DefendantResponseTest.java
Labels: ns:unspec, prd:unspec, rel:unspec-service-pr-450

#453 Revert "fix: temporarily removed document generation from defendant response (CMC-973)"
  src/main/resources/camunda/defendant_response.bpmn
  src/test/java/uk/gov/hmcts/reform/unspec/bpmn/DefendantResponseTest.java
Labels: ns:unspec, prd:unspec, rel:unspec-service-pr-453

#448 fix: remove conflicting validation to fix e2e on friday evening (CMC-1104)
  e2e/api/steps.js
  e2e/fixtures/events/confirmService.js
  src/main/java/uk/gov/hmcts/reform/unspec/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/unspec/validation/HasDeemedDateOfServiceTheSameAsOrAfterIssueDateValidator.java
  src/main/java/uk/gov/hmcts/reform/unspec/validation/interfaces/HasDeemedDateOfServiceTheSameAsOrAfterIssueDate.java
  src/test/java/uk/gov/hmcts/reform/unspec/handler/callback/ConfirmServiceCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/validation/HasDeemedDateOfServiceTheSameAsOrAfterIssueDateValidatorTest.java
Labels: ns:unspec, prd:unspec, rel:unspec-service-pr-448

#445 feat: intention to proceed DQ (CMC-202)
  e2e/fixtures/events/claimantResponse.js
  src/main/java/uk/gov/hmcts/reform/unspec/service/docmosis/dq/DirectionsQuestionnaireGenerator.java
  src/main/resources/camunda/claimant_response.bpmn
  src/test/java/uk/gov/hmcts/reform/unspec/bpmn/ClaimantResponseTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/sampledata/CaseDataBuilder.java
  src/test/java/uk/gov/hmcts/reform/unspec/service/docmosis/dq/DirectionsQuestionnaireGeneratorTest.java
Labels: ns:unspec, prd:unspec, rel:unspec-service-pr-445

#457 fix: create claim notification properties and test (CMC-1106)
  src/main/java/uk/gov/hmcts/reform/unspec/handler/callback/notification/CreateClaimRespondentNotificationHandler.java
  src/test/java/uk/gov/hmcts/reform/unspec/handler/callback/notification/CreateClaimRespondentNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/sampledata/CaseDataBuilder.java
Labels: ns:unspec, prd:unspec, rel:unspec-service-pr-457

#461 test: added retries when returning to case details (CMC-1127)
  e2e/config.js
  e2e/fragments/event.js
  e2e/steps_file.js
Labels: ns:unspec, prd:unspec, rel:unspec-service-pr-461

#430 feat: pba payment screen (CMC-1062)
  ccd-definition/AuthorisationCaseField/solicitor.json
  ccd-definition/AuthorisationCaseField/systemUpdate.json
  ccd-definition/CaseEventToComplexTypes/CreateClaim.json
  ccd-definition/CaseEventToFields/CreateClaim.json
  ccd-definition/CaseField.json
  ccd-definition/ComplexTypes/Fee.json
  ccd-definition/UserProfile.json
  charts/unspec-service/Chart.yaml
  charts/unspec-service/values.yaml
  e2e/api/dataHelper.js
  e2e/api/steps.js
  e2e/fixtures/events/createClaim.js
  e2e/fixtures/events/createClaimLitigantInPerson.js
  e2e/pages/createClaim/paymentReference.page.js
  e2e/pages/createClaim/pbaNumber.page.js
  e2e/steps_file.js
  src/integrationTest/java/uk/gov/hmcts/reform/unspec/TestIdamConfiguration.java
  src/main/java/uk/gov/hmcts/reform/prd/client/OrganisationApi.java
  src/main/java/uk/gov/hmcts/reform/prd/model/ContactInformation.java
  src/main/java/uk/gov/hmcts/reform/prd/model/DxAddress.java
  src/main/java/uk/gov/hmcts/reform/prd/model/Organisation.java
  src/main/java/uk/gov/hmcts/reform/prd/model/SuperUser.java
  src/main/java/uk/gov/hmcts/reform/unspec/Application.java
  src/main/java/uk/gov/hmcts/reform/unspec/enums/PbaNumber.java
  src/main/java/uk/gov/hmcts/reform/unspec/handler/callback/CreateClaimCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/unspec/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/unspec/model/Fee.java
  src/main/java/uk/gov/hmcts/reform/unspec/model/common/DynamicList.java
  src/main/java/uk/gov/hmcts/reform/unspec/model/common/DynamicListElement.java
  src/main/java/uk/gov/hmcts/reform/unspec/service/FeesService.java
  src/main/java/uk/gov/hmcts/reform/unspec/service/OrganisationService.java
  src/main/java/uk/gov/hmcts/reform/unspec/service/PaymentsService.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/unspec/handler/callback/CreateClaimCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/model/FeeTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/service/FeesServiceTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/service/PaymentsServiceTest.java
Labels: data-changes, ns:unspec, prd:unspec, rel:unspec-service-pr-430
