Repository hmcts/unspec-service, pull requests merged in 2020-11, with the labels that each got.

#326 feat: cover all events on api tests (CMC-907)
  ccd-definition/CaseEventToFields/ClaimantResponse.json
  e2e/api/dataHelper.js
  e2e/api/steps.js
  e2e/config.js
  e2e/fixtures/address.js
  e2e/fixtures/confirmService.js
  e2e/fixtures/createClaim.js
  e2e/fixtures/events/acknowledgeService.js
  e2e/fixtures/events/claimantResponse.js
  e2e/fixtures/events/confirmService.js
  e2e/fixtures/events/createClaim.js
  e2e/fixtures/events/defendantResponse.js
  e2e/fixtures/events/requestExtension.js
  e2e/fixtures/events/respondExtension.js
  e2e/fixtures/respondToClaim.js
  e2e/steps_file.js
  e2e/tests/api_test.js
Labels: ns:unspec, prd:unspec, rel:unspec-service-pr-326

#324 fix: reworked external task handle failure logic (CMC-796)
  src/main/java/uk/gov/hmcts/reform/unspec/service/tasks/handler/BaseExternalTaskHandler.java
  src/main/java/uk/gov/hmcts/reform/unspec/service/tasks/handler/CaseEventTaskHandler.java
  src/main/java/uk/gov/hmcts/reform/unspec/service/tasks/handler/CaseStayedHandler.java
  src/main/java/uk/gov/hmcts/reform/unspec/service/tasks/handler/PollingEventEmitterHandler.java
  src/main/java/uk/gov/hmcts/reform/unspec/service/tasks/handler/StartBusinessProcessTaskHandler.java
  src/main/java/uk/gov/hmcts/reform/unspec/stereotypes/ExternalTaskLogger.java
  src/test/java/uk/gov/hmcts/reform/unspec/service/tasks/handler/CaseEventTaskHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/service/tasks/handler/CaseStayedHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/service/tasks/handler/PollingEventEmitterHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/service/tasks/handler/StartBusinessProcessTaskHandlerTest.java
Labels: ns:unspec, prd:unspec, rel:unspec-service-pr-324

#343 fix: resolve flyway version upgrade issue(CMC-900)
  build.gradle
Labels: ns:unspec, prd:unspec, rel:unspec-service-pr-343

#335 fix: Validate deemed date of service with claim issued date (CMC-616)
  e2e/api/steps.js
  e2e/fixtures/events/confirmService.js
  src/main/java/uk/gov/hmcts/reform/unspec/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/unspec/validation/HasDeemedDateOfServiceTheSameAsOrAfterIssueDateValidator.java
  src/main/java/uk/gov/hmcts/reform/unspec/validation/HasServiceDateTheSameAsOrAfterIssueDateValidator.java
  src/main/java/uk/gov/hmcts/reform/unspec/validation/interfaces/HasDeemedDateOfServiceTheSameAsOrAfterIssueDate.java
  src/test/java/uk/gov/hmcts/reform/unspec/handler/callback/ConfirmServiceCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/validation/HasDeemedDateOfServiceTheSameAsOrAfterIssueDateValidatorTest.java
Labels: ns:unspec, prd:unspec, rel:unspec-service-pr-335

#346 fix: reduced camunda aysnc response timeout to 29 seconds (CMC-NA)
  src/main/java/uk/gov/hmcts/reform/unspec/config/ExternalTaskListenerConfiguration.java
Labels: ns:unspec, prd:unspec, rel:unspec-service-pr-346

#345 fix: add logging back to finish business process (CMC-950)
  src/main/java/uk/gov/hmcts/reform/unspec/service/tasks/handler/EndBusinessProcessTaskHandler.java
Labels: ns:unspec, prd:unspec, rel:unspec-service-pr-345

#336 fix: added min validation to hearing length fields (CMC-940)
  ccd-definition/ComplexTypes/DQ/Hearing.json
Labels: ns:unspec, prd:unspec, rel:unspec-service-pr-336

#339 feat: new claim type options (CMC-853)
  ccd-definition/FixedLists/ClaimType.json
  src/main/java/uk/gov/hmcts/reform/unspec/enums/ClaimType.java
  src/test/java/uk/gov/hmcts/reform/unspec/enums/AllocatedTrackTest.java
Labels: ns:unspec, prd:unspec, rel:unspec-service-pr-339

#351 fix: added retries to api tests request (CMC-NA)
  e2e/api/request.js
  e2e/api/restHelper.js
  e2e/api/retryHelper.js
  e2e/api/steps.js
Labels: ns:unspec, prd:unspec, rel:unspec-service-pr-351

#352 fix: added refreshing start event token on api tests (CMC-NA)
  e2e/api/steps.js
Labels: ns:unspec, prd:unspec, rel:unspec-service-pr-352

#341 feat: move case to stayed after claimant response (CMC-645)
  ccd-definition/CaseEvent.json
  e2e/api/steps.js
  src/main/java/uk/gov/hmcts/reform/unspec/handler/callback/RespondToDefenceCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/unspec/service/flowstate/FlowPredicate.java
  src/main/java/uk/gov/hmcts/reform/unspec/service/flowstate/StateFlowEngine.java
  src/test/java/uk/gov/hmcts/reform/unspec/handler/callback/RespondToDefenceCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/service/flowstate/FlowStateAllowedEventServiceTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/service/flowstate/StateFlowEngineTest.java
Labels: ns:unspec, prd:unspec, rel:unspec-service-pr-341

#342 feat: notify claimant solicitor of acknowledge service (CMC-927)
  src/main/java/uk/gov/hmcts/reform/unspec/config/properties/notification/NotificationsProperties.java
  src/main/java/uk/gov/hmcts/reform/unspec/handler/callback/notification/AcknowledgeServiceApplicantNotificationHandler.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/unspec/handler/callback/notification/AcknowledgeServiceApplicantNotificationHandlerTest.java
Labels: ns:unspec, prd:unspec, rel:unspec-service-pr-342

#337 feat: defendant dq for small claim track (CMC-912)
  ccd-definition/CaseEventToFields/DefendantResponse.json
Labels: ns:unspec, prd:unspec, rel:unspec-service-pr-337

#338 feat: claimant dq for small claim track (CMC-911)
  ccd-definition/CaseEventToFields/ClaimantResponse.json
Labels: ns:unspec, prd:unspec, rel:unspec-service-pr-338

#350 feat: additional service method options (CMC-790)
  ccd-definition/AuthorisationCaseField/solicitor.json
  ccd-definition/CaseEventToFields/ConfirmService.json
  ccd-definition/CaseField.json
  ccd-definition/FixedLists/ServiceMethod.json
  src/main/java/uk/gov/hmcts/reform/unspec/enums/ServiceMethodType.java
Labels: data-changes, ns:unspec, prd:unspec, rel:unspec-service-pr-350

#356 fix: update respond to defence e2e assertion (CMC-NA)
  e2e/steps_file.js
  e2e/tests/solicitorCreatesClaim_test.js
Labels: ns:unspec, prd:unspec, rel:unspec-service-pr-356

#340 feat: defendant litigation friend event (CMC-930)
  ccd-definition/AuthorisationCaseEvent/solicitor.json
  ccd-definition/AuthorisationCaseField/solicitor.json
  ccd-definition/CaseEvent.json
  ccd-definition/CaseEventToFields/AddDefendantLitigationFriend.json
  ccd-definition/CaseEventToFields/CreateClaim.json
  ccd-definition/CaseField.json
  ccd-definition/ComplexTypes/LitigationFriend.json
  e2e/api/steps.js
  e2e/fixtures/events/addDefendantLitigationFriend.js
  e2e/fixtures/events/createClaim.js
  e2e/fragments/litigationFriend.js
  e2e/pages/addDefendantLitigationFriend/defendantLitigationDetails.page.js
  e2e/pages/createClaim/claimantLitigationDetails.page.js
  e2e/steps_file.js
  e2e/tests/solicitorCreatesClaim_test.js
  src/main/java/uk/gov/hmcts/reform/unspec/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/unspec/model/LitigationFriend.java
Labels: data-changes, ns:unspec, prd:unspec, rel:unspec-service-pr-340

#319 feat: Restrict discontinue and withdraw events once actioned any of these (CMC-822)
  ccd-definition/CaseEvent.json
Labels: ns:unspec, prd:unspec, rel:unspec-service-pr-319

#349 fix: dispatch business process only on event emitter (CMC-944)
  ccd-definition/CaseEvent.json
  src/main/java/uk/gov/hmcts/reform/unspec/aspect/EventEmitterAspect.java
  src/main/java/uk/gov/hmcts/reform/unspec/handler/callback/DispatchBusinessProcessCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/unspec/service/EventEmitterService.java
  src/main/java/uk/gov/hmcts/reform/unspec/service/tasks/handler/PollingEventEmitterHandler.java
  src/test/java/uk/gov/hmcts/reform/unspec/aspect/EventEmitterAspectTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/handler/callback/DispatchBusinessProcessCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/service/EventEmitterServiceTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/service/tasks/handler/PollingEventEmitterHandlerTest.java
Labels: ns:unspec, prd:unspec, rel:unspec-service-pr-349

#353 feat: generate certificate of service with camunda task (CMC-934)
  ccd-definition/AuthorisationCaseEvent/systemUpdate.json
  ccd-definition/CaseEvent.json
  src/main/java/uk/gov/hmcts/reform/unspec/callback/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/unspec/handler/callback/ConfirmServiceCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/unspec/handler/callback/GenerateCertificateOfServiceCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/unspec/service/docmosis/DocmosisTemplates.java
  src/main/resources/camunda/confirm_service.bpmn
  src/test/java/uk/gov/hmcts/reform/unspec/bpmn/ConfirmServiceTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/handler/callback/ConfirmServiceCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/handler/callback/GenerateCertificateOfServiceCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/service/docmosis/cos/CertificateOfServiceGeneratorTest.java
Labels: ns:unspec, prd:unspec, rel:unspec-service-pr-353

#363 fix: removed azurem version from main.tf (CMC-NA)
  infrastructure/main.tf
Labels: ns:unspec, prd:unspec, rel:unspec-service-pr-363

#357 feat: add sendgrid client module (CMC-954)
  .gitignore
  build.gradle
  sendgrid-client/build.gradle
  sendgrid-client/src/main/java/uk/gov/hmcts/reform/sendgrid/EmailAttachment.java
  sendgrid-client/src/main/java/uk/gov/hmcts/reform/sendgrid/EmailData.java
  sendgrid-client/src/main/java/uk/gov/hmcts/reform/sendgrid/EmailSendFailedException.java
  sendgrid-client/src/main/java/uk/gov/hmcts/reform/sendgrid/SendGridClient.java
  sendgrid-client/src/main/java/uk/gov/hmcts/reform/sendgrid/config/SendGridAutoConfiguration.java
  sendgrid-client/src/main/java/uk/gov/hmcts/reform/sendgrid/config/SendGridProperties.java
  sendgrid-client/src/main/resources/META-INF/spring.factories
  sendgrid-client/src/test/java/uk/gov/hmcts/reform/sendgrid/EmailAttachmentTest.java
  sendgrid-client/src/test/java/uk/gov/hmcts/reform/sendgrid/EmailDataTest.java
  sendgrid-client/src/test/java/uk/gov/hmcts/reform/sendgrid/SendGridClientTest.java
  sendgrid-client/src/test/java/uk/gov/hmcts/reform/sendgrid/config/SendGridAutoConfigurationTests.java
  settings.gradle
Labels: ns:unspec, prd:unspec, rel:unspec-service-pr-357

#368 feat: add rpa service skeleton (CMC-954)
  src/main/java/uk/gov/hmcts/reform/unspec/config/properties/robotics/RoboticsEmailConfiguration.java
  src/main/java/uk/gov/hmcts/reform/unspec/handler/callback/notification/CreateClaimRespondentNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/unspec/model/Party.java
  src/main/java/uk/gov/hmcts/reform/unspec/model/robotics/CaseHeader.java
  src/main/java/uk/gov/hmcts/reform/unspec/model/robotics/ClaimDetails.java
  src/main/java/uk/gov/hmcts/reform/unspec/model/robotics/LitigiousParty.java
  src/main/java/uk/gov/hmcts/reform/unspec/model/robotics/Mediation.java
  src/main/java/uk/gov/hmcts/reform/unspec/model/robotics/RoboticsAddress.java
  src/main/java/uk/gov/hmcts/reform/unspec/model/robotics/RoboticsAddresses.java
  src/main/java/uk/gov/hmcts/reform/unspec/model/robotics/RoboticsCaseData.java
  src/main/java/uk/gov/hmcts/reform/unspec/model/robotics/Solicitor.java
  src/main/java/uk/gov/hmcts/reform/unspec/service/robotics/RoboticsDataException.java
  src/main/java/uk/gov/hmcts/reform/unspec/service/robotics/RoboticsNotificationService.java
  src/main/java/uk/gov/hmcts/reform/unspec/service/robotics/mapper/RoboticsAddressMapper.java
  src/main/java/uk/gov/hmcts/reform/unspec/service/robotics/mapper/RoboticsDataMapper.java
  src/main/java/uk/gov/hmcts/reform/unspec/utils/PartyUtils.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/unspec/assertion/CustomAssert.java
  src/test/java/uk/gov/hmcts/reform/unspec/assertion/CustomAssertions.java
  src/test/java/uk/gov/hmcts/reform/unspec/assertion/RoboticsAddressAssert.java
  src/test/java/uk/gov/hmcts/reform/unspec/assertion/RoboticsCaseDataAssert.java
  src/test/java/uk/gov/hmcts/reform/unspec/handler/callback/CreateClaimCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/sampledata/PartyBuilder.java
  src/test/java/uk/gov/hmcts/reform/unspec/service/robotics/RoboticsNotificationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/service/robotics/mapper/RoboticsAddressMapperTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/service/robotics/mapper/RoboticsDataMapperTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/utils/PartyNameUtilsTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/utils/PartyUtilsTest.java
Labels: ns:unspec, prd:unspec, rel:unspec-service-pr-368

#373 fix: changed default case state to created (CMC-NA)
  ccd-definition/CaseEvent.json
  e2e/api/steps.js
  src/main/resources/camunda/create_claim.bpmn
  src/test/java/uk/gov/hmcts/reform/unspec/bpmn/CreateClaimTest.java
Labels: ns:unspec, prd:unspec, rel:unspec-service-pr-373

#375 fix: reverted confirm service camunda changes and increased number of retries for api tests (CMC-NA)
  e2e/api/retryHelper.js
  src/main/resources/camunda/confirm_service.bpmn
  src/test/java/uk/gov/hmcts/reform/unspec/bpmn/ConfirmServiceTest.java
Labels: ns:unspec, prd:unspec, rel:unspec-service-pr-375

#378 fix: added awaits and missing callback (CMC-NA)
  ccd-definition/CaseEvent.json
  e2e/steps_file.js
  src/main/java/uk/gov/hmcts/reform/unspec/callback/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/unspec/handler/callback/AddDefendantLitigationFriendCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/unspec/service/flowstate/FlowStateAllowedEventService.java
  src/test/java/uk/gov/hmcts/reform/unspec/handler/callback/AddDefendantLitigationFriendCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/service/flowstate/FlowStateAllowedEventServiceTest.java
Labels: ns:unspec, prd:unspec, rel:unspec-service-pr-378

#376 refactor: add sendgrid key in charts and ename package (N/A)
  charts/unspec-service/Chart.yaml
  charts/unspec-service/values.preview.template.yaml
  charts/unspec-service/values.yaml
  sendgrid-client/src/main/java/uk/gov/hmcts/reform/unspec/sendgrid/EmailAttachment.java
  sendgrid-client/src/main/java/uk/gov/hmcts/reform/unspec/sendgrid/EmailData.java
  sendgrid-client/src/main/java/uk/gov/hmcts/reform/unspec/sendgrid/EmailSendFailedException.java
  sendgrid-client/src/main/java/uk/gov/hmcts/reform/unspec/sendgrid/SendGridClient.java
  sendgrid-client/src/main/java/uk/gov/hmcts/reform/unspec/sendgrid/config/SendGridAutoConfiguration.java
  sendgrid-client/src/main/java/uk/gov/hmcts/reform/unspec/sendgrid/config/SendGridProperties.java
  sendgrid-client/src/main/resources/META-INF/spring.factories
  sendgrid-client/src/test/java/uk/gov/hmcts/reform/unspec/sendgrid/EmailAttachmentTest.java
  sendgrid-client/src/test/java/uk/gov/hmcts/reform/unspec/sendgrid/EmailDataTest.java
  sendgrid-client/src/test/java/uk/gov/hmcts/reform/unspec/sendgrid/SendGridClientTest.java
  sendgrid-client/src/test/java/uk/gov/hmcts/reform/unspec/sendgrid/config/SendGridAutoConfigurationTests.java
  src/main/java/uk/gov/hmcts/reform/unspec/service/robotics/RoboticsNotificationService.java
  src/main/resources/bootstrap.yaml
  src/test/java/uk/gov/hmcts/reform/unspec/service/robotics/RoboticsNotificationServiceTest.java
Labels: ns:unspec, prd:unspec, rel:unspec-service-pr-376

#370 refactor: removed business process service (CMC-925)
  src/main/java/uk/gov/hmcts/reform/unspec/handler/callback/AcknowledgeServiceCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/unspec/handler/callback/ConfirmServiceCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/unspec/handler/callback/CreateClaimCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/unspec/handler/callback/RequestExtensionCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/unspec/handler/callback/RespondExtensionCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/unspec/handler/callback/RespondToClaimCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/unspec/handler/callback/RespondToDefenceCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/unspec/model/BusinessProcess.java
  src/main/java/uk/gov/hmcts/reform/unspec/service/BusinessProcessService.java
  src/test/java/uk/gov/hmcts/reform/unspec/handler/callback/AcknowledgeServiceCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/handler/callback/ConfirmServiceCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/handler/callback/CreateClaimCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/handler/callback/RequestExtensionCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/handler/callback/RespondExtensionCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/handler/callback/RespondToClaimCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/handler/callback/RespondToDefenceCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/service/BusinessProcessServiceTest.java
Labels: ns:unspec, prd:unspec, rel:unspec-service-pr-370

#381 fix: added missing await for response to defence e2e test (CMC-NA)
  e2e/steps_file.js
Labels: ns:unspec, prd:unspec, rel:unspec-service-pr-381

#377 feat: code changes for camunda claim form (CMC-934)
  ccd-definition/AuthorisationCaseEvent/solicitor.json
  ccd-definition/AuthorisationCaseEvent/systemUpdate.json
  ccd-definition/AuthorisationCaseField/systemUpdate.json
  ccd-definition/CaseEvent.json
  e2e/api/steps.js
  src/main/java/uk/gov/hmcts/reform/unspec/callback/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/unspec/handler/callback/CreateClaimCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/unspec/handler/callback/GenerateClaimFormCallbackHandler.java
  src/test/java/uk/gov/hmcts/reform/unspec/handler/callback/CreateClaimCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/handler/callback/GenerateClaimFormCallbackHandlerTest.java
Labels: ns:unspec, prd:unspec, rel:unspec-service-pr-377

#372 feat: generate claim form with camunda (CMC-934)
  e2e/api/steps.js
  src/main/java/uk/gov/hmcts/reform/unspec/handler/callback/CreateClaimCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/unspec/service/flowstate/FlowPredicate.java
  src/main/resources/camunda/create_claim.bpmn
  src/test/java/uk/gov/hmcts/reform/unspec/bpmn/CreateClaimTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/handler/callback/CreateClaimCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/sampledata/CaseDataBuilder.java
Labels: do not merge, ns:unspec, prd:unspec, rel:unspec-service-pr-372

#383 Revert "feat: generate claim form with camunda (CMC-934)"
  e2e/api/steps.js
  src/main/java/uk/gov/hmcts/reform/unspec/handler/callback/CreateClaimCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/unspec/service/flowstate/FlowPredicate.java
  src/main/resources/camunda/create_claim.bpmn
  src/test/java/uk/gov/hmcts/reform/unspec/bpmn/CreateClaimTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/handler/callback/CreateClaimCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/sampledata/CaseDataBuilder.java
Labels: ns:unspec, prd:unspec, rel:unspec-service-pr-383

#385 refactor: update flow state for camunda claim form (CMC-934)
  src/main/java/uk/gov/hmcts/reform/unspec/service/flowstate/FlowPredicate.java
  src/test/java/uk/gov/hmcts/reform/unspec/sampledata/CaseDataBuilder.java
Labels: ns:unspec, prd:unspec, rel:unspec-service-pr-385

#384 feat: bpmn changes and issue date logic for camunda claim form (CMC-934)
  e2e/api/steps.js
  src/main/java/uk/gov/hmcts/reform/unspec/handler/callback/CreateClaimCallbackHandler.java
  src/main/resources/camunda/create_claim.bpmn
  src/test/java/uk/gov/hmcts/reform/unspec/bpmn/CreateClaimTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/handler/callback/CreateClaimCallbackHandlerTest.java
Labels: ns:unspec, prd:unspec, rel:unspec-service-pr-384

#382 feat: added camunda changes back (CMC-NA)
  ccd-definition/CaseEvent.json
  e2e/api/steps.js
  src/main/resources/camunda/confirm_service.bpmn
  src/test/java/uk/gov/hmcts/reform/unspec/bpmn/ConfirmServiceTest.java
Labels: ns:unspec, prd:unspec, rel:unspec-service-pr-382

#387 fix: display events available for created state in pending state (CMC…
  ccd-definition/CaseEvent.json
Labels: ns:unspec, prd:unspec, rel:unspec-service-pr-387

#386 refactor: disabled ccd callback retires (CMC-1012)
  ccd-definition/CaseEvent.json
  ccd-definition/CaseEventToFields/AcknowledgeService.json
  ccd-definition/CaseEventToFields/ClaimantResponse.json
  ccd-definition/CaseEventToFields/ConfirmService.json
  ccd-definition/CaseEventToFields/CreateClaim.json
  ccd-definition/CaseEventToFields/DefendantResponse.json
  ccd-definition/CaseEventToFields/DiscontinueClaim.json
  ccd-definition/CaseEventToFields/RequestExtension.json
  ccd-definition/CaseEventToFields/RespondExtension.json
  ccd-definition/CaseEventToFields/WithdrawClaim.json
Labels: ns:unspec, prd:unspec, rel:unspec-service-pr-386

#388 feat: Update contents (CMC-978)
  ccd-definition/ComplexTypes/DQ/Hearing.json
Labels: ns:unspec, prd:unspec, rel:unspec-service-pr-388

#398 fix: pinned xui in preview to prod-3eaff6d3
  charts/unspec-service/values.preview.template.yaml
Labels: ns:unspec, prd:unspec, rel:unspec-service-pr-398

#397 ci: add screenshot failures for aat functional test (CMC-NA)
  Jenkinsfile_CNP
Labels: ns:unspec, prd:unspec, rel:unspec-service-pr-397

#392 feat: Add additional field in COS document (CMC-960)
  docker/docmosis/templates/CV-UNS-COS-ENG-0001.docx
  src/main/java/uk/gov/hmcts/reform/unspec/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/unspec/model/docmosis/cos/CertificateOfServiceForm.java
  src/main/java/uk/gov/hmcts/reform/unspec/service/docmosis/cos/CertificateOfServiceGenerator.java
  src/test/java/uk/gov/hmcts/reform/unspec/sampledata/CaseDataBuilder.java
  src/test/java/uk/gov/hmcts/reform/unspec/service/docmosis/cos/CertificateOfServiceGeneratorTest.java
Labels: ns:unspec, prd:unspec, rel:unspec-service-pr-392

#400 test: added business process status check to e2e and api tests (CMC-1010)
  e2e/api/apiRequest.js
  e2e/api/restHelper.js
  e2e/api/retryHelper.js
  e2e/api/steps.js
  e2e/api/testingSupport.js
  e2e/pages/caseView.page.js
  e2e/steps_file.js
  src/main/java/uk/gov/hmcts/reform/unspec/controllers/TestingSupportController.java
  src/main/java/uk/gov/hmcts/reform/unspec/service/CoreCaseDataService.java
  src/test/java/uk/gov/hmcts/reform/unspec/service/CoreCaseDataServiceTest.java
Labels: ns:unspec, prd:unspec, rel:unspec-service-pr-400

#404 test: Add Security (ZAP) scan to nightly pipeline (CMC-1037)
  Jenkinsfile_nightly
  audit.json
  build.gradle
  functional-output/.gitignore
  security.sh
  zap_hooks.py
Labels: ns:unspec, prd:unspec, rel:unspec-service-pr-404

#389 feat: bespoke directions in dq (CMC-967)
  ccd-definition/AuthorisationCaseField/solicitor.json
  ccd-definition/CaseEventToFields/ClaimantResponse.json
  ccd-definition/CaseEventToFields/DefendantResponse.json
  ccd-definition/CaseField.json
  ccd-definition/ComplexTypes/DQ/DisclosureOfNonElectronicDocuments.json
  e2e/fixtures/events/claimantResponse.js
  e2e/fixtures/events/defendantResponse.js
  e2e/fragments/dq/disclosureOfNonElectrionicDocuments.page.js
  src/main/java/uk/gov/hmcts/reform/unspec/model/dq/Applicant1DQ.java
  src/main/java/uk/gov/hmcts/reform/unspec/model/dq/DQ.java
  src/main/java/uk/gov/hmcts/reform/unspec/model/dq/DisclosureOfNonElectronicDocuments.java
  src/main/java/uk/gov/hmcts/reform/unspec/model/dq/Respondent1DQ.java
  src/test/java/uk/gov/hmcts/reform/unspec/model/dq/Respondent1DQTest.java
Labels: data-changes, ns:unspec, prd:unspec, rel:unspec-service-pr-389, requires-es-index-reset

#405 test: improve e2e robustness by checking camunda process status (CMC-1010)
  build.gradle
  e2e/api/testingSupport.js
  src/main/java/uk/gov/hmcts/reform/unspec/controllers/TestingSupportController.java
  src/main/java/uk/gov/hmcts/reform/unspec/testingsupport/CamundaRestEngineApi.java
  src/main/java/uk/gov/hmcts/reform/unspec/testingsupport/CamundaRestEngineClient.java
  src/main/java/uk/gov/hmcts/reform/unspec/testingsupport/TestingSupportController.java
Labels: ns:unspec, prd:unspec, rel:unspec-service-pr-405

#410 refactor: correct params in handle failure method (CMC-947)
  src/main/java/uk/gov/hmcts/reform/unspec/service/tasks/handler/BaseExternalTaskHandler.java
  src/test/java/uk/gov/hmcts/reform/unspec/service/tasks/handler/CaseEventTaskHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/service/tasks/handler/CaseStayedHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/service/tasks/handler/PollingEventEmitterHandlerTest.java
Labels: ns:unspec, prd:unspec, rel:unspec-service-pr-410

#409 refactor: payments toggle cleanup (CMC-NA)
  charts/unspec-service/values.aat.template.yaml
  charts/unspec-service/values.preview.template.yaml
  src/main/java/uk/gov/hmcts/reform/unspec/config/PaymentsConfiguration.java
  src/main/java/uk/gov/hmcts/reform/unspec/handler/callback/PaymentsCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/unspec/request/RequestData.java
  src/main/java/uk/gov/hmcts/reform/unspec/service/PaymentsService.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/unspec/handler/callback/PaymentsCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/handler/event/MoveCaseToStayedEventHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/request/RequestDataTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/service/PaymentsServiceTest.java
Labels: ns:unspec, prd:unspec, rel:unspec-service-pr-409

#414 build(deps): bump jakarta.xml.bind-api from 2.3.3 to 3.0.0
  build.gradle
Labels: ns:unspec, prd:unspec, rel:unspec-service-pr-414

#411 test: added reloading case data in api tests (CMC-1013)
  e2e/api/apiRequest.js
  e2e/api/steps.js
  src/main/java/uk/gov/hmcts/reform/unspec/model/CaseData.java
Labels: ns:unspec, prd:unspec, rel:unspec-service-pr-411

#418 refactor: removed unused testing support event + minor code inspection fixes
  Jenkinsfile_CNP
  codecept.conf.js
  sendgrid-client/src/test/java/uk/gov/hmcts/reform/unspec/sendgrid/SendGridClientTest.java
  src/main/java/uk/gov/hmcts/reform/unspec/enums/RespondentResponseType.java
  src/main/java/uk/gov/hmcts/reform/unspec/enums/ResponseIntention.java
  src/main/java/uk/gov/hmcts/reform/unspec/enums/dq/HearingLength.java
  src/main/java/uk/gov/hmcts/reform/unspec/handler/callback/ConfirmServiceCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/unspec/model/documents/Document.java
  src/test/java/uk/gov/hmcts/reform/unspec/sampledata/CaseDataBuilder.java
  src/test/java/uk/gov/hmcts/reform/unspec/service/UserServiceTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/stateflow/StateFlowBuilderTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/stateflow/StateFlowTest.java
Labels: ns:unspec, prd:unspec, rel:unspec-service-pr-418

#420 feat: AOS pdf generation camunda changes (CMC-161)
  src/main/resources/camunda/acknowledge_service.bpmn
  src/test/java/uk/gov/hmcts/reform/unspec/bpmn/AcknowledgeServiceTest.java
Labels: ns:unspec, prd:unspec, rel:unspec-service-pr-420

#416 feat: move case to stay if no activity for 6 months (CMC-577)
  src/main/java/uk/gov/hmcts/reform/unspec/service/search/CaseStayedSearchService.java
  src/main/resources/camunda/case_stayed_scheduler.bpmn
  src/test/java/uk/gov/hmcts/reform/unspec/bpmn/CaseStayedSchedulerTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/service/search/CaseStayedSearchServiceTest.java
Labels: ns:unspec, prd:unspec, rel:unspec-service-pr-416

#417 build: bumped spring boot to 2.4.0
  build.gradle
  charts/unspec-service/Chart.yaml
  charts/unspec-service/values.yaml
  sendgrid-client/build.gradle
  src/main/java/uk/gov/hmcts/reform/unspec/service/flowstate/FlowState.java
Labels: ns:unspec, prd:unspec, rel:unspec-service-pr-417

#419 refactor: separate case events json files in definition (cmc-1038)
  ccd-definition/CaseEvent.json
  ccd-definition/CaseEvent/Camunda/BusinessProcessEvents.json
  ccd-definition/CaseEvent/Camunda/DocmosisEvents.json
  ccd-definition/CaseEvent/Camunda/NotificationEvents.json
  ccd-definition/CaseEvent/Camunda/PaymentEvents.json
  ccd-definition/CaseEvent/TestingSupport/TestingSupportEvents.json
  ccd-definition/CaseEvent/User/UserEvents.json
Labels: ns:unspec, prd:unspec, rel:unspec-service-pr-419

#424 Fix: Remove square brackets from sealed claim form hyperlink on Confirmation Page (CMC-1060)
  src/main/java/uk/gov/hmcts/reform/unspec/handler/callback/CreateClaimCallbackHandler.java
Labels: ns:unspec, prd:unspec, rel:unspec-service-pr-424

#421 feat: capture welsh language requirements in dq (CMC-995)
  ccd-definition/AuthorisationCaseField/solicitor.json
  ccd-definition/CaseEventToFields/ClaimantResponse.json
  ccd-definition/CaseEventToFields/DefendantResponse.json
  ccd-definition/CaseField.json
  ccd-definition/ComplexTypes/DQ/Language.json
  ccd-definition/FixedLists/Language.json
  e2e/fixtures/events/claimantResponse.js
  e2e/fixtures/events/defendantResponse.js
  e2e/fragments/dq/language.page.js
  e2e/steps_file.js
  src/main/java/uk/gov/hmcts/reform/unspec/enums/dq/Language.java
  src/main/java/uk/gov/hmcts/reform/unspec/model/dq/Applicant1DQ.java
  src/main/java/uk/gov/hmcts/reform/unspec/model/dq/DQ.java
  src/main/java/uk/gov/hmcts/reform/unspec/model/dq/Respondent1DQ.java
  src/main/java/uk/gov/hmcts/reform/unspec/model/dq/WelshLanguageRequirements.java
  src/test/java/uk/gov/hmcts/reform/unspec/model/dq/Respondent1DQTest.java
Labels: data-changes, ns:unspec, prd:unspec, rel:unspec-service-pr-421

#425 refactor: cleanup unused testing support event (N/A)
  ccd-definition/AuthorisationCaseEvent/systemUpdate.json
  ccd-definition/CaseEvent/TestingSupport/TestingSupportEvents.json
  src/main/java/uk/gov/hmcts/reform/unspec/callback/CaseEvent.java
Labels: ns:unspec, prd:unspec, rel:unspec-service-pr-425
