Repository hmcts/unspec-service, pull requests merged in 2020-08, with the labels that each got.

#101 Disable db creation on lower environment
  charts/unspec-service/Chart.yaml
  charts/unspec-service/values.yaml
Labels: ns:unspec, prd:unspec, rel:unspec-service-pr-101

#103 Block DB migration in lower environment
  charts/unspec-service/values.preview.template.yaml
  src/main/java/uk/gov/hmcts/reform/unspec/config/DatabaseConfiguration.java
  src/main/java/uk/gov/hmcts/reform/unspec/repositories/ReferenceNumberRepository.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/unspec/handler/callback/CreateClaimCallbackHandlerTest.java
Labels: ns:unspec, prd:unspec, rel:unspec-service-pr-103

#104 refactor: Prevent db migration in lower environment
  charts/unspec-service/Chart.yaml
  charts/unspec-service/values.yaml
  docker-compose.yml
  src/main/java/uk/gov/hmcts/reform/unspec/config/DatabaseConfiguration.java
  src/main/resources/application.yaml
Labels: ns:unspec, prd:unspec, rel:unspec-service-pr-104

#107 refactor: revert spike changes for cmc database access
  build.gradle
  ccd-definition/AuthorisationCaseField/solicitor.json
  ccd-definition/CaseField.json
  ccd-definition/CaseTypeTab.json
  charts/unspec-service/Chart.yaml
  charts/unspec-service/values.preview.template.yaml
  charts/unspec-service/values.yaml
  docker-compose.yml
  src/main/java/uk/gov/hmcts/reform/unspec/config/DatabaseConfiguration.java
  src/main/java/uk/gov/hmcts/reform/unspec/config/MockDatabaseConfiguration.java
  src/main/java/uk/gov/hmcts/reform/unspec/handler/callback/CreateClaimCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/unspec/repositories/ReferenceNumberRepository.java
  src/main/resources/application.yaml
  src/main/resources/bootstrap.yaml
  src/main/resources/db/migration/V2019_08_07_1545__migrate_legal_rep_reference_number_seq.sql
  src/test/java/uk/gov/hmcts/reform/unspec/handler/callback/CreateClaimCallbackHandlerTest.java
Labels: ns:unspec, prd:unspec, rel:unspec-service-pr-107

#110 fix: pointed ccd definition to staging service instead of aat
  Jenkinsfile_CNP
  bin/build-release-ccd-definition.sh
  bin/variables/load-aat-environment-variables.sh
Labels: ns:unspec, prd:unspec, rel:unspec-service-pr-110

#109 feat: secondary mid event configured in callbackType (CMC-NA)
  src/main/java/uk/gov/hmcts/reform/unspec/callback/CallbackType.java
  src/test/java/uk/gov/hmcts/reform/unspec/callback/CallbackTypeTest.java
Labels: ns:unspec, prd:unspec, rel:unspec-service-pr-109

#98 feat: Working day and holidays calculator (CMC-510)
  src/main/java/uk/gov/hmcts/reform/unspec/Application.java
  src/main/java/uk/gov/hmcts/reform/unspec/helpers/ResourceReader.java
  src/main/java/uk/gov/hmcts/reform/unspec/service/WorkingDayIndicator.java
  src/main/java/uk/gov/hmcts/reform/unspec/service/bankholidays/BankHolidays.java
  src/main/java/uk/gov/hmcts/reform/unspec/service/bankholidays/BankHolidaysApi.java
  src/main/java/uk/gov/hmcts/reform/unspec/service/bankholidays/NonWorkingDaysCollection.java
  src/main/java/uk/gov/hmcts/reform/unspec/service/bankholidays/PublicHolidaysCollection.java
  src/main/resources/application.yaml
  src/main/resources/data/non-working_days.dat
  src/test/java/uk/gov/hmcts/reform/unspec/helpers/ResourceReaderTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/service/WorkingDayIndicatorTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/service/bankholidays/NonWorkingDaysCollectionTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/service/bankholidays/PublicHolidaysCollectionTest.java
  src/test/resources/non-working-days/nwd-empty-file.dat
  src/test/resources/non-working-days/nwd-invalid.dat
  src/test/resources/non-working-days/nwd-valid.dat
Labels: ns:unspec, prd:unspec, rel:unspec-service-pr-98

#112 style: content for label when uploading served documents (CMC-372)
  ccd-definition/ComplexTypes/ServedDocumentFiles.json
Labels: ns:unspec, prd:unspec, rel:unspec-service-pr-112

#108 feat: other service method options in confirm service (CMC-356)
  ccd-definition/AuthorisationCaseField/solicitor.json
  ccd-definition/CaseEventToFields/ConfirmService.json
  ccd-definition/CaseField.json
  ccd-definition/ComplexTypes/ServiceMethod.json
  e2e/pages/confirmService/serviceMethod.page.js
  e2e/pages/confirmService/uploadDocuments.page.js
  src/main/java/uk/gov/hmcts/reform/unspec/enums/ServiceMethod.java
  src/main/java/uk/gov/hmcts/reform/unspec/enums/ServiceMethodType.java
  src/main/java/uk/gov/hmcts/reform/unspec/handler/callback/ConfirmServiceCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/unspec/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/unspec/model/ServiceMethod.java
  src/test/java/uk/gov/hmcts/reform/unspec/enums/ServiceMethodTypeTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/handler/callback/ConfirmServiceCallbackHandlerTest.java
Labels: data-changes, ns:unspec, prd:unspec, rel:unspec-service-pr-108

#116 refactor: Remove code smells CMC(594)
  src/main/java/uk/gov/hmcts/reform/unspec/handler/callback/CreateClaimCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/unspec/handler/callback/RespondExtensionCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/unspec/service/search/ElasticSearchService.java
  src/test/java/uk/gov/hmcts/reform/unspec/advice/ResourceExceptionHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/callback/CallbackHandlerFactoryTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/callback/CallbackTypeTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/handler/callback/BaseCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/handler/callback/CreateClaimCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/handler/callback/RespondExtensionCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/model/search/QueryTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/request/RequestDataTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/service/FeesServiceTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/service/PaymentsServiceTest.java
Labels: ns:unspec, prd:unspec, rel:unspec-service-pr-116

#118 refactor: Remove code smells (CMC-594)
  src/integrationTest/java/uk/gov/hmcts/reform/unspec/controllers/BaseIntegrationTest.java
  src/main/java/uk/gov/hmcts/reform/unspec/handler/MoveCaseToStayedEventHandler.java
  src/main/java/uk/gov/hmcts/reform/unspec/handler/callback/CreateClaimCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/unspec/model/docmosis/cos/CertificateOfServiceForm.java
  src/main/java/uk/gov/hmcts/reform/unspec/model/docmosis/sealedclaim/SealedClaimForm.java
  src/main/java/uk/gov/hmcts/reform/unspec/service/CaseStayedFinder.java
  src/main/java/uk/gov/hmcts/reform/unspec/service/CoreCaseDataService.java
  src/main/java/uk/gov/hmcts/reform/unspec/service/FeesService.java
  src/main/java/uk/gov/hmcts/reform/unspec/service/PaymentsService.java
  src/main/java/uk/gov/hmcts/reform/unspec/service/docmosis/TemplateDataGenerator.java
  src/main/java/uk/gov/hmcts/reform/unspec/service/docmosis/cos/CertificateOfServiceGenerator.java
  src/main/java/uk/gov/hmcts/reform/unspec/service/docmosis/sealedclaim/SealedClaimFormGenerator.java
  src/main/java/uk/gov/hmcts/reform/unspec/service/documentmanagement/DocumentManagementService.java
  src/main/java/uk/gov/hmcts/reform/unspec/service/search/ElasticSearchService.java
  src/test/java/uk/gov/hmcts/reform/unspec/callback/CallbackHandlerFactoryTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/callback/CallbackTypeTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/service/docmosis/cos/CertificateOfServiceGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/service/docmosis/sealedclaim/SealedClaimFormGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/service/documentmanagement/DocumentManagementServiceTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/utils/CaseNameUtilsTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/utils/MonetaryConversionsTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/utils/PartyNameUtilsTest.java
Labels: ns:unspec, prd:unspec, rel:unspec-service-pr-118

#114 test: pact test for idam (CMC-572)
  .gitignore
  README.md
  build.gradle
  docker-pactbroker-compose.yml
  src/contractTest/java/uk/gov/hmcts/reform/unspec/IdamConsumerTest.java
Labels: ns:unspec, prd:unspec, rel:unspec-service-pr-114

#105 feat: claim issue date, deemed date of service, response deadline (CMC-510)
  ccd-definition/AuthorisationCaseField/solicitor.json
  ccd-definition/CaseField.json
  src/main/java/uk/gov/hmcts/reform/unspec/enums/ServiceMethodType.java
  src/main/java/uk/gov/hmcts/reform/unspec/handler/callback/ConfirmServiceCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/unspec/handler/callback/CreateClaimCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/unspec/handler/callback/RequestExtensionCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/unspec/handler/callback/RespondExtensionCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/unspec/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/unspec/model/ServiceMethod.java
  src/main/java/uk/gov/hmcts/reform/unspec/service/DeadlinesCalculator.java
  src/main/java/uk/gov/hmcts/reform/unspec/service/IssueDateCalculator.java
  src/main/java/uk/gov/hmcts/reform/unspec/service/bankholidays/BankHolidays.java
  src/main/java/uk/gov/hmcts/reform/unspec/service/docmosis/sealedclaim/SealedClaimFormGenerator.java
  src/main/java/uk/gov/hmcts/reform/unspec/service/search/CaseStayedSearchService.java
  src/test/java/uk/gov/hmcts/reform/unspec/assertion/DayAssert.java
  src/test/java/uk/gov/hmcts/reform/unspec/enums/ServiceMethodTypeTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/handler/callback/ConfirmServiceCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/handler/callback/CreateClaimCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/handler/callback/RequestExtensionCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/service/DeadlinesCalculatorTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/service/IssueDateCalculatorTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/service/docmosis/sealedclaim/SealedClaimFormGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/service/search/CaseStayedSearchServiceTest.java
  src/test/resources/bank-holidays.json
Labels: data-changes, ns:unspec, prd:unspec, rel:unspec-service-pr-105

#111 feat: validate service date is in past and after claim issue date (CMC-356)
  build.gradle
  ccd-definition/CaseEventToFields/ConfirmService.json
  src/main/java/uk/gov/hmcts/reform/unspec/handler/callback/ConfirmServiceCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/unspec/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/unspec/validation/HasServiceDateTheSameAsOrAfterIssueDateValidator.java
  src/main/java/uk/gov/hmcts/reform/unspec/validation/groups/ConfirmServiceDateGroup.java
  src/main/java/uk/gov/hmcts/reform/unspec/validation/interfaces/HasServiceDateTheSameAsOrAfterIssueDate.java
  src/test/java/uk/gov/hmcts/reform/unspec/handler/callback/ConfirmServiceCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/validation/HasServiceDateTheSameAsOrAfterIssueDateValidatorTest.java
Labels: ns:unspec, prd:unspec, rel:unspec-service-pr-111

#102 feat: defendant solicitor acknowledges service (CMC-402)
  ccd-definition/AuthorisationCaseEvent/solicitor.json
  ccd-definition/AuthorisationCaseField/solicitor.json
  ccd-definition/CaseEvent.json
  ccd-definition/CaseEventToComplexTypes/AcknowledgeService.json
  ccd-definition/CaseEventToFields/AcknowledgeService.json
  ccd-definition/CaseField.json
  ccd-definition/CaseTypeTab.json
  ccd-definition/FixedLists/PartyType.json
  ccd-definition/FixedLists/ResponseIntention.json
  docker/docmosis/templates/CV-UNS-AOS-ENG-0001.docx
  e2e/pages/acknowledgeSerivce/confirmDetails.page.js
  e2e/pages/acknowledgeSerivce/confirmNameAndAddress.page.js
  e2e/pages/acknowledgeSerivce/responseIntention.page.js
  e2e/pages/requestExtension/proposeDeadline.page.js
  e2e/pages/respondExtension/counter.page.js
  e2e/steps_file.js
  e2e/tests/solicitorCreatesClaim_test.js
  src/main/java/uk/gov/hmcts/reform/unspec/callback/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/unspec/enums/ResponseIntention.java
  src/main/java/uk/gov/hmcts/reform/unspec/handler/callback/AcknowledgeServiceCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/unspec/model/Party.java
  src/main/java/uk/gov/hmcts/reform/unspec/validation/groups/DateOfBirthGroup.java
  src/test/java/uk/gov/hmcts/reform/unspec/handler/callback/AcknowledgeServiceCallbackHandlerTest.java
Labels: data-changes, ns:unspec, prd:unspec, rel:unspec-service-pr-102

#144 refactor: extracted common e2e submit event code
  e2e/fragments/event.js
  e2e/steps_file.js
Labels: ns:unspec, prd:unspec, rel:unspec-service-pr-144

#131 feat: Display current deadline at midnight (CMC-483)
  ccd-definition/CaseEventToFields/RespondExtension.json
  ccd-definition/CaseField.json
  ccd-definition/CaseTypeTab.json
  e2e/pages/respondExtension/counter.page.js
  src/main/java/uk/gov/hmcts/reform/unspec/handler/callback/AcknowledgeServiceCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/unspec/handler/callback/RequestExtensionCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/unspec/handler/callback/RespondExtensionCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/unspec/service/DeadlinesCalculator.java
  src/test/java/uk/gov/hmcts/reform/unspec/handler/callback/AcknowledgeServiceCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/handler/callback/ConfirmServiceCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/handler/callback/RequestExtensionCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/handler/callback/RespondExtensionCallbackHandlerTest.java
Labels: ns:unspec, prd:unspec, rel:unspec-service-pr-131
