Repository hmcts/unspec-service, pull requests merged in 2021-03, with the labels that each got.

#631 FIX: ZAP false-positive alerts
  zap_hooks.py
Labels: ns:unspec, prd:unspec, rel:unspec-service-pr-631

#634 fix: removed redundant env variable (fix for nightly pipeline)
  Jenkinsfile_CNP
  build.gradle
Labels: ns:unspec, prd:unspec, rel:unspec-service-pr-634

#630 refactor: renamed defendant/claimant response state flows
  src/contractTest/java/uk/gov/hmcts/reform/unspec/RpaConsumerTest.java
  src/main/java/uk/gov/hmcts/reform/unspec/service/docmosis/dq/DirectionsQuestionnaireGenerator.java
  src/main/java/uk/gov/hmcts/reform/unspec/service/flowstate/FlowPredicate.java
  src/main/java/uk/gov/hmcts/reform/unspec/service/flowstate/FlowState.java
  src/main/java/uk/gov/hmcts/reform/unspec/service/flowstate/FlowStateAllowedEventService.java
  src/main/java/uk/gov/hmcts/reform/unspec/service/flowstate/StateFlowEngine.java
  src/main/resources/camunda/defendant_response.bpmn
  src/test/java/uk/gov/hmcts/reform/unspec/bpmn/DefendantResponseTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/handler/callback/camunda/docmosis/GenerateDirectionsQuestionnaireCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/handler/callback/camunda/notification/ApplicantClaimStruckOutNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/handler/callback/camunda/notification/CreateClaimRespondentNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/handler/callback/camunda/notification/RaisingClaimAgainstLitigantInPersonNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/handler/callback/camunda/notification/RespondentClaimStruckOutNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/handler/callback/user/RespondToClaimCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/handler/callback/user/RespondToDefenceCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/sampledata/CaseDataBuilder.java
  src/test/java/uk/gov/hmcts/reform/unspec/sampledata/CaseDetailsBuilder.java
  src/test/java/uk/gov/hmcts/reform/unspec/service/docmosis/dq/DirectionsQuestionnaireGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/service/flowstate/FlowPredicateTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/service/flowstate/FlowStateAllowedEventServiceTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/service/flowstate/StateFlowEngineTest.java
Labels: ns:unspec, prd:unspec, rel:unspec-service-pr-630

#632 feat: flow states for RPA (CMC-919)
  src/main/java/uk/gov/hmcts/reform/unspec/service/flowstate/FlowPredicate.java
  src/main/java/uk/gov/hmcts/reform/unspec/service/flowstate/FlowState.java
  src/main/java/uk/gov/hmcts/reform/unspec/service/flowstate/FlowStateAllowedEventService.java
  src/main/java/uk/gov/hmcts/reform/unspec/service/flowstate/StateFlowEngine.java
  src/main/resources/camunda/defendant_response.bpmn
  src/test/java/uk/gov/hmcts/reform/unspec/sampledata/CaseDataBuilder.java
  src/test/java/uk/gov/hmcts/reform/unspec/service/flowstate/FlowPredicateTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/service/flowstate/FlowStateAllowedEventServiceTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/service/flowstate/StateFlowEngineTest.java
Labels: ns:unspec, prd:unspec, rel:unspec-service-pr-632

#639 feat: added payment details to summary and date to case documents (CMC-1272)
  ccd-definition/AuthorisationCaseField/solicitor.json
  ccd-definition/CaseTypeTab/Documents.json
  ccd-definition/CaseTypeTab/Summary.json
Labels: ns:unspec, prd:unspec, rel:unspec-service-pr-639

#573 Feat: Fix claimant solicitor case role issue [CMC 1288]
  ccd-definition/AuthorisationCaseEvent/systemUpdate.json
  ccd-definition/AuthorisationCaseField/systemUpdate.json
  ccd-definition/CaseEvent/Camunda/BusinessProcessEvents.json
  charts/unspec-service/Chart.yaml
  charts/unspec-service/values.preview.template.yaml
  charts/unspec-service/values.yaml
  src/main/java/uk/gov/hmcts/reform/ccd/model/CaseAssignedUserRolesRequest.java
  src/main/java/uk/gov/hmcts/reform/unspec/callback/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/unspec/config/CrossAccessUserConfiguration.java
  src/main/java/uk/gov/hmcts/reform/unspec/enums/CaseRole.java
  src/main/java/uk/gov/hmcts/reform/unspec/handler/callback/camunda/caseassignment/AssignCaseToUserHandler.java
  src/main/java/uk/gov/hmcts/reform/unspec/service/CoreCaseUserService.java
  src/main/java/uk/gov/hmcts/reform/unspec/testingsupport/AssignCaseSupportController.java
  src/main/resources/application.yaml
  src/main/resources/bootstrap.yaml
  src/main/resources/camunda/create_claim.bpmn
  src/test/java/uk/gov/hmcts/reform/unspec/bpmn/CreateClaimTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/handler/callback/camunda/caseassignment/AssignCaseToUserHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/sampledata/CaseDataBuilder.java
  src/test/java/uk/gov/hmcts/reform/unspec/service/CoreCaseUserServiceTest.java
Labels: data-changes, ns:unspec, prd:unspec, rel:unspec-service-pr-573

#644 fix: use caseNumber with dashes for create claim e2e assertion
  e2e/tests/solicitorCreatesClaim_test.js
Labels: ns:unspec, prd:unspec, rel:unspec-service-pr-644

#641 fix: remove pba labels from cya (CMC-1270)
  ccd-definition/CaseEventToFields/CreateClaim.json
Labels: ns:unspec, prd:unspec, rel:unspec-service-pr-641

#616 feat: inform agreed extension date event (CMC-988)
  ccd-definition/AuthorisationCaseEvent/solicitor.json
  ccd-definition/AuthorisationCaseField/solicitor.json
  ccd-definition/CaseEvent/User/UserEvents.json
  ccd-definition/CaseEventToFields/InformAgreedExtensionDate.json
  ccd-definition/CaseField.json
  e2e/api/steps.js
  e2e/fixtures/ccd/events.js
  e2e/fixtures/ccd/expectedEvents.js
  e2e/fixtures/events/informAgreeExtensionDate.js
  e2e/pages/informAgreedExtensionDate/date.page.js
  e2e/steps_file.js
  e2e/tests/api_test.js
  e2e/tests/solicitorCreatesClaim_test.js
  src/main/java/uk/gov/hmcts/reform/unspec/callback/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/unspec/handler/callback/user/InformAgreedExtensionDateCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/unspec/handler/callback/user/RespondToClaimCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/unspec/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/unspec/service/DeadlinesCalculator.java
  src/main/java/uk/gov/hmcts/reform/unspec/service/flowstate/FlowPredicate.java
  src/main/java/uk/gov/hmcts/reform/unspec/service/flowstate/FlowState.java
  src/main/java/uk/gov/hmcts/reform/unspec/service/flowstate/FlowStateAllowedEventService.java
  src/main/java/uk/gov/hmcts/reform/unspec/service/flowstate/StateFlowEngine.java
  src/main/java/uk/gov/hmcts/reform/unspec/validation/DeadlineExtensionValidator.java
  src/test/java/uk/gov/hmcts/reform/unspec/handler/callback/user/InformAgreedExtensionDateCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/sampledata/CaseDataBuilder.java
  src/test/java/uk/gov/hmcts/reform/unspec/sampledata/CaseDetailsBuilder.java
  src/test/java/uk/gov/hmcts/reform/unspec/service/flowstate/FlowStateAllowedEventServiceTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/service/flowstate/StateFlowEngineTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/validation/DeadlineExtensionValidatorTest.java
Labels: data-changes, ns:unspec, prd:unspec, rel:unspec-service-pr-616

#615 refactor: replace serving claim with notify claim (CMC-1205)
  ccd-definition/CaseField.json
  e2e/api/steps.js
  src/main/java/uk/gov/hmcts/reform/unspec/config/ClaimIssueConfiguration.java
  src/main/java/uk/gov/hmcts/reform/unspec/handler/callback/user/CreateClaimCallbackHandler.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/unspec/handler/callback/user/CreateClaimCallbackHandlerTest.java
Labels: data-changes, ns:unspec, prd:unspec, rel:unspec-service-pr-615

#647 Allow access to caa for new states
  ccd-definition/AuthorisationCaseState/caseAccessAssignment.json
Labels: ns:unspec, prd:unspec, rel:unspec-service-pr-647

#635 feat: RPA defendant response (CMC-919)
  src/contractTest/java/uk/gov/hmcts/reform/unspec/RpaConsumerTest.java
  src/main/java/uk/gov/hmcts/reform/unspec/model/robotics/EventDetails.java
  src/main/java/uk/gov/hmcts/reform/unspec/service/robotics/mapper/EventHistoryMapper.java
  src/main/java/uk/gov/hmcts/reform/unspec/service/robotics/mapper/RoboticsDataMapper.java
  src/test/java/uk/gov/hmcts/reform/unspec/assertion/RoboticsCaseDataAssert.java
  src/test/java/uk/gov/hmcts/reform/unspec/sampledata/CaseDataBuilder.java
  src/test/java/uk/gov/hmcts/reform/unspec/service/robotics/mapper/EventHistoryMapperTest.java
Labels: ns:unspec, prd:unspec, rel:unspec-service-pr-635

#589 feat:add un registered defendant solicitor details (CMC-1166)
  ccd-definition/AuthorisationCaseField/solicitor.json
  ccd-definition/AuthorisationCaseField/systemUpdate.json
  ccd-definition/AuthorisationComplexType/solicitor.json
  ccd-definition/CaseEventToComplexTypes/CreateClaim.json
  ccd-definition/CaseEventToFields/CreateClaim.json
  ccd-definition/CaseField.json
  ccd-definition/ComplexTypes/SolicitorOrganisationDetails.json
  e2e/api/steps.js
  e2e/fixtures/events/createClaim.js
  e2e/pages/createClaim/defendantSolicitorOrganisation.page.js
  e2e/tests/api_test.js
  src/main/java/uk/gov/hmcts/reform/unspec/Application.java
  src/main/java/uk/gov/hmcts/reform/unspec/handler/callback/user/CreateClaimCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/unspec/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/unspec/model/SolicitorOrganisationDetails.java
  src/main/java/uk/gov/hmcts/reform/unspec/validation/OrgPolicyValidator.java
  src/test/java/uk/gov/hmcts/reform/unspec/handler/callback/user/CreateClaimCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/sampledata/CaseDataBuilder.java
Labels: data-changes, ns:unspec, prd:unspec, rel:unspec-service-pr-589

#637 fix: Claim Issue Date is not sent to claim form generator (CMC-1176)
  src/main/java/uk/gov/hmcts/reform/unspec/handler/callback/camunda/docmosis/GenerateClaimFormCallbackHandler.java
  src/test/java/uk/gov/hmcts/reform/unspec/handler/callback/camunda/docmosis/GenerateClaimFormCallbackHandlerTest.java
Labels: ns:unspec, prd:unspec, rel:unspec-service-pr-637

#654 fix: removed duplicated page display order
  ccd-definition/CaseEventToFields/CreateClaim.json
Labels: ns:unspec, prd:unspec, rel:unspec-service-pr-654

#642 fix: make postcode optional in RPA schema (CMC-1326)
  src/main/resources/schema/rpa-json-schema.json
Labels: ns:unspec, prd:unspec, rel:unspec-service-pr-642

#646 feat: RPA handoff journeys tests on nightly pipeline (CMC-1255)
  Jenkinsfile_nightly
  build.gradle
  ccd-definition/AuthorisationCaseEvent/systemUpdate.json
  ccd-definition/CaseEvent/TestingSupport/TestingSupportEvents.json
  e2e/api/dataHelper.js
  e2e/api/testingSupport.js
  e2e/pages/acknowledgeService/responseIntention.page.js
  e2e/pages/caseProceedsInCaseman/caseProceedsInCaseman.page.js
  e2e/pages/caseProceedsInCaseman/takeCaseOffline.page.js
  e2e/pages/caseView.page.js
  e2e/pages/createClaim/isRespondentRepresented.page.js
  e2e/pages/respondToClaim/responseType.page.js
  e2e/pages/respondToDefence/proceed.page.js
  e2e/steps_file.js
  e2e/tests/rpaHandoff_test.js
  e2e/tests/solicitorCreatesClaim_test.js
  package.json
  src/main/java/uk/gov/hmcts/reform/unspec/callback/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/unspec/callback/UserType.java
  src/main/java/uk/gov/hmcts/reform/unspec/helpers/CaseDetailsConverter.java
  src/main/java/uk/gov/hmcts/reform/unspec/testingsupport/CaseUserRequest.java
  src/main/java/uk/gov/hmcts/reform/unspec/testingsupport/UpdateCaseDataController.java
Labels: ns:unspec, prd:unspec, rel:unspec-service-pr-646

#656 build(deps): bump tomcat-embed-core from 9.0.40 to 9.0.43
  build.gradle
Labels: ns:unspec, prd:unspec, rel:unspec-service-pr-656

#658 fix: added case navigation for RPA nightly tests (CMC-1255)
  Jenkinsfile_nightly
  codecept.conf.js
  e2e/steps_file.js
  e2e/tests/rpaHandoff_test.js
Labels: ns:unspec, prd:unspec, rel:unspec-service-pr-658

#638 feat: claim form and payment for dropoff journey 1/2 (CMC-1295)
  ccd-definition/CaseEvent/Camunda/DocmosisEvents.json
  e2e/api/steps.js
  e2e/tests/api_test.js
  src/main/java/uk/gov/hmcts/reform/unspec/handler/callback/camunda/docmosis/GenerateClaimFormCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/unspec/handler/callback/user/CreateClaimCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/unspec/handler/callback/user/ResubmitClaimCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/unspec/handler/tasks/CaseEventTaskHandler.java
  src/main/java/uk/gov/hmcts/reform/unspec/service/flowstate/FlowPredicate.java
  src/main/java/uk/gov/hmcts/reform/unspec/service/flowstate/StateFlowEngine.java
  src/test/java/uk/gov/hmcts/reform/unspec/bpmn/ResubmitClaimTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/handler/callback/camunda/docmosis/GenerateClaimFormCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/handler/callback/user/CreateClaimCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/handler/callback/user/ResubmitClaimCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/handler/tasks/CaseEventTaskHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/sampledata/CaseDataBuilder.java
  src/test/java/uk/gov/hmcts/reform/unspec/service/flowstate/FlowPredicateTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/service/flowstate/StateFlowEngineTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/service/robotics/mapper/EventHistoryMapperTest.java
Labels: ns:unspec, prd:unspec, rel:unspec-service-pr-638

#661 fix: update PreConditionState of notify for respondent litigant in person
  ccd-definition/CaseEvent/Camunda/NotificationEvents.json
Labels: ns:unspec, prd:unspec, rel:unspec-service-pr-661

#633 feat: map organisation details for unregistered solicitor (CMC-1285)
  src/main/java/uk/gov/hmcts/reform/unspec/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/unspec/service/robotics/mapper/RoboticsDataMapper.java
  src/test/java/uk/gov/hmcts/reform/unspec/assertion/RoboticsCaseDataAssert.java
  src/test/java/uk/gov/hmcts/reform/unspec/sampledata/CaseDataBuilder.java
  src/test/java/uk/gov/hmcts/reform/unspec/service/robotics/mapper/RoboticsDataMapperTest.java
Labels: ns:unspec, prd:unspec, rel:unspec-service-pr-633

#640 refactor: unrepresented create claim confirmation screen (CMC-1245)
  e2e/api/steps.js
  src/main/java/uk/gov/hmcts/reform/unspec/config/ClaimIssueConfiguration.java
  src/main/java/uk/gov/hmcts/reform/unspec/handler/callback/user/CreateClaimCallbackHandler.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/unspec/handler/callback/user/CreateClaimCallbackHandlerTest.java
Labels: ns:unspec, prd:unspec, rel:unspec-service-pr-640

#663 feat: permissions for admin user (CMC-1041)
  bin/add-roles-preview.sh
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEvent.json
  ccd-definition/AuthorisationCaseEvent/courtAdmin.json
  ccd-definition/AuthorisationCaseEvent/solicitor.json
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField.json
  ccd-definition/AuthorisationCaseField/courtAdmin.json
  ccd-definition/AuthorisationCaseField/solicitor.json
  ccd-definition/AuthorisationCaseState/AuthorisationCaseState.json
  ccd-definition/AuthorisationCaseType/AuthorisationCaseType.json
  ccd-definition/AuthorisationCaseType/solicitor.json
  e2e/api/steps.js
  e2e/config.js
  e2e/fixtures/ccd/expectedEvents.js
  e2e/tests/api_test.js
Labels: ns:unspec, prd:unspec, rel:unspec-service-pr-663

#652 feat: amend solicitor emails event (CMC-1253)
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEvent.json
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField.json
  ccd-definition/CaseEvent/User/UserEvents.json
  ccd-definition/CaseEventToComplexTypes/AmendPartyDetails.json
  ccd-definition/CaseEventToFields/AmendPartyDetails.json
  ccd-definition/CaseField.json
  e2e/api/steps.js
  e2e/fixtures/ccd/events.js
  e2e/fixtures/ccd/expectedEvents.js
  e2e/fixtures/events/amendPartyDetails.js
  e2e/tests/api_test.js
  src/main/java/uk/gov/hmcts/reform/unspec/callback/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/unspec/handler/callback/user/AmendPartyDetailsCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/unspec/service/flowstate/FlowStateAllowedEventService.java
  src/test/java/uk/gov/hmcts/reform/unspec/handler/callback/user/AmendPartyDetailsCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/sampledata/CaseDetailsBuilder.java
  src/test/java/uk/gov/hmcts/reform/unspec/service/flowstate/FlowStateAllowedEventServiceTest.java
Labels: data-changes, ns:unspec, prd:unspec, rel:unspec-service-pr-652

#669 feat: update welsh language dq questions (CMC-1095)
  ccd-definition/CaseEventToFields/ClaimantResponse.json
  ccd-definition/CaseEventToFields/DefendantResponse.json
  ccd-definition/ComplexTypes/DQ/Language.json
  docker/docmosis/templates/CV-UNS-HRN-ENG-00651.docx
  e2e/fixtures/events/claimantResponse.js
  e2e/fixtures/events/defendantResponse.js
  e2e/fragments/dq/language.page.js
  e2e/steps_file.js
  src/main/java/uk/gov/hmcts/reform/unspec/model/docmosis/dq/WelshLanguageRequirements.java
  src/main/java/uk/gov/hmcts/reform/unspec/model/dq/WelshLanguageRequirements.java
  src/main/java/uk/gov/hmcts/reform/unspec/service/docmosis/dq/DirectionsQuestionnaireGenerator.java
  src/test/java/uk/gov/hmcts/reform/unspec/model/dq/Respondent1DQTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/sampledata/CaseDataBuilder.java
  src/test/java/uk/gov/hmcts/reform/unspec/service/docmosis/dq/DirectionsQuestionnaireGeneratorTest.java
Labels: ns:unspec, prd:unspec, rel:unspec-service-pr-669

#674 tech: remove unused code and templates for cos (CMC-1386)
  ccd-definition/FixedLists/DocumentType.json
  docker/docmosis/templates/CV-UNS-GNO-ENG-00654.docx
  src/main/java/uk/gov/hmcts/reform/unspec/model/docmosis/cos/CertificateOfServiceForm.java
  src/main/java/uk/gov/hmcts/reform/unspec/model/documents/DocumentType.java
  src/main/java/uk/gov/hmcts/reform/unspec/service/docmosis/DocmosisTemplates.java
  src/test/java/uk/gov/hmcts/reform/unspec/service/docmosis/aos/AcknowledgementOfServiceGeneratorTest.java
Labels: ns:unspec, prd:unspec, rel:unspec-service-pr-674

#650 refactor: strict state flow check in camunda (CMC-1319) + remove conditional flow (CMC-1312)
  src/main/resources/camunda/create_claim.bpmn
  src/main/resources/camunda/defendant_response.bpmn
  src/test/java/uk/gov/hmcts/reform/unspec/bpmn/DefendantResponseTest.java
Labels: ns:unspec, prd:unspec, rel:unspec-service-pr-650

#683 tech: mappable object for case data (CMC-949)
  src/main/java/uk/gov/hmcts/reform/unspec/handler/callback/camunda/businessprocess/DispatchBusinessProcessCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/unspec/handler/callback/camunda/caseassignment/AssignCaseToUserHandler.java
  src/main/java/uk/gov/hmcts/reform/unspec/handler/callback/camunda/docmosis/GenerateAcknowledgementOfServiceCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/unspec/handler/callback/camunda/docmosis/GenerateClaimFormCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/unspec/handler/callback/camunda/docmosis/GenerateDirectionsQuestionnaireCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/unspec/handler/callback/camunda/notification/CreateClaimRespondentNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/unspec/handler/callback/camunda/notification/DefendantClaimDetailsNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/unspec/handler/callback/camunda/payment/PaymentsCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/unspec/handler/callback/camunda/robotics/ResetRpaNotificationBusinessProcessHandler.java
  src/main/java/uk/gov/hmcts/reform/unspec/handler/callback/user/AcknowledgeServiceCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/unspec/handler/callback/user/CreateClaimCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/unspec/handler/callback/user/InformAgreedExtensionDateCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/unspec/handler/callback/user/MoveClaimToStruckOutCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/unspec/handler/callback/user/NotifyClaimCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/unspec/handler/callback/user/NotifyClaimDetailsCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/unspec/handler/callback/user/RespondToClaimCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/unspec/handler/callback/user/RespondToDefenceCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/unspec/handler/callback/user/ResubmitClaimCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/unspec/helpers/CaseDetailsConverter.java
  src/main/java/uk/gov/hmcts/reform/unspec/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/unspec/model/common/MappableObject.java
  src/main/java/uk/gov/hmcts/reform/unspec/model/docmosis/aos/AcknowledgementOfServiceForm.java
  src/main/java/uk/gov/hmcts/reform/unspec/model/docmosis/dq/DirectionsQuestionnaireForm.java
  src/main/java/uk/gov/hmcts/reform/unspec/model/docmosis/sealedclaim/SealedClaimForm.java
  src/main/java/uk/gov/hmcts/reform/unspec/service/docmosis/DocumentGeneratorService.java
  src/test/java/uk/gov/hmcts/reform/unspec/service/docmosis/aos/AcknowledgementOfServiceGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/service/docmosis/dq/DirectionsQuestionnaireGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/service/docmosis/sealedclaim/SealedClaimFormGeneratorTest.java
Labels: ns:unspec, prd:unspec, rel:unspec-service-pr-683

#684 tech: add missing unit tests for IsEventAllowedOnFlowState (CMC-1179)
  src/test/java/uk/gov/hmcts/reform/unspec/service/flowstate/FlowStateAllowedEventServiceTest.java
Labels: ns:unspec, prd:unspec, rel:unspec-service-pr-684

#668 feat: dismiss claim scheduler 6 months no activity (CMC-1172)
  ccd-definition/AuthorisationCaseEvent/systemUpdate.json
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField.json
  ccd-definition/AuthorisationCaseField/systemUpdate.json
  ccd-definition/AuthorisationCaseState/caseAccessAssignment.json
  ccd-definition/AuthorisationCaseState/systemUpdate.json
  ccd-definition/CaseEvent/Camunda/NotificationEvents.json
  ccd-definition/CaseEvent/User/UserEvents-nonprod.json
  ccd-definition/CaseEvent/User/UserEvents.json
  ccd-definition/CaseField.json
  ccd-definition/State.json
  e2e/api/steps.js
  e2e/tests/rpaHandoff_test.js
  e2e/tests/solicitorCreatesClaim_test.js
  src/main/java/uk/gov/hmcts/reform/unspec/callback/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/unspec/config/properties/notification/NotificationsProperties.java
  src/main/java/uk/gov/hmcts/reform/unspec/enums/CaseState.java
  src/main/java/uk/gov/hmcts/reform/unspec/event/DismissClaimEvent.java
  src/main/java/uk/gov/hmcts/reform/unspec/event/MoveCaseToStuckOutEvent.java
  src/main/java/uk/gov/hmcts/reform/unspec/handler/callback/camunda/notification/claimdismissed/ApplicantClaimDismissedNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/unspec/handler/callback/camunda/notification/claimdismissed/RespondentClaimDismissedNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/unspec/handler/callback/user/DismissClaimCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/unspec/handler/callback/user/RespondToDefenceCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/unspec/handler/event/DismissClaimEventHandler.java
  src/main/java/uk/gov/hmcts/reform/unspec/handler/event/MoveCaseToStruckOutEventHandler.java
  src/main/java/uk/gov/hmcts/reform/unspec/handler/tasks/ClaimDismissedHandler.java
  src/main/java/uk/gov/hmcts/reform/unspec/handler/tasks/ClaimStrikeoutHandler.java
  src/main/java/uk/gov/hmcts/reform/unspec/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/unspec/service/flowstate/FlowPredicate.java
  src/main/java/uk/gov/hmcts/reform/unspec/service/flowstate/FlowState.java
  src/main/java/uk/gov/hmcts/reform/unspec/service/flowstate/FlowStateAllowedEventService.java
  src/main/java/uk/gov/hmcts/reform/unspec/service/flowstate/StateFlowEngine.java
  src/main/java/uk/gov/hmcts/reform/unspec/service/search/CaseDismissedSearchService.java
  src/main/java/uk/gov/hmcts/reform/unspec/service/search/CaseStrikeoutSearchService.java
  src/main/java/uk/gov/hmcts/reform/unspec/service/tasklisteners/CaseDismissedExternalTaskListener.java
  src/main/java/uk/gov/hmcts/reform/unspec/service/tasklisteners/CaseStrikeOutExternalTaskListener.java
  src/main/resources/application.yaml
  src/main/resources/camunda/claim_dismissed.bpmn
  src/main/resources/camunda/claim_dismissed_scheduler.bpmn
  src/main/resources/camunda/claim_strikeout_scheduler.bpmn
  src/test/java/uk/gov/hmcts/reform/unspec/bpmn/CaseDismissedSchedulerTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/bpmn/CaseStayedSchedulerTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/bpmn/DismissClaimTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/bpmn/PollingEventEmitterSchedulerTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/handler/callback/camunda/notification/claimdismissed/ApplicantClaimDismissedNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/handler/callback/camunda/notification/claimdismissed/RespondentClaimDismissedNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/handler/callback/user/DismissClaimCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/handler/event/DismissClaimEventHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/handler/event/MoveCaseToStayedEventHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/handler/tasks/CaseStayedHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/handler/tasks/ClaimDismissedHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/sampledata/CaseDataBuilder.java
  src/test/java/uk/gov/hmcts/reform/unspec/service/CoreCaseDataServiceTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/service/flowstate/FlowPredicateTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/service/flowstate/FlowStateAllowedEventServiceTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/service/flowstate/StateFlowEngineTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/service/search/CaseDismissedSearchServiceTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/service/search/CaseStrikeoutSearchServiceTest.java
Labels: data-changes, ns:unspec, prd:unspec, rel:unspec-service-pr-668

#676 feat: refactor PDFs with defendant details (CMC-957)
  bin/add-roles-preview.sh
  charts/unspec-service/Chart.yaml
  charts/unspec-service/values.preview.template.yaml
  charts/unspec-service/values.yaml
  docker/docmosis/templates/CV-UNS-ACK-ENG-00653.docx
  docker/docmosis/templates/CV-UNS-CLM-ENG-00655.docx
  docker/docmosis/templates/CV-UNS-HRN-ENG-00651.docx
  src/main/java/uk/gov/hmcts/reform/prd/client/OrganisationApi.java
  src/main/java/uk/gov/hmcts/reform/unspec/config/PrdAdminUserConfiguration.java
  src/main/java/uk/gov/hmcts/reform/unspec/model/Address.java
  src/main/java/uk/gov/hmcts/reform/unspec/model/docmosis/aos/AcknowledgementOfServiceForm.java
  src/main/java/uk/gov/hmcts/reform/unspec/model/docmosis/common/Applicant.java
  src/main/java/uk/gov/hmcts/reform/unspec/model/docmosis/common/Respondent.java
  src/main/java/uk/gov/hmcts/reform/unspec/model/docmosis/dq/DirectionsQuestionnaireForm.java
  src/main/java/uk/gov/hmcts/reform/unspec/model/docmosis/sealedclaim/Representative.java
  src/main/java/uk/gov/hmcts/reform/unspec/model/docmosis/sealedclaim/SealedClaimForm.java
  src/main/java/uk/gov/hmcts/reform/unspec/service/OrganisationService.java
  src/main/java/uk/gov/hmcts/reform/unspec/service/docmosis/RepresentativeService.java
  src/main/java/uk/gov/hmcts/reform/unspec/service/docmosis/aos/AcknowledgementOfServiceGenerator.java
  src/main/java/uk/gov/hmcts/reform/unspec/service/docmosis/dq/DirectionsQuestionnaireGenerator.java
  src/main/java/uk/gov/hmcts/reform/unspec/service/docmosis/sealedclaim/SealedClaimFormGenerator.java
  src/main/resources/application.yaml
  src/main/resources/bootstrap.yaml
  src/test/java/uk/gov/hmcts/reform/unspec/sampledata/CaseDataBuilder.java
  src/test/java/uk/gov/hmcts/reform/unspec/service/OrganisationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/service/docmosis/RepresentativeServiceTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/service/docmosis/aos/AcknowledgementOfServiceGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/service/docmosis/dq/DirectionsQuestionnaireGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/service/docmosis/sealedclaim/SealedClaimFormGeneratorTest.java
Labels: ns:unspec, prd:unspec, rel:unspec-service-pr-676

#660 feat: added support for pact verification using the Pactflow platform (CMC-1349)
  README.md
  build.gradle
  src/contractTest/java/uk/gov/hmcts/reform/unspec/BaseRpaTest.java
Labels: ns:unspec, prd:unspec, rel:unspec-service-pr-660

#679 feat: rename acknowledgement of service (CMC-1271)
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEvent.json
  ccd-definition/AuthorisationCaseEvent/caseAccessAssignment.json
  ccd-definition/AuthorisationCaseEvent/systemUpdate.json
  ccd-definition/CaseEvent/Camunda/DocmosisEvents.json
  ccd-definition/CaseEvent/Camunda/NotificationEvents.json
  ccd-definition/CaseEvent/User/UserEvents.json
  ccd-definition/CaseEventToComplexTypes/AcknowledgeClaim.json
  ccd-definition/CaseEventToFields/AcknowledgeClaim.json
  ccd-definition/FixedLists/DocumentType.json
  docker/docmosis/templates/CV-UNS-ACK-ENG-00653.docx
  e2e/api/steps.js
  e2e/fixtures/ccd/events.js
  e2e/fixtures/ccd/expectedEvents.js
  e2e/fixtures/events/acknowledgeClaim.js
  e2e/pages/acknowledgeClaim/responseIntention.page.js
  e2e/steps_file.js
  e2e/tests/api_test.js
  e2e/tests/rpaHandoff_test.js
  e2e/tests/solicitorCreatesClaim_test.js
  src/main/java/uk/gov/hmcts/reform/unspec/callback/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/unspec/config/properties/notification/NotificationsProperties.java
  src/main/java/uk/gov/hmcts/reform/unspec/handler/callback/camunda/docmosis/GenerateAcknowledgementOfClaimCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/unspec/handler/callback/camunda/notification/AcknowledgeClaimApplicantNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/unspec/handler/callback/user/AcknowledgeClaimCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/unspec/model/docmosis/aos/AcknowledgementOfClaimForm.java
  src/main/java/uk/gov/hmcts/reform/unspec/model/documents/DocumentType.java
  src/main/java/uk/gov/hmcts/reform/unspec/service/docmosis/DocmosisTemplates.java
  src/main/java/uk/gov/hmcts/reform/unspec/service/docmosis/aos/AcknowledgementOfClaimGenerator.java
  src/main/java/uk/gov/hmcts/reform/unspec/service/flowstate/FlowPredicate.java
  src/main/java/uk/gov/hmcts/reform/unspec/service/flowstate/FlowState.java
  src/main/java/uk/gov/hmcts/reform/unspec/service/flowstate/FlowStateAllowedEventService.java
  src/main/java/uk/gov/hmcts/reform/unspec/service/flowstate/StateFlowEngine.java
  src/main/resources/application.yaml
  src/main/resources/camunda/acknowledge_claim.bpmn
  src/test/java/uk/gov/hmcts/reform/unspec/aspect/NoOngoingBusinessProcessAspectTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/bpmn/AcknowledgeClaimTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/handler/callback/camunda/docmosis/GenerateAcknowledgementOfClaimCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/handler/callback/camunda/notification/AcknowledgeClaimApplicantNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/handler/callback/camunda/notification/DefendantResponseApplicantNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/handler/callback/user/AcknowledgeClaimCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/handler/callback/user/AddDefendantLitigationFriendCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/handler/callback/user/RespondToClaimCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/sampledata/CaseDataBuilder.java
  src/test/java/uk/gov/hmcts/reform/unspec/sampledata/CaseDetailsBuilder.java
  src/test/java/uk/gov/hmcts/reform/unspec/service/docmosis/aos/AcknowledgementOfClaimGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/service/flowstate/FlowPredicateTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/service/flowstate/FlowStateAllowedEventServiceTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/service/flowstate/StateFlowEngineTest.java
Labels: ns:unspec, prd:unspec, rel:unspec-service-pr-679

#702 build: merged dependabot PRs
  build.gradle
Labels: dependencies, ns:unspec, prd:unspec, rel:unspec-service-pr-702

#708 fix: removed case event access from caseworker-caa
  ccd-definition/AuthorisationCaseEvent/caseAccessAssignment.json
Labels: ns:unspec, prd:unspec, rel:unspec-service-pr-708

#706 feat: backwards compatibility for renamed event (CMC-1271)
  src/main/java/uk/gov/hmcts/reform/unspec/callback/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/unspec/handler/callback/user/AcknowledgeServiceCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/unspec/service/flowstate/FlowStateAllowedEventService.java
  src/test/java/uk/gov/hmcts/reform/unspec/handler/callback/user/AcknowledgeServiceCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/service/flowstate/FlowStateAllowedEventServiceTest.java
Labels: ns:unspec, prd:unspec, rel:unspec-service-pr-706

#709 feat: apply acknowledgement of service rename (CMC-1271)
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEvent.json
  ccd-definition/AuthorisationCaseEvent/systemUpdate.json
  ccd-definition/CaseEvent/Camunda/DocmosisEvents.json
  ccd-definition/CaseEvent/Camunda/NotificationEvents.json
  ccd-definition/CaseEvent/User/UserEvents.json
  ccd-definition/CaseEventToComplexTypes/AcknowledgeClaim.json
  ccd-definition/CaseEventToFields/AcknowledgeClaim.json
  ccd-definition/FixedLists/DocumentType.json
  docker/docmosis/templates/CV-UNS-ACK-ENG-00653.docx
  e2e/api/steps.js
  e2e/fixtures/ccd/events.js
  e2e/fixtures/ccd/expectedEvents.js
  e2e/fixtures/events/acknowledgeClaim.js
  e2e/pages/acknowledgeClaim/responseIntention.page.js
  e2e/steps_file.js
  e2e/tests/api_test.js
  e2e/tests/rpaHandoff_test.js
  e2e/tests/solicitorCreatesClaim_test.js
  src/main/java/uk/gov/hmcts/reform/unspec/callback/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/unspec/config/properties/notification/NotificationsProperties.java
  src/main/java/uk/gov/hmcts/reform/unspec/handler/callback/camunda/docmosis/GenerateAcknowledgementOfClaimCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/unspec/handler/callback/camunda/notification/AcknowledgeClaimApplicantNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/unspec/handler/callback/user/AcknowledgeClaimCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/unspec/model/docmosis/aos/AcknowledgementOfClaimForm.java
  src/main/java/uk/gov/hmcts/reform/unspec/model/documents/DocumentType.java
  src/main/java/uk/gov/hmcts/reform/unspec/service/docmosis/DocmosisTemplates.java
  src/main/java/uk/gov/hmcts/reform/unspec/service/docmosis/aos/AcknowledgementOfClaimGenerator.java
  src/main/java/uk/gov/hmcts/reform/unspec/service/flowstate/FlowPredicate.java
  src/main/java/uk/gov/hmcts/reform/unspec/service/flowstate/FlowState.java
  src/main/java/uk/gov/hmcts/reform/unspec/service/flowstate/FlowStateAllowedEventService.java
  src/main/java/uk/gov/hmcts/reform/unspec/service/flowstate/StateFlowEngine.java
  src/main/resources/application.yaml
  src/main/resources/camunda/acknowledge_claim.bpmn
  src/test/java/uk/gov/hmcts/reform/unspec/aspect/NoOngoingBusinessProcessAspectTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/bpmn/AcknowledgeClaimTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/handler/callback/camunda/docmosis/GenerateAcknowledgementOfClaimCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/handler/callback/camunda/notification/AcknowledgeClaimApplicantNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/handler/callback/camunda/notification/DefendantResponseApplicantNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/handler/callback/user/AcknowledgeClaimCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/handler/callback/user/AddDefendantLitigationFriendCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/handler/callback/user/RespondToClaimCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/sampledata/CaseDataBuilder.java
  src/test/java/uk/gov/hmcts/reform/unspec/sampledata/CaseDetailsBuilder.java
  src/test/java/uk/gov/hmcts/reform/unspec/service/docmosis/aos/AcknowledgementOfClaimGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/service/flowstate/FlowPredicateTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/service/flowstate/FlowStateAllowedEventServiceTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/service/flowstate/StateFlowEngineTest.java
Labels: ns:unspec, prd:unspec, rel:unspec-service-pr-709

#720 feat: apply acknowledgement of service rename (CMC-1271)
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEvent.json
  ccd-definition/AuthorisationCaseEvent/systemUpdate.json
  ccd-definition/CaseEvent/Camunda/DocmosisEvents.json
  ccd-definition/CaseEvent/Camunda/NotificationEvents.json
  ccd-definition/CaseEvent/User/UserEvents.json
  ccd-definition/CaseEventToComplexTypes/AcknowledgeClaim.json
  ccd-definition/CaseEventToFields/AcknowledgeClaim.json
  ccd-definition/FixedLists/DocumentType.json
  docker/docmosis/templates/CV-UNS-ACK-ENG-00653.docx
  e2e/api/steps.js
  e2e/fixtures/ccd/events.js
  e2e/fixtures/ccd/expectedEvents.js
  e2e/fixtures/events/acknowledgeClaim.js
  e2e/pages/acknowledgeClaim/responseIntention.page.js
  e2e/steps_file.js
  e2e/tests/api_test.js
  e2e/tests/rpaHandoff_test.js
  e2e/tests/solicitorCreatesClaim_test.js
  src/main/java/uk/gov/hmcts/reform/unspec/callback/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/unspec/config/properties/notification/NotificationsProperties.java
  src/main/java/uk/gov/hmcts/reform/unspec/handler/callback/camunda/docmosis/GenerateAcknowledgementOfClaimCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/unspec/handler/callback/camunda/notification/AcknowledgeClaimApplicantNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/unspec/handler/callback/user/AcknowledgeClaimCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/unspec/model/docmosis/aos/AcknowledgementOfClaimForm.java
  src/main/java/uk/gov/hmcts/reform/unspec/model/documents/DocumentType.java
  src/main/java/uk/gov/hmcts/reform/unspec/service/docmosis/DocmosisTemplates.java
  src/main/java/uk/gov/hmcts/reform/unspec/service/docmosis/aos/AcknowledgementOfClaimGenerator.java
  src/main/java/uk/gov/hmcts/reform/unspec/service/flowstate/FlowPredicate.java
  src/main/java/uk/gov/hmcts/reform/unspec/service/flowstate/FlowState.java
  src/main/java/uk/gov/hmcts/reform/unspec/service/flowstate/FlowStateAllowedEventService.java
  src/main/java/uk/gov/hmcts/reform/unspec/service/flowstate/StateFlowEngine.java
  src/main/resources/application.yaml
  src/main/resources/camunda/acknowledge_claim.bpmn
  src/test/java/uk/gov/hmcts/reform/unspec/aspect/NoOngoingBusinessProcessAspectTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/bpmn/AcknowledgeClaimTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/handler/callback/camunda/docmosis/GenerateAcknowledgementOfClaimCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/handler/callback/camunda/notification/AcknowledgeClaimApplicantNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/handler/callback/camunda/notification/DefendantResponseApplicantNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/handler/callback/user/AcknowledgeClaimCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/handler/callback/user/AddDefendantLitigationFriendCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/handler/callback/user/RespondToClaimCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/sampledata/CaseDataBuilder.java
  src/test/java/uk/gov/hmcts/reform/unspec/sampledata/CaseDetailsBuilder.java
  src/test/java/uk/gov/hmcts/reform/unspec/service/docmosis/aos/AcknowledgementOfClaimGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/service/flowstate/FlowPredicateTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/service/flowstate/FlowStateAllowedEventServiceTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/service/flowstate/StateFlowEngineTest.java
Labels: ns:unspec, prd:unspec, rel:unspec-service-pr-720

#705 fix: remove proxy from tests (CMC-1431)
  Jenkinsfile_nightly
  bin/variables/load-demo-environment-variables.sh
  codecept.conf.js
  e2e/api/restHelper.js
  e2e/config.js
  package.json
  yarn.lock
Labels: ns:unspec, prd:unspec, rel:unspec-service-pr-705

#686 feat: rpa mappings for organisation details from prd (CMC-1328)
  src/contractTest/java/uk/gov/hmcts/reform/unspec/RpaConsumerTest.java
  src/main/java/uk/gov/hmcts/reform/unspec/model/robotics/Solicitor.java
  src/main/java/uk/gov/hmcts/reform/unspec/service/robotics/mapper/RoboticsAddressMapper.java
  src/main/java/uk/gov/hmcts/reform/unspec/service/robotics/mapper/RoboticsDataMapper.java
  src/test/java/uk/gov/hmcts/reform/unspec/assertion/ContactInformationAssert.java
  src/test/java/uk/gov/hmcts/reform/unspec/assertion/CustomAssertions.java
  src/test/java/uk/gov/hmcts/reform/unspec/assertion/RoboticsCaseDataAssert.java
  src/test/java/uk/gov/hmcts/reform/unspec/handler/callback/camunda/robotics/NotifyRoboticsOnCaseHandedOfflineHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/sampledata/CaseDataBuilder.java
  src/test/java/uk/gov/hmcts/reform/unspec/service/robotics/RoboticsNotificationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/service/robotics/mapper/RoboticsAddressMapperTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/service/robotics/mapper/RoboticsDataMapperTest.java
Labels: ns:unspec, prd:unspec, rel:unspec-service-pr-686

#721 build: merged dependabot PRs to save resources
  build.gradle
Labels: dependencies, ns:unspec, prd:unspec, rel:unspec-service-pr-721

#688 refactor: use case data objects for deadline validation (CMC-1424)
  src/main/java/uk/gov/hmcts/reform/unspec/handler/callback/user/InformAgreedExtensionDateCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/unspec/validation/DeadlineExtensionValidator.java
  src/test/java/uk/gov/hmcts/reform/unspec/handler/callback/user/InformAgreedExtensionDateCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/sampledata/CaseDataBuilder.java
  src/test/java/uk/gov/hmcts/reform/unspec/validation/DeadlineExtensionValidatorTest.java
Labels: ns:unspec, prd:unspec, rel:unspec-service-pr-688

#687 feat: add key dates to case data (CMC-596)
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField.json
  ccd-definition/AuthorisationCaseField/caseAccessAssignment.json
  ccd-definition/AuthorisationCaseField/systemUpdate.json
  ccd-definition/CaseEvent/User/UserEvents.json
  ccd-definition/CaseField.json
  ccd-definition/CaseTypeTab/Summary.json
  e2e/tests/rpaHandoff_test.js
  src/main/java/uk/gov/hmcts/reform/unspec/config/TimeConfiguration.java
  src/main/java/uk/gov/hmcts/reform/unspec/enums/AllocatedTrack.java
  src/main/java/uk/gov/hmcts/reform/unspec/handler/callback/camunda/docmosis/GenerateClaimFormCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/unspec/handler/callback/camunda/notification/AcknowledgeClaimApplicantNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/unspec/handler/callback/camunda/notification/CreateClaimRespondentNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/unspec/handler/callback/camunda/notification/DefendantClaimDetailsNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/unspec/handler/callback/camunda/payment/PaymentsCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/unspec/handler/callback/camunda/robotics/NotifyRoboticsOnCaseHandedOfflineHandler.java
  src/main/java/uk/gov/hmcts/reform/unspec/handler/callback/user/AcknowledgeClaimCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/unspec/handler/callback/user/CaseProceedsInCasemanCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/unspec/handler/callback/user/CreateClaimCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/unspec/handler/callback/user/InformAgreedExtensionDateCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/unspec/handler/callback/user/NotifyClaimCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/unspec/handler/callback/user/NotifyClaimDetailsCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/unspec/handler/callback/user/RespondToClaimCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/unspec/handler/callback/user/RespondToDefenceCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/unspec/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/unspec/model/docmosis/aos/AcknowledgementOfClaimForm.java
  src/main/java/uk/gov/hmcts/reform/unspec/service/DeadlinesCalculator.java
  src/main/java/uk/gov/hmcts/reform/unspec/service/IssueDateCalculator.java
  src/main/java/uk/gov/hmcts/reform/unspec/service/Time.java
  src/main/java/uk/gov/hmcts/reform/unspec/service/docmosis/aos/AcknowledgementOfClaimGenerator.java
  src/main/java/uk/gov/hmcts/reform/unspec/service/docmosis/dq/DirectionsQuestionnaireGenerator.java
  src/main/java/uk/gov/hmcts/reform/unspec/service/docmosis/sealedclaim/SealedClaimFormGenerator.java
  src/main/java/uk/gov/hmcts/reform/unspec/service/flowstate/FlowPredicate.java
  src/main/java/uk/gov/hmcts/reform/unspec/service/robotics/mapper/EventHistoryMapper.java
  src/main/java/uk/gov/hmcts/reform/unspec/service/robotics/mapper/RoboticsDataMapper.java
  src/test/java/uk/gov/hmcts/reform/unspec/assertion/RoboticsCaseDataAssert.java
  src/test/java/uk/gov/hmcts/reform/unspec/handler/callback/camunda/docmosis/GenerateClaimFormCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/handler/callback/camunda/notification/AcknowledgeClaimApplicantNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/handler/callback/camunda/notification/DefendantClaimDetailsNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/handler/callback/camunda/payment/PaymentsCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/handler/callback/camunda/robotics/NotifyRoboticsOnCaseHandedOfflineHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/handler/callback/user/AcknowledgeClaimCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/handler/callback/user/CaseProceedsInCasemanCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/handler/callback/user/CreateClaimCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/handler/callback/user/InformAgreedExtensionDateCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/handler/callback/user/NotifyClaimCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/handler/callback/user/NotifyClaimDetailsCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/handler/callback/user/RespondToClaimCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/handler/callback/user/RespondToDefenceCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/sampledata/CaseDataBuilder.java
  src/test/java/uk/gov/hmcts/reform/unspec/service/DeadlinesCalculatorTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/service/IssueDateCalculatorTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/service/docmosis/aos/AcknowledgementOfClaimGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/service/docmosis/sealedclaim/SealedClaimFormGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/service/robotics/mapper/EventHistoryMapperTest.java
Labels: data-changes, ns:unspec, prd:unspec, rel:unspec-service-pr-687

#666 feat: limit solicitor references to 24 characters (CMC-1298)
  ccd-definition/ComplexTypes/SolicitorReferences.json
  e2e/fragments/confirmDetails.page.js
Labels: data-changes, ns:unspec, prd:unspec, rel:unspec-service-pr-666

#696 refactor: Move Capture Defendant email to new screen (CMC-1304)
  ccd-definition/CaseEventToFields/CreateClaim.json
  ccd-definition/CaseField.json
  e2e/fixtures/events/createClaim.js
  e2e/pages/createClaim/defendantSolicitorEmail.page.js
  e2e/pages/createClaim/defendantSolicitorOrganisation.page.js
  e2e/steps_file.js
Labels: data-changes, ns:unspec, prd:unspec, rel:unspec-service-pr-696

#735 fix: added back definition for removed fields
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField.json
  ccd-definition/AuthorisationCaseField/systemUpdate.json
  ccd-definition/CaseField.json
Labels: data-changes

#736 fix: made state flow backwards compatible with or statement
  src/main/java/uk/gov/hmcts/reform/unspec/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/unspec/service/flowstate/FlowPredicate.java
Labels: data-changes
