Repository hmcts/unspec-service, pull requests merged in 2021-02, with the labels that each got.

#544 feat: assert event triggers are as expected (CMC-1184)
  e2e/api/apiRequest.js
  e2e/api/steps.js
  e2e/fixtures/ccd/events.js
  e2e/fixtures/ccd/expectedEvents.js
Labels: ns:unspec, prd:unspec, rel:unspec-service-pr-544

#551 feat: retry RPA notification email (CMC-1159)
  ccd-definition/AuthorisationCaseEvent/systemUpdate.json
  ccd-definition/CaseEvent/Camunda/RoboticsEvents.json
  src/main/java/uk/gov/hmcts/reform/unspec/callback/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/unspec/handler/callback/camunda/robotics/NotifyRoboticsOnCaseHandedOfflineHandler.java
  src/main/java/uk/gov/hmcts/reform/unspec/handler/callback/camunda/robotics/ResetRpaNotificationBusinessProcessHandler.java
  src/test/java/uk/gov/hmcts/reform/unspec/handler/callback/camunda/robotics/ResetRpaNotificationBusinessProcessHandlerTest.java
Labels: ns:unspec, prd:unspec, rel:unspec-service-pr-551

#552 feat: retry RPA camunda tasks (CMC-1159)
  src/main/resources/camunda/reset_rpa_notify_business_process.bpmn
  src/main/resources/camunda/retry_rpa_notification.bpmn
  src/test/java/uk/gov/hmcts/reform/unspec/bpmn/ResetRpaNotifyBusinessProcessTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/bpmn/RetryRpaNotificationTest.java
Labels: ns:unspec, prd:unspec, rel:unspec-service-pr-552

#553 feat: notify RPA for claim created against unregistered solicitor (CMC-843)
  src/main/resources/camunda/create_claim.bpmn
  src/test/java/uk/gov/hmcts/reform/unspec/bpmn/CreateClaimTest.java
Labels: ns:unspec, prd:unspec, rel:unspec-service-pr-553

#543 feat: case proceeds in caseman event (CMC-1193)
  ccd-definition/AuthorisationCaseEvent/courtAdmin.json
  ccd-definition/AuthorisationCaseField/courtAdmin.json
  ccd-definition/CaseEvent/User/UserEvents.json
  ccd-definition/CaseEventToFields/CaseProceedsInCaseman.json
  ccd-definition/CaseField.json
  ccd-definition/ComplexTypes/ClaimProceedsInCaseman.json
  ccd-definition/FixedLists/ReasonForProceedingOnPaper.json
  e2e/api/apiRequest.js
  e2e/api/steps.js
  e2e/fixtures/ccd/events.js
  e2e/fixtures/ccd/expectedEvents.js
  e2e/fixtures/events/caseProceedsInCaseman.js
  e2e/tests/api_test.js
  src/main/java/uk/gov/hmcts/reform/unspec/callback/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/unspec/enums/ReasonForProceedingOnPaper.java
  src/main/java/uk/gov/hmcts/reform/unspec/handler/callback/user/CaseProceedsInCasemanCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/unspec/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/unspec/model/ClaimProceedsInCaseman.java
  src/main/java/uk/gov/hmcts/reform/unspec/service/flowstate/FlowPredicate.java
  src/main/java/uk/gov/hmcts/reform/unspec/service/flowstate/FlowState.java
  src/main/java/uk/gov/hmcts/reform/unspec/service/flowstate/FlowStateAllowedEventService.java
  src/main/java/uk/gov/hmcts/reform/unspec/service/flowstate/StateFlowEngine.java
  src/main/java/uk/gov/hmcts/reform/unspec/validation/groups/CasemanTransferDateGroup.java
  src/test/java/uk/gov/hmcts/reform/unspec/handler/callback/user/CaseProceedsInCasemanCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/sampledata/CaseDataBuilder.java
  src/test/java/uk/gov/hmcts/reform/unspec/service/flowstate/FlowPredicateTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/service/flowstate/FlowStateAllowedEventServiceTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/service/flowstate/StateFlowEngineTest.java
Labels: data-changes, ns:unspec, prd:unspec, rel:unspec-service-pr-543

#556 feat: defendant solicitor email field (CMC-1236)
  ccd-definition/AuthorisationCaseField/solicitor.json
  ccd-definition/AuthorisationCaseField/systemUpdate.json
  ccd-definition/CaseEventToFields/CreateClaim.json
  ccd-definition/CaseField.json
  e2e/fixtures/events/createClaim.js
  e2e/pages/createClaim/defendantSolicitorOrganisation.page.js
  src/main/java/uk/gov/hmcts/reform/unspec/handler/callback/camunda/notification/CreateClaimRespondentNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/unspec/model/CaseData.java
  src/test/java/uk/gov/hmcts/reform/unspec/sampledata/CaseDataBuilder.java
Labels: data-changes, ns:unspec, prd:unspec, rel:unspec-service-pr-556

#560 tech: remove duplicate flows for same internal state (CMC-1287)
  src/main/java/uk/gov/hmcts/reform/unspec/service/flowstate/FlowState.java
  src/main/java/uk/gov/hmcts/reform/unspec/service/flowstate/StateFlowEngine.java
  src/main/resources/camunda/create_claim.bpmn
  src/test/java/uk/gov/hmcts/reform/unspec/bpmn/AcknowledgeServiceTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/bpmn/ClaimStrikeoutTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/bpmn/CreateClaimTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/bpmn/DefendantResponseTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/bpmn/RequestExtensionTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/bpmn/RespondExtensionTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/bpmn/RetryRpaNotificationTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/handler/callback/camunda/robotics/NotifyRoboticsOnCaseHandedOfflineHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/handler/callback/camunda/robotics/ResetRpaNotificationBusinessProcessHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/sampledata/CaseDataBuilder.java
  src/test/java/uk/gov/hmcts/reform/unspec/service/flowstate/FlowPredicateTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/service/flowstate/StateFlowEngineTest.java
Labels: ns:unspec, prd:unspec, rel:unspec-service-pr-560

#568 fix: bumped dependencies for CVE-2020-29582 and added suppression
  build.gradle
  config/owasp/suppressions.xml
Labels: ns:unspec, prd:unspec, rel:unspec-service-pr-568

#569 fix: update json schema file path and read method
  src/main/java/uk/gov/hmcts/reform/unspec/service/robotics/JsonSchemaValidationService.java
  src/test/java/uk/gov/hmcts/reform/unspec/service/robotics/JsonSchemaValidationServiceTest.java
Labels: ns:unspec, prd:unspec, rel:unspec-service-pr-569

#570 build: bump java chart version to 3.4.4
  charts/unspec-service/Chart.yaml
Labels: ns:unspec, prd:unspec, rel:unspec-service-pr-570

#549 fix: start business process diagram
  src/main/resources/camunda/start_business_process.bpmn
Labels: ns:unspec, prd:unspec, rel:unspec-service-pr-549

#571 fix: Fix event name in diagram message
  src/main/resources/camunda/retry_rpa_notification.bpmn
  src/test/java/uk/gov/hmcts/reform/unspec/bpmn/RetryRpaNotificationTest.java
Labels: ns:unspec, prd:unspec, rel:unspec-service-pr-571

#565 feat: notify claim event (CMC-1207)
  ccd-definition/AuthorisationCaseEvent/solicitor.json
  ccd-definition/AuthorisationCaseField/solicitor.json
  ccd-definition/AuthorisationCaseField/systemUpdate.json
  ccd-definition/AuthorisationCaseState/solicitor.json
  ccd-definition/AuthorisationCaseState/systemUpdate.json
  ccd-definition/CaseEvent/Camunda/DocmosisEvents.json
  ccd-definition/CaseEvent/User/UserEvents.json
  ccd-definition/CaseEventToFields/NotifyDefendantOfClaim.json
  ccd-definition/CaseField.json
  ccd-definition/State.json
  e2e/api/steps.js
  e2e/fixtures/ccd/events.js
  e2e/fixtures/ccd/expectedEvents.js
  e2e/steps_file.js
  e2e/tests/api_test.js
  e2e/tests/solicitorCreatesClaim_test.js
  src/main/java/uk/gov/hmcts/reform/unspec/callback/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/unspec/enums/CaseState.java
  src/main/java/uk/gov/hmcts/reform/unspec/handler/callback/camunda/notification/CreateClaimRespondentNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/unspec/handler/callback/user/NotifyClaimCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/unspec/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/unspec/service/flowstate/FlowPredicate.java
  src/main/java/uk/gov/hmcts/reform/unspec/service/flowstate/FlowState.java
  src/main/java/uk/gov/hmcts/reform/unspec/service/flowstate/FlowStateAllowedEventService.java
  src/main/java/uk/gov/hmcts/reform/unspec/service/flowstate/StateFlowEngine.java
  src/main/resources/camunda/create_claim.bpmn
  src/main/resources/camunda/notify_claim.bpmn
  src/test/java/uk/gov/hmcts/reform/unspec/bpmn/CreateClaimTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/bpmn/NotifyClaimTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/handler/callback/camunda/notification/CreateClaimRespondentNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/handler/callback/user/NotifyClaimCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/sampledata/CaseDataBuilder.java
  src/test/java/uk/gov/hmcts/reform/unspec/sampledata/CaseDetailsBuilder.java
  src/test/java/uk/gov/hmcts/reform/unspec/service/flowstate/FlowPredicateTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/service/flowstate/FlowStateAllowedEventServiceTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/service/flowstate/StateFlowEngineTest.java
Labels: data-changes, ns:unspec, prd:unspec, rel:unspec-service-pr-565

#564 feat: rpa mappings updates for case proceeds offline when unrepresented defendant (CMC-843)
  e2e/fixtures/events/acknowledgeService.js
  e2e/fixtures/events/createClaim.js
  e2e/fixtures/events/defendantResponse.js
  src/contractTest/java/uk/gov/hmcts/reform/unspec/BaseRpaTest.java
  src/contractTest/java/uk/gov/hmcts/reform/unspec/RpaConsumerTest.java
  src/main/java/uk/gov/hmcts/reform/unspec/model/robotics/ClaimDetails.java
  src/main/java/uk/gov/hmcts/reform/unspec/model/robotics/Event.java
  src/main/java/uk/gov/hmcts/reform/unspec/model/robotics/EventDetails.java
  src/main/java/uk/gov/hmcts/reform/unspec/model/robotics/EventHistory.java
  src/main/java/uk/gov/hmcts/reform/unspec/model/robotics/LitigiousParty.java
  src/main/java/uk/gov/hmcts/reform/unspec/model/robotics/RoboticsCaseData.java
  src/main/java/uk/gov/hmcts/reform/unspec/model/robotics/Solicitor.java
  src/main/java/uk/gov/hmcts/reform/unspec/service/flowstate/FlowPredicate.java
  src/main/java/uk/gov/hmcts/reform/unspec/service/robotics/mapper/EventHistoryMapper.java
  src/main/java/uk/gov/hmcts/reform/unspec/service/robotics/mapper/RoboticsAddressMapper.java
  src/main/java/uk/gov/hmcts/reform/unspec/service/robotics/mapper/RoboticsDataMapper.java
  src/main/java/uk/gov/hmcts/reform/unspec/utils/PartyUtils.java
  src/main/resources/schema/rpa-json-schema.json
  src/test/java/uk/gov/hmcts/reform/unspec/assertion/CustomAssertions.java
  src/test/java/uk/gov/hmcts/reform/unspec/assertion/MoneyAssert.java
  src/test/java/uk/gov/hmcts/reform/unspec/assertion/RoboticsAddressAssert.java
  src/test/java/uk/gov/hmcts/reform/unspec/assertion/RoboticsCaseDataAssert.java
  src/test/java/uk/gov/hmcts/reform/unspec/handler/callback/camunda/robotics/NotifyRoboticsOnCaseHandedOfflineHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/sampledata/CaseDataBuilder.java
  src/test/java/uk/gov/hmcts/reform/unspec/service/robotics/RoboticsNotificationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/service/robotics/mapper/EventHistoryMapperTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/service/robotics/mapper/RoboticsDataMapperTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/utils/PartyUtilsTest.java
Labels: ns:unspec, prd:unspec, rel:unspec-service-pr-564

#578 Revert "feat: notify claim event (CMC-1207)"
  ccd-definition/AuthorisationCaseEvent/solicitor.json
  ccd-definition/AuthorisationCaseField/solicitor.json
  ccd-definition/AuthorisationCaseField/systemUpdate.json
  ccd-definition/AuthorisationCaseState/solicitor.json
  ccd-definition/AuthorisationCaseState/systemUpdate.json
  ccd-definition/CaseEvent/Camunda/DocmosisEvents.json
  ccd-definition/CaseEvent/User/UserEvents.json
  ccd-definition/CaseEventToFields/NotifyDefendantOfClaim.json
  ccd-definition/CaseField.json
  ccd-definition/State.json
  e2e/api/steps.js
  e2e/fixtures/ccd/events.js
  e2e/fixtures/ccd/expectedEvents.js
  e2e/steps_file.js
  e2e/tests/api_test.js
  e2e/tests/solicitorCreatesClaim_test.js
  src/main/java/uk/gov/hmcts/reform/unspec/callback/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/unspec/enums/CaseState.java
  src/main/java/uk/gov/hmcts/reform/unspec/handler/callback/camunda/notification/CreateClaimRespondentNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/unspec/handler/callback/user/NotifyClaimCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/unspec/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/unspec/service/flowstate/FlowPredicate.java
  src/main/java/uk/gov/hmcts/reform/unspec/service/flowstate/FlowState.java
  src/main/java/uk/gov/hmcts/reform/unspec/service/flowstate/FlowStateAllowedEventService.java
  src/main/java/uk/gov/hmcts/reform/unspec/service/flowstate/StateFlowEngine.java
  src/main/resources/camunda/notify_claim.bpmn
  src/test/java/uk/gov/hmcts/reform/unspec/bpmn/NotifyClaimTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/handler/callback/camunda/notification/CreateClaimRespondentNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/handler/callback/user/NotifyClaimCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/sampledata/CaseDataBuilder.java
  src/test/java/uk/gov/hmcts/reform/unspec/sampledata/CaseDetailsBuilder.java
  src/test/java/uk/gov/hmcts/reform/unspec/service/flowstate/FlowPredicateTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/service/flowstate/FlowStateAllowedEventServiceTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/service/flowstate/StateFlowEngineTest.java
Labels: data-changes, ns:unspec, prd:unspec, rel:unspec-service-pr-578

#584 fix: disable managementWeb in preview chart
  charts/unspec-service/values.preview.template.yaml
Labels: ns:unspec, prd:unspec, rel:unspec-service-pr-584

#582 FIX: CMC-1306: Add payment reference enter by claimant solicitor to payload to Fee and Pay service
  src/main/java/uk/gov/hmcts/reform/unspec/service/PaymentsService.java
  src/test/java/uk/gov/hmcts/reform/unspec/service/PaymentsServiceTest.java
Labels: ns:unspec, prd:unspec, rel:unspec-service-pr-582

#581 feat: notify claim event (CMC-1207)
  ccd-definition/AuthorisationCaseEvent/solicitor.json
  ccd-definition/AuthorisationCaseField/solicitor.json
  ccd-definition/AuthorisationCaseField/systemUpdate.json
  ccd-definition/AuthorisationCaseState/solicitor.json
  ccd-definition/AuthorisationCaseState/systemUpdate.json
  ccd-definition/CaseEvent/User/UserEvents.json
  ccd-definition/CaseEventToFields/NotifyDefendantOfClaim.json
  ccd-definition/CaseField.json
  ccd-definition/State.json
  e2e/api/steps.js
  e2e/fixtures/ccd/events.js
  e2e/fixtures/ccd/expectedEvents.js
  e2e/steps_file.js
  e2e/tests/api_test.js
  e2e/tests/solicitorCreatesClaim_test.js
  src/main/java/uk/gov/hmcts/reform/unspec/callback/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/unspec/enums/CaseState.java
  src/main/java/uk/gov/hmcts/reform/unspec/handler/callback/camunda/notification/CreateClaimRespondentNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/unspec/handler/callback/user/NotifyClaimCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/unspec/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/unspec/service/flowstate/FlowPredicate.java
  src/main/java/uk/gov/hmcts/reform/unspec/service/flowstate/FlowState.java
  src/main/java/uk/gov/hmcts/reform/unspec/service/flowstate/FlowStateAllowedEventService.java
  src/main/java/uk/gov/hmcts/reform/unspec/service/flowstate/StateFlowEngine.java
  src/main/resources/camunda/create_claim.bpmn
  src/main/resources/camunda/notify_claim.bpmn
  src/test/java/uk/gov/hmcts/reform/unspec/bpmn/CreateClaimTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/bpmn/NotifyClaimTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/handler/callback/camunda/notification/CreateClaimRespondentNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/handler/callback/user/NotifyClaimCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/sampledata/CaseDataBuilder.java
  src/test/java/uk/gov/hmcts/reform/unspec/sampledata/CaseDetailsBuilder.java
  src/test/java/uk/gov/hmcts/reform/unspec/service/flowstate/FlowPredicateTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/service/flowstate/FlowStateAllowedEventServiceTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/service/flowstate/StateFlowEngineTest.java
Labels: data-changes, ns:unspec, prd:unspec, rel:unspec-service-pr-581

#585 feat: notify claim event 2/2 (CMC-1207)
  ccd-definition/CaseEvent/Camunda/DocmosisEvents.json
  ccd-definition/CaseEvent/User/UserEvents.json
  e2e/api/steps.js
  e2e/tests/api_test.js
  e2e/tests/solicitorCreatesClaim_test.js
  src/main/java/uk/gov/hmcts/reform/unspec/service/flowstate/FlowPredicate.java
  src/main/java/uk/gov/hmcts/reform/unspec/service/flowstate/StateFlowEngine.java
  src/test/java/uk/gov/hmcts/reform/unspec/service/flowstate/FlowPredicateTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/service/flowstate/StateFlowEngineTest.java
Labels: ns:unspec, prd:unspec, rel:unspec-service-pr-585

#577 feat: map address fields to robotics address fields (CMC-1303)
  src/main/java/uk/gov/hmcts/reform/unspec/model/Address.java
  src/main/java/uk/gov/hmcts/reform/unspec/service/robotics/mapper/RoboticsAddressMapper.java
  src/main/java/uk/gov/hmcts/reform/unspec/utils/ObjectUtils.java
  src/test/java/uk/gov/hmcts/reform/unspec/assertion/RoboticsAddressAssert.java
  src/test/java/uk/gov/hmcts/reform/unspec/utils/ObjectUtilsTest.java
Labels: ns:unspec, prd:unspec, rel:unspec-service-pr-577

#594 fix: updated e2e test locators for collection document
  e2e/fragments/litigationFriend.js
  e2e/fragments/servedDocument.js
Labels: ns:unspec, prd:unspec, rel:unspec-service-pr-594

#566 feat: capture claimant email and idam id (CMC-1201)
  ccd-definition/AuthorisationCaseField/solicitor.json
  ccd-definition/AuthorisationCaseField/systemUpdate.json
  ccd-definition/CaseEventToComplexTypes/CreateClaim.json
  ccd-definition/CaseEventToFields/CreateClaim.json
  ccd-definition/CaseField.json
  ccd-definition/ComplexTypes/CorrectEmail.json
  ccd-definition/ComplexTypes/UserDetails.json
  e2e/api/steps.js
  e2e/fixtures/events/createClaim.js
  e2e/pages/createClaim/idamEmail.page.js
  e2e/steps_file.js
  src/main/java/uk/gov/hmcts/reform/unspec/handler/callback/user/CreateClaimCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/unspec/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/unspec/model/CorrectEmail.java
  src/main/java/uk/gov/hmcts/reform/unspec/model/IdamUserDetails.java
  src/test/java/uk/gov/hmcts/reform/unspec/handler/callback/user/CreateClaimCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/sampledata/CaseDataBuilder.java
Labels: data-changes, ns:unspec, prd:unspec, rel:unspec-service-pr-566

#590 feat: add or amend claim documents event (CMC-1198)
  ccd-definition/AuthorisationCaseEvent/solicitor.json
  ccd-definition/CaseEvent/User/UserEvents.json
  ccd-definition/CaseEventToComplexTypes/AddOrAmendClaimDocuments.json
  ccd-definition/CaseEventToComplexTypes/CreateClaim.json
  ccd-definition/CaseEventToFields/AddOrAmendClaimDocuments.json
  ccd-definition/CaseEventToFields/CreateClaim.json
  ccd-definition/CaseField.json
  ccd-definition/CaseTypeTab.json
  ccd-definition/ComplexTypes/ServedDocumentFiles.json
  e2e/api/steps.js
  e2e/fixtures/ccd/events.js
  e2e/fixtures/ccd/expectedEvents.js
  e2e/fixtures/events/addOrAmendClaimDocuments.js
  e2e/fixtures/events/createClaim.js
  e2e/fragments/servedDocument.js
  e2e/pages/createClaim/uploadParticularsOfClaim.page.js
  e2e/tests/api_test.js
  src/main/java/uk/gov/hmcts/reform/unspec/callback/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/unspec/handler/callback/user/AddOrAmendClaimDocumentsCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/unspec/handler/callback/user/CreateClaimCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/unspec/model/ServedDocumentFiles.java
  src/main/java/uk/gov/hmcts/reform/unspec/service/flowstate/FlowStateAllowedEventService.java
  src/test/java/uk/gov/hmcts/reform/unspec/handler/callback/user/AddOrAmendClaimDocumentsCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/handler/callback/user/CreateClaimCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/model/ServedDocumentFilesTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/service/flowstate/FlowStateAllowedEventServiceTest.java
Labels: data-changes, ns:unspec, prd:unspec, rel:unspec-service-pr-590

#606 feat: map addressLine2 to dash when not available (CMC-1305)
  src/main/java/uk/gov/hmcts/reform/unspec/model/Address.java
  src/main/java/uk/gov/hmcts/reform/unspec/service/robotics/mapper/RoboticsAddressMapper.java
  src/main/java/uk/gov/hmcts/reform/unspec/utils/StringUtils.java
  src/main/resources/schema/rpa-json-schema.json
  src/test/java/uk/gov/hmcts/reform/unspec/assertion/RoboticsAddressAssert.java
  src/test/java/uk/gov/hmcts/reform/unspec/service/robotics/mapper/RoboticsAddressMapperTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/utils/StringUtilsTest.java
Labels: ns:unspec, prd:unspec, rel:unspec-service-pr-606

#599 refactor: removed request and respond to extension (CMC-988)
  ccd-definition/AuthorisationCaseEvent/caseAccessAssignment.json
  ccd-definition/AuthorisationCaseEvent/solicitor.json
  ccd-definition/AuthorisationCaseEvent/systemUpdate.json
  ccd-definition/AuthorisationCaseField/solicitor.json
  ccd-definition/AuthorisationCaseField/systemUpdate.json
  ccd-definition/CaseEvent/Camunda/NotificationEvents.json
  ccd-definition/CaseEvent/User/UserEvents.json
  ccd-definition/CaseEventToFields/RequestExtension.json
  ccd-definition/CaseEventToFields/RespondExtension.json
  ccd-definition/CaseField.json
  e2e/api/steps.js
  e2e/fixtures/ccd/events.js
  e2e/fixtures/ccd/expectedEvents.js
  e2e/fixtures/events/requestExtension.js
  e2e/fixtures/events/respondExtension.js
  e2e/pages/requestExtension/extensionAlreadyAgreed.page.js
  e2e/pages/requestExtension/proposeDeadline.page.js
  e2e/pages/respondExtension/counter.page.js
  e2e/pages/respondExtension/reason.page.js
  e2e/pages/respondExtension/respond.page.js
  e2e/steps_file.js
  e2e/tests/api_test.js
  e2e/tests/solicitorCreatesClaim_test.js
  src/integrationTest/java/uk/gov/hmcts/reform/unspec/controllers/CallbackControllerTest.java
  src/main/java/uk/gov/hmcts/reform/unspec/callback/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/unspec/handler/callback/camunda/notification/RequestExtensionApplicantNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/unspec/handler/callback/camunda/notification/RespondExtensionRespondentNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/unspec/handler/callback/user/RequestExtensionCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/unspec/handler/callback/user/RespondExtensionCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/unspec/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/unspec/service/flowstate/FlowPredicate.java
  src/main/java/uk/gov/hmcts/reform/unspec/service/flowstate/FlowState.java
  src/main/java/uk/gov/hmcts/reform/unspec/service/flowstate/FlowStateAllowedEventService.java
  src/main/java/uk/gov/hmcts/reform/unspec/service/flowstate/StateFlowEngine.java
  src/main/java/uk/gov/hmcts/reform/unspec/validation/RequestExtensionValidator.java
  src/main/resources/camunda/request_extension.bpmn
  src/main/resources/camunda/respond_extension.bpmn
  src/test/java/uk/gov/hmcts/reform/unspec/aspect/EventAllowedAspectTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/aspect/NoOngoingBusinessProcessAspectTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/bpmn/RequestExtensionTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/bpmn/RespondExtensionTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/handler/callback/camunda/notification/AcknowledgeServiceApplicantNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/handler/callback/camunda/notification/RequestExtensionApplicantNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/handler/callback/camunda/notification/RespondExtensionRespondentNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/handler/callback/user/RequestExtensionCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/handler/callback/user/RespondExtensionCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/sampledata/CaseDataBuilder.java
  src/test/java/uk/gov/hmcts/reform/unspec/sampledata/CaseDetailsBuilder.java
  src/test/java/uk/gov/hmcts/reform/unspec/service/flowstate/FlowPredicateTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/service/flowstate/FlowStateAllowedEventServiceTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/service/flowstate/StateFlowEngineTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/validation/RequestExtensionValidatorTest.java
Labels: data-changes, ns:unspec, prd:unspec, rel:unspec-service-pr-599

#614 build: switched docmosis url to AKS instance (CMC-1329)
  charts/unspec-service/Chart.yaml
  charts/unspec-service/values.yaml
Labels: ns:unspec, prd:unspec, rel:unspec-service-pr-614

#612 feat: added details of claim screen (CMC-1243)
  ccd-definition/AuthorisationCaseField/solicitor.json
  ccd-definition/AuthorisationCaseField/systemUpdate.json
  ccd-definition/CaseEventToFields/CreateClaim.json
  ccd-definition/CaseField.json
  e2e/fixtures/events/createClaim.js
  e2e/pages/createClaim/detailsOfClaim.page.js
  e2e/steps_file.js
  src/main/java/uk/gov/hmcts/reform/unspec/model/CaseData.java
Labels: data-changes, ns:unspec, prd:unspec, rel:unspec-service-pr-612

#613 feat: renamed case type label from Unspecified Claims to Damages Claim (CMC-1206)
  ccd-definition/CaseField.json
  ccd-definition/CaseType.json
  e2e/pages/createClaim/createCase.page.js
Labels: data-changes, ns:unspec, prd:unspec, rel:unspec-service-pr-613

#617 ci: added healthcheck for service and manage case on demo
  Jenkinsfile_CNP
  build.gradle
  charts/unspec-service/Chart.yaml
  charts/unspec-service/values.yaml
Labels: ns:unspec, prd:unspec, rel:unspec-service-pr-617

#618 feat: summary tab (CMC-1272)
  ccd-definition/CaseEventToFields/CreateClaim.json
  ccd-definition/CaseField.json
  ccd-definition/CaseTypeTab/CaseTypeTab.json
  ccd-definition/CaseTypeTab/Summary.json
Labels: data-changes, ns:unspec, prd:unspec, rel:unspec-service-pr-618

#595 refactor: change court selection from court location to court code (CMC-1177)
  ccd-definition/CaseField.json
  ccd-definition/ComplexTypes/CourtLocation.json
  ccd-definition/ComplexTypes/DQ/RequestedCourt.json
  e2e/api/steps.js
  e2e/fixtures/events/createClaim.js
  e2e/fixtures/events/defendantResponse.js
  e2e/fragments/dq/requestedCourt.page.js
  e2e/pages/createClaim/chooseCourt.page.js
  src/main/java/uk/gov/hmcts/reform/unspec/model/dq/RequestedCourt.java
  src/test/java/uk/gov/hmcts/reform/unspec/model/dq/Respondent1DQTest.java
Labels: data-changes, ns:unspec, prd:unspec, rel:unspec-service-pr-595

#619 feat: claim details tab (CMC-1272)
  ccd-definition/CaseEventToFields/ClaimantResponse.json
  ccd-definition/CaseEventToFields/DefendantResponse.json
  ccd-definition/CaseField.json
  ccd-definition/CaseTypeTab/CaseTypeTab.json
  ccd-definition/CaseTypeTab/ClaimDetails.json
Labels: data-changes, ns:unspec, prd:unspec, rel:unspec-service-pr-619

#593 feat: notify defendant of claim details 2/2 (CMC-1250)
  ccd-definition/CaseEvent/Camunda/NotificationEvents.json
  ccd-definition/CaseEvent/User/UserEvents.json
  e2e/api/steps.js
  e2e/tests/api_test.js
  e2e/tests/solicitorCreatesClaim_test.js
  src/main/java/uk/gov/hmcts/reform/unspec/service/flowstate/FlowPredicate.java
  src/main/java/uk/gov/hmcts/reform/unspec/service/flowstate/StateFlowEngine.java
  src/test/java/uk/gov/hmcts/reform/unspec/service/flowstate/StateFlowEngineTest.java
Labels: ns:unspec, prd:unspec, rel:unspec-service-pr-593

#621 refactor:Remove hard coded solicitor name (CMC-1274)
  src/main/java/uk/gov/hmcts/reform/unspec/handler/callback/camunda/notification/AcknowledgeServiceApplicantNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/unspec/handler/callback/camunda/notification/ApplicantClaimStruckOutNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/unspec/handler/callback/camunda/notification/ClaimantResponseApplicantNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/unspec/handler/callback/camunda/notification/ClaimantResponseRespondentNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/unspec/handler/callback/camunda/notification/CreateClaimRespondentNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/unspec/handler/callback/camunda/notification/DefendantResponseApplicantNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/unspec/handler/callback/camunda/notification/DefendantResponseCaseHandedOfflineApplicantNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/unspec/handler/callback/camunda/notification/DefendantResponseCaseHandedOfflineRespondentNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/unspec/handler/callback/camunda/notification/NotificationData.java
  src/main/java/uk/gov/hmcts/reform/unspec/handler/callback/camunda/notification/RaisingClaimAgainstLitigantInPersonNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/unspec/handler/callback/camunda/notification/RespondentClaimStruckOutNotificationHandler.java
  src/test/java/uk/gov/hmcts/reform/unspec/handler/callback/camunda/notification/AcknowledgeServiceApplicantNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/handler/callback/camunda/notification/ApplicantClaimStruckOutNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/handler/callback/camunda/notification/ClaimantResponseApplicantNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/handler/callback/camunda/notification/ClaimantResponseRespondentNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/handler/callback/camunda/notification/CreateClaimRespondentNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/handler/callback/camunda/notification/DefendantResponseApplicantNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/handler/callback/camunda/notification/DefendantResponseCaseHandedOfflineApplicantNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/handler/callback/camunda/notification/DefendantResponseCaseHandedOfflineRespondentNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/handler/callback/camunda/notification/RaisingClaimAgainstLitigantInPersonNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/handler/callback/camunda/notification/RespondentClaimStruckOutNotificationHandlerTest.java
Labels: ns:unspec, prd:unspec, rel:unspec-service-pr-621

#587 feat: resubmit claim (CMC-1188)
  ccd-definition/AuthorisationCaseEvent/solicitor.json
  ccd-definition/CaseEvent/User/UserEvents.json
  ccd-definition/CaseEventToComplexTypes/ResubmitClaim.json
  ccd-definition/CaseEventToFields/ResubmitClaim.json
  ccd-definition/CaseField.json
  e2e/api/steps.js
  e2e/fixtures/ccd/events.js
  e2e/fixtures/ccd/expectedEvents.js
  e2e/fixtures/events/createClaim.js
  e2e/fixtures/events/resubmitClaim.js
  e2e/tests/api_test.js
  src/main/java/uk/gov/hmcts/reform/unspec/callback/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/unspec/handler/callback/camunda/payment/PaymentsCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/unspec/handler/callback/user/ResubmitClaimCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/unspec/service/flowstate/FlowStateAllowedEventService.java
  src/main/resources/camunda/resubmit_claim.bpmn
  src/test/java/uk/gov/hmcts/reform/unspec/bpmn/ResubmitClaimTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/handler/callback/camunda/payment/PaymentsCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/handler/callback/user/ResubmitClaimCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/service/flowstate/FlowStateAllowedEventServiceTest.java
Labels: data-changes, ns:unspec, prd:unspec, rel:unspec-service-pr-587

#622 refactor: split history and document tab definition (CMC-1272)
  ccd-definition/CaseTypeTab/CaseTypeTab.json
  ccd-definition/CaseTypeTab/Documents.json
  ccd-definition/CaseTypeTab/History.json
Labels: ns:unspec, prd:unspec, rel:unspec-service-pr-622

#603 tech: reusable pba payment diagram (CMC-1320)
  src/main/resources/camunda/create_claim.bpmn
  src/main/resources/camunda/make_pba_payment.bpmn
  src/main/resources/camunda/resubmit_claim.bpmn
  src/test/java/uk/gov/hmcts/reform/unspec/bpmn/BpmnBaseTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/bpmn/CreateClaimTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/bpmn/ResubmitClaimTest.java
Labels: ns:unspec, prd:unspec, rel:unspec-service-pr-603

#623 feat: hearing tab (CMC-1272)
  ccd-definition/CaseEventToFields/ClaimantResponse.json
  ccd-definition/CaseEventToFields/DefendantResponse.json
  ccd-definition/CaseField.json
  ccd-definition/CaseTypeTab/Hearings.json
Labels: data-changes, ns:unspec, prd:unspec, rel:unspec-service-pr-623
