Repository hmcts/unspec-service, pull requests merged in 2021-04, with the labels that each got.

#740 Revert to fe42ffac
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField.json
  ccd-definition/AuthorisationCaseField/systemUpdate.json
  ccd-definition/CaseField.json
  src/main/java/uk/gov/hmcts/reform/unspec/handler/callback/camunda/docmosis/GenerateClaimFormCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/unspec/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/unspec/service/flowstate/FlowPredicate.java
Labels: data-changes, ns:unspec, prd:unspec, rel:unspec-service-pr-740

#699 feat: take case offline when applicant is out of time (CMC-1415)
  ccd-definition/AuthorisationCaseEvent/systemUpdate.json
  ccd-definition/CaseEvent/User/UserEvents.json
  e2e/tests/rpaHandoff_test.js
  src/main/java/uk/gov/hmcts/reform/unspec/callback/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/unspec/event/TakeCaseOfflineEvent.java
  src/main/java/uk/gov/hmcts/reform/unspec/handler/callback/user/TakeCaseOfflineCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/unspec/handler/event/TakeCaseOfflineEventHandler.java
  src/main/java/uk/gov/hmcts/reform/unspec/handler/tasks/TakeCaseOfflineHandler.java
  src/main/java/uk/gov/hmcts/reform/unspec/service/flowstate/FlowPredicate.java
  src/main/java/uk/gov/hmcts/reform/unspec/service/flowstate/FlowState.java
  src/main/java/uk/gov/hmcts/reform/unspec/service/flowstate/FlowStateAllowedEventService.java
  src/main/java/uk/gov/hmcts/reform/unspec/service/flowstate/StateFlowEngine.java
  src/main/java/uk/gov/hmcts/reform/unspec/service/search/TakeCaseOfflineSearchService.java
  src/main/java/uk/gov/hmcts/reform/unspec/service/tasklisteners/TakeCaseOfflineExternalTaskListener.java
  src/main/resources/camunda/take_case_offline_scheduler.bpmn
  src/test/java/uk/gov/hmcts/reform/unspec/bpmn/TakeCaseOfflineSchedulerTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/handler/callback/user/TakeCaseOfflineCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/handler/tasks/TakeCaseOfflineHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/sampledata/CaseDataBuilder.java
  src/test/java/uk/gov/hmcts/reform/unspec/service/flowstate/FlowPredicateTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/service/flowstate/FlowStateAllowedEventServiceTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/service/flowstate/StateFlowEngineTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/service/search/TakeCaseOfflineSearchServiceTest.java
Labels: data-changes, ns:unspec, prd:unspec, rel:unspec-service-pr-699

#722 feat: remove claims past the details notification deadline (CMC-1414)
  ccd-definition/CaseEvent/User/UserEvents.json
  src/main/java/uk/gov/hmcts/reform/unspec/service/flowstate/FlowPredicate.java
  src/main/java/uk/gov/hmcts/reform/unspec/service/flowstate/FlowState.java
  src/main/java/uk/gov/hmcts/reform/unspec/service/flowstate/FlowStateAllowedEventService.java
  src/main/java/uk/gov/hmcts/reform/unspec/service/flowstate/StateFlowEngine.java
  src/main/java/uk/gov/hmcts/reform/unspec/service/search/CaseDismissedSearchService.java
  src/test/java/uk/gov/hmcts/reform/unspec/sampledata/CaseDataBuilder.java
  src/test/java/uk/gov/hmcts/reform/unspec/service/flowstate/FlowPredicateTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/service/flowstate/FlowStateAllowedEventServiceTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/service/flowstate/StateFlowEngineTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/service/search/CaseDismissedSearchServiceTest.java
Labels: data-changes, ns:unspec, prd:unspec, rel:unspec-service-pr-722

#685 fix: unrepresented org api test (CMC-1368)
  e2e/api/steps.js
  e2e/fixtures/events/createClaim.js
Labels: ns:unspec, prd:unspec, rel:unspec-service-pr-685

#719 feat: take case offline when claim notification deadline missed (CMC-1413)
  ccd-definition/CaseEvent/User/UserEvents.json
  ccd-definition/CaseField.json
  src/main/java/uk/gov/hmcts/reform/unspec/handler/callback/user/DismissClaimCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/unspec/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/unspec/service/flowstate/FlowPredicate.java
  src/main/java/uk/gov/hmcts/reform/unspec/service/flowstate/FlowState.java
  src/main/java/uk/gov/hmcts/reform/unspec/service/flowstate/FlowStateAllowedEventService.java
  src/main/java/uk/gov/hmcts/reform/unspec/service/flowstate/StateFlowEngine.java
  src/main/java/uk/gov/hmcts/reform/unspec/service/search/CaseDismissedSearchService.java
  src/main/resources/camunda/notify_claim_deadline_scheduler.bpmn
  src/test/java/uk/gov/hmcts/reform/unspec/bpmn/NotifyClaimDeadlineSchedulerTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/handler/callback/user/DismissClaimCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/sampledata/CaseDataBuilder.java
  src/test/java/uk/gov/hmcts/reform/unspec/service/flowstate/FlowPredicateTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/service/flowstate/FlowStateAllowedEventServiceTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/service/flowstate/StateFlowEngineTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/service/search/CaseDismissedSearchServiceTest.java
Labels: data-changes, ns:unspec, prd:unspec, rel:unspec-service-pr-719

#698 feat: updated states and flow predicates for backwards compatibility (CMC-1238) 1/2
  build.gradle
  src/main/java/uk/gov/hmcts/reform/unspec/enums/CaseState.java
  src/main/java/uk/gov/hmcts/reform/unspec/service/flowstate/FlowPredicate.java
Labels: ns:unspec, prd:unspec, rel:unspec-service-pr-698

#697 feat: rename ccd states (CMC-1238) 2/2
  build.gradle
  ccd-definition/AuthorisationCaseState/AuthorisationCaseState.json
  ccd-definition/AuthorisationCaseState/approver.json
  ccd-definition/AuthorisationCaseState/caseAccessAssignment.json
  ccd-definition/AuthorisationCaseState/systemUpdate.json
  ccd-definition/CaseEvent/Camunda/NotificationEvents.json
  ccd-definition/CaseEvent/User/UserEvents-nonprod.json
  ccd-definition/CaseEvent/User/UserEvents.json
  ccd-definition/State.json
  ccd-definition/UserProfile.json
  e2e/api/steps.js
  e2e/fixtures/ccd/events.js
  e2e/fixtures/ccd/expectedEvents.js
  src/main/java/uk/gov/hmcts/reform/unspec/enums/CaseState.java
  src/main/java/uk/gov/hmcts/reform/unspec/handler/callback/camunda/docmosis/GenerateClaimFormCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/unspec/service/flowstate/FlowPredicate.java
  src/main/java/uk/gov/hmcts/reform/unspec/service/search/CaseDismissedSearchService.java
  src/main/java/uk/gov/hmcts/reform/unspec/service/search/TakeCaseOfflineSearchService.java
  src/test/java/uk/gov/hmcts/reform/unspec/handler/callback/BaseCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/handler/callback/camunda/docmosis/GenerateClaimFormCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/sampledata/CaseDataBuilder.java
  src/test/java/uk/gov/hmcts/reform/unspec/sampledata/CaseDetailsBuilder.java
  src/test/java/uk/gov/hmcts/reform/unspec/service/search/CaseDismissedSearchServiceTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/service/search/TakeCaseOfflineSearchServiceTest.java
Labels: do not merge, ns:unspec, prd:unspec, rel:unspec-service-pr-697

#749 fix: admin user to trigger take offline event in nightly test
  e2e/tests/rpaHandoff_test.js
Labels: ns:unspec, prd:unspec, rel:unspec-service-pr-749

#733 fix: acknowledge service cya page (CMC-1241)
  ccd-definition/CaseEventToComplexTypes/AcknowledgeClaim.json
  ccd-definition/CaseEventToFields/AcknowledgeClaim.json
Labels: ns:unspec, prd:unspec, rel:unspec-service-pr-733

#717 feat: remove backwards compatibility (CMC-1271)
  ccd-definition/AuthorisationCaseEvent/systemUpdate.json
  ccd-definition/CaseEvent/Camunda/DocmosisEvents.json
  ccd-definition/CaseEvent/Camunda/NotificationEvents.json
  ccd-definition/FixedLists/DocumentType.json
  src/main/java/uk/gov/hmcts/reform/unspec/callback/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/unspec/handler/callback/camunda/docmosis/GenerateAcknowledgementOfClaimCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/unspec/handler/callback/camunda/notification/AcknowledgeClaimApplicantNotificationHandler.java
  src/main/resources/camunda/acknowledge_claim.bpmn
  src/test/java/uk/gov/hmcts/reform/unspec/bpmn/AcknowledgeClaimTest.java
Labels: ns:unspec, prd:unspec, rel:unspec-service-pr-717

#700 feat: added new flow state PENDING_CLAIM_ISSUED_UNREGISTERED_DEFENDANT (CMC-1372)
  src/contractTest/java/uk/gov/hmcts/reform/unspec/RpaConsumerTest.java
  src/main/java/uk/gov/hmcts/reform/unspec/service/docmosis/RepresentativeService.java
  src/main/java/uk/gov/hmcts/reform/unspec/service/flowstate/FlowPredicate.java
  src/main/java/uk/gov/hmcts/reform/unspec/service/flowstate/FlowState.java
  src/main/java/uk/gov/hmcts/reform/unspec/service/flowstate/StateFlowEngine.java
  src/main/java/uk/gov/hmcts/reform/unspec/service/robotics/mapper/EventHistoryMapper.java
  src/main/resources/camunda/create_claim.bpmn
  src/test/java/uk/gov/hmcts/reform/unspec/bpmn/CreateClaimTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/sampledata/CaseDataBuilder.java
  src/test/java/uk/gov/hmcts/reform/unspec/service/flowstate/FlowPredicateTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/service/flowstate/StateFlowEngineTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/service/robotics/mapper/EventHistoryMapperTest.java
Labels: ns:unspec, prd:unspec, rel:unspec-service-pr-700

#741 refactor: added regex to served document file collections (CMC-1444)
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField.json
  ccd-definition/CaseEventToComplexTypes/AddOrAmendClaimDocuments.json
  ccd-definition/CaseEventToComplexTypes/CreateClaim.json
  ccd-definition/CaseEventToComplexTypes/NotifyDefendantOfClaimDetails.json
  ccd-definition/ComplexTypes/DocumentWithRegex.json
  ccd-definition/ComplexTypes/ServedDocumentFiles.json
  e2e/fragments/servedDocument.js
  src/main/java/uk/gov/hmcts/reform/unspec/model/DocumentWithRegex.java
  src/main/java/uk/gov/hmcts/reform/unspec/model/ServedDocumentFiles.java
Labels: data-changes, ns:unspec, prd:unspec, rel:unspec-service-pr-741

#725 feat: rpa for claimant solicitor not proceeds (CMC-1055)
  e2e/fragments/confirmDetails.page.js
  src/contractTest/java/uk/gov/hmcts/reform/unspec/RpaConsumerTest.java
  src/main/java/uk/gov/hmcts/reform/unspec/handler/callback/user/RespondToDefenceCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/unspec/model/robotics/Event.java
  src/main/java/uk/gov/hmcts/reform/unspec/service/flowstate/FlowPredicate.java
  src/main/java/uk/gov/hmcts/reform/unspec/service/flowstate/FlowState.java
  src/main/java/uk/gov/hmcts/reform/unspec/service/flowstate/FlowStateAllowedEventService.java
  src/main/java/uk/gov/hmcts/reform/unspec/service/flowstate/StateFlowEngine.java
  src/main/java/uk/gov/hmcts/reform/unspec/service/robotics/JsonSchemaValidationService.java
  src/main/java/uk/gov/hmcts/reform/unspec/service/robotics/mapper/EventHistoryMapper.java
  src/main/resources/camunda/claimant_response.bpmn
  src/main/resources/schema/rpa-json-schema.json
  src/test/java/uk/gov/hmcts/reform/unspec/bpmn/ClaimantResponseTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/handler/callback/camunda/notification/RaisingClaimAgainstLitigantInPersonNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/handler/callback/camunda/notification/claimdismissed/ApplicantClaimDismissedNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/handler/callback/camunda/notification/claimdismissed/RespondentClaimDismissedNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/handler/callback/user/RespondToDefenceCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/sampledata/CaseDataBuilder.java
  src/test/java/uk/gov/hmcts/reform/unspec/sampledata/CaseDetailsBuilder.java
  src/test/java/uk/gov/hmcts/reform/unspec/service/docmosis/dq/DirectionsQuestionnaireGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/service/flowstate/FlowPredicateTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/service/flowstate/FlowStateAllowedEventServiceTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/service/flowstate/StateFlowEngineTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/service/robotics/mapper/EventHistoryMapperTest.java
Labels: merge-before-repo-switch, ns:unspec, prd:unspec, rel:unspec-service-pr-725

#707 feat: Resolve misalignment of casename(CMC-1217)
  docker/docmosis/templates/CV-UNS-ACK-ENG-00653.docx
  docker/docmosis/templates/CV-UNS-CLM-ENG-00655.docx
  docker/docmosis/templates/CV-UNS-HRN-ENG-00651.docx
  src/main/java/uk/gov/hmcts/reform/unspec/utils/DocmosisTemplateDataUtils.java
  src/test/java/uk/gov/hmcts/reform/unspec/service/docmosis/aos/AcknowledgementOfClaimGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/utils/DocmosisTemplateDataUtilsTest.java
Labels: merge-before-repo-switch, ns:unspec, prd:unspec, rel:unspec-service-pr-707

#727 feat: rpa for claimant solicitor confirms to proceeds (CMC-1033)
  src/contractTest/java/uk/gov/hmcts/reform/unspec/RpaConsumerTest.java
  src/main/java/uk/gov/hmcts/reform/unspec/service/robotics/mapper/EventHistoryMapper.java
  src/test/java/uk/gov/hmcts/reform/unspec/service/robotics/mapper/EventHistoryMapperTest.java
Labels: merge-before-repo-switch, ns:unspec, prd:unspec, rel:unspec-service-pr-727

#764 CMC-1456 new PR as original will not checkout from git hub successfully
  src/main/java/uk/gov/hmcts/reform/unspec/enums/ResponseIntention.java
  src/main/java/uk/gov/hmcts/reform/unspec/model/robotics/EventDetails.java
  src/main/java/uk/gov/hmcts/reform/unspec/service/robotics/mapper/EventHistoryMapper.java
  src/main/resources/schema/rpa-json-schema.json
  src/test/java/uk/gov/hmcts/reform/unspec/sampledata/CaseDataBuilder.java
  src/test/java/uk/gov/hmcts/reform/unspec/service/robotics/mapper/EventHistoryMapperTest.java
Labels: ns:unspec, prd:unspec, rel:unspec-service-pr-764

#768 fix: revert camunda diagram for claimant response to fix master pipelines
  src/main/resources/camunda/claimant_response.bpmn
  src/test/java/uk/gov/hmcts/reform/unspec/bpmn/ClaimantResponseTest.java
Labels: ns:unspec, prd:unspec, rel:unspec-service-pr-768

#755 tech: add sendgrid api key
  infrastructure/main.tf
  infrastructure/prod.tfvars
  infrastructure/state.tf
  infrastructure/variables.tf
Labels: merge-before-repo-switch, ns:unspec, prd:unspec, rel:unspec-service-pr-755

#769 fix: add claimant response camunda diagram updates
  src/main/resources/camunda/claimant_response.bpmn
  src/test/java/uk/gov/hmcts/reform/unspec/bpmn/ClaimantResponseTest.java
Labels: ns:unspec, prd:unspec, rel:unspec-service-pr-769

#750 feat:Update confirmation pages for consistency
  ccd-definition/CaseEventToComplexTypes/AddOrAmendClaimDocuments.json
  ccd-definition/CaseEventToComplexTypes/CreateClaim.json
  ccd-definition/CaseEventToComplexTypes/NotifyDefendantOfClaimDetails.json
  ccd-definition/CaseField.json
  ccd-definition/ComplexTypes/ServedDocumentFiles.json
  e2e/api/steps.js
  e2e/steps_file.js
  src/main/java/uk/gov/hmcts/reform/unspec/handler/callback/user/AcknowledgeClaimCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/unspec/handler/callback/user/AddOrAmendClaimDocumentsCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/unspec/handler/callback/user/CreateClaimCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/unspec/handler/callback/user/NotifyClaimCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/unspec/handler/callback/user/NotifyClaimDetailsCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/unspec/handler/callback/user/RespondToDefenceCallbackHandler.java
  src/test/java/uk/gov/hmcts/reform/unspec/handler/callback/user/AcknowledgeClaimCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/handler/callback/user/AddOrAmendClaimDocumentsCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/handler/callback/user/CreateClaimCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/handler/callback/user/NotifyClaimCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/handler/callback/user/NotifyClaimDetailsCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/handler/callback/user/RespondToDefenceCallbackHandlerTest.java
Labels: data-changes, merge-before-repo-switch, ns:unspec, prd:unspec, rel:unspec-service-pr-750
