Repository hmcts/unspec-service, pull requests merged in 2021-01, with the labels that each got.

#477 fix: switched preview xui image to latest
  charts/unspec-service/values.preview.template.yaml
Labels: ns:unspec, prd:unspec, rel:unspec-service-pr-477

#465 feat: add launch darkly client (CMC-1105)
  build.gradle
  charts/unspec-service/Chart.yaml
  charts/unspec-service/values.preview.template.yaml
  charts/unspec-service/values.yaml
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/reform/unspec/aspect/FeatureToggle.java
  src/main/java/uk/gov/hmcts/reform/unspec/aspect/FeatureToggleAspect.java
  src/main/java/uk/gov/hmcts/reform/unspec/config/LaunchDarklyConfiguration.java
  src/main/java/uk/gov/hmcts/reform/unspec/launchdarkly/FeatureToggleService.java
  src/main/resources/application.yaml
  src/main/resources/bootstrap.yaml
  src/test/java/uk/gov/hmcts/reform/unspec/aspect/FeatureToggleAspectTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/launchdarkly/FeatureToggleServiceTest.java
Labels: ns:unspec, prd:unspec, rel:unspec-service-pr-465

#467 feat: move withdraw event to nonprod file (CMC-1105)
  ccd-definition/AuthorisationCaseEvent/solicitor-nonprod.json
  ccd-definition/AuthorisationCaseEvent/solicitor.json
  ccd-definition/CaseEvent/User/UserEvents-nonprod.json
  ccd-definition/CaseEvent/User/UserEvents.json
  ccd-definition/CaseEventToComplexTypes/WithdrawClaim-nonprod.json
  ccd-definition/CaseEventToFields/WithdrawClaim-nonprod.json
Labels: ns:unspec, prd:unspec, rel:unspec-service-pr-467

#482 fix: improved nightly pipeline (CMC-1127)
  Jenkinsfile_nightly
  e2e/pages/caseView.page.js
  e2e/steps_file.js
Labels: ns:unspec, prd:unspec, rel:unspec-service-pr-482

#483 build: upgraded axios to a non-vulnerable version
  yarn.lock
Labels: ns:unspec, prd:unspec, rel:unspec-service-pr-483

#484 fix: assert dynamic list list items are as expected (CMC-1111)
  e2e/api/steps.js
  package.json
  yarn.lock
Labels: ns:unspec, prd:unspec, rel:unspec-service-pr-484

#485 tech: cleanup api test data (CMC-1109)
  e2e/api/dataHelper.js
  e2e/api/steps.js
  e2e/fixtures/events/acknowledgeService.js
  e2e/fixtures/events/addDefendantLitigationFriend.js
  e2e/fixtures/events/createClaim.js
  e2e/fixtures/events/createClaimLitigantInPerson.js
  e2e/fixtures/events/defendantResponse.js
Labels: ns:unspec, prd:unspec, rel:unspec-service-pr-485

#487 test: retry until invisible function (CMC-1135)
  e2e/fragments/event.js
  e2e/steps_file.js
Labels: ns:unspec, prd:unspec, rel:unspec-service-pr-487

#490 fix: removed pba labels from cya page (CMC-1137)
  ccd-definition/CaseEventToFields/CreateClaim.json
Labels: ns:unspec, prd:unspec, rel:unspec-service-pr-490

#491 fix: retry submit click until confirmation header is visible
  e2e/fragments/event.js
  e2e/steps_file.js
Labels: ns:unspec, prd:unspec, rel:unspec-service-pr-491

#489 refactor: removed display name from case event enum (CMC-1139)
  src/main/java/uk/gov/hmcts/reform/unspec/aspect/EventAllowedAspect.java
  src/main/java/uk/gov/hmcts/reform/unspec/aspect/NoOngoingBusinessProcessAspect.java
  src/main/java/uk/gov/hmcts/reform/unspec/callback/CaseEvent.java
Labels: ns:unspec, prd:unspec, rel:unspec-service-pr-489

#486 feat: move discontinue claim event to nonprod (CMC-1144)
  ccd-definition/AuthorisationCaseEvent/solicitor-nonprod.json
  ccd-definition/AuthorisationCaseEvent/solicitor.json
  ccd-definition/CaseEvent/User/UserEvents-nonprod.json
  ccd-definition/CaseEvent/User/UserEvents.json
  ccd-definition/CaseEventToComplexTypes/DiscontinueClaim-nonprod.json
  ccd-definition/CaseEventToFields/DiscontinueClaim-nonprod.json
Labels: ns:unspec, prd:unspec, rel:unspec-service-pr-486

#493 build: spinning up staging CCD (CMC-1114)
  charts/unspec-service/values.aat.template.yaml
Labels: ns:unspec, prd:unspec, rel:unspec-service-pr-493

#495 refactor: add missing unit tests for docmosis getTemplateData method (CMC-1120)
  src/test/java/uk/gov/hmcts/reform/unspec/service/docmosis/aos/AcknowledgementOfServiceGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/service/docmosis/cos/CertificateOfServiceGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/service/docmosis/sealedclaim/SealedClaimFormGeneratorTest.java
Labels: ns:unspec, prd:unspec, rel:unspec-service-pr-495

#497 Revert "build: spinning up staging CCD (CMC-1114)"
  charts/unspec-service/values.aat.template.yaml
Labels: ns:unspec, prd:unspec, rel:unspec-service-pr-497

#492 refactor: updated pba labels (CMC-1136)
  ccd-definition/CaseField.json
Labels: ns:unspec, prd:unspec, rel:unspec-service-pr-492

#494 refactor: reusable start business process bpmn diagram (CMC-924)
  src/main/resources/camunda/acknowledge_service.bpmn
  src/main/resources/camunda/claim_strikeout.bpmn
  src/main/resources/camunda/claimant_response.bpmn
  src/main/resources/camunda/confirm_service.bpmn
  src/main/resources/camunda/create_claim.bpmn
  src/main/resources/camunda/defendant_response.bpmn
  src/main/resources/camunda/request_extension.bpmn
  src/main/resources/camunda/respond_extension.bpmn
  src/test/java/uk/gov/hmcts/reform/unspec/bpmn/AcknowledgeServiceTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/bpmn/BpmnBaseTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/bpmn/ClaimStrikeoutTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/bpmn/ConfirmServiceTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/bpmn/CreateClaimTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/bpmn/DefendantResponseTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/bpmn/RequestExtensionTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/bpmn/RespondExtensionTest.java
Labels: ns:unspec, prd:unspec, rel:unspec-service-pr-494

#508 refactor: updated 1 PBA label (CMC-1136)
  ccd-definition/CaseField.json
Labels: data-changes, ns:unspec, prd:unspec, rel:unspec-service-pr-508

#500 fix: added min value validation to claim value (CMC-1155)
  ccd-definition/ComplexTypes/ClaimValue.json
Labels: data-changes, ns:unspec, prd:unspec, rel:unspec-service-pr-500

#510 feat: update pba failure notification template (CMC-1014)
  src/main/java/uk/gov/hmcts/reform/unspec/handler/callback/camunda/notification/FailedPaymentApplicantNotificationHandler.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/unspec/handler/callback/camunda/notification/FailedPaymentApplicantNotificationHandlerTest.java
Labels: ns:unspec, prd:unspec, rel:unspec-service-pr-510

#516 refactor: FULL_DEFENCE show hide condition in response events (CMC-1160)
  ccd-definition/CaseEventToFields/ClaimantResponse.json
  ccd-definition/CaseEventToFields/DefendantResponse.json
Labels: ns:unspec, prd:unspec, rel:unspec-service-pr-516

#515 Fix: CMC-1170 Sonar cloud reports an issue with severity of Major.
  src/main/java/uk/gov/hmcts/reform/unspec/handler/tasks/PaymentTaskHandler.java
Labels: ns:unspec, prd:unspec, rel:unspec-service-pr-515

#520 refactor: address current sonar issues (CMC-1171)
  src/main/java/uk/gov/hmcts/reform/unspec/handler/callback/camunda/businessprocess/StartBusinessProcessCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/unspec/handler/tasks/BaseExternalTaskHandler.java
  src/test/java/uk/gov/hmcts/reform/unspec/handler/callback/camunda/payment/PaymentsCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/model/search/QueryTest.java
Labels: ns:unspec, prd:unspec, rel:unspec-service-pr-520

#512 feat: enable share a case (CMC-1124)
  bin/add-roles-preview.sh
  ccd-definition/AuthorisationCaseField/approver.json
  ccd-definition/AuthorisationCaseField/caseAccessAssignment.json
  ccd-definition/AuthorisationCaseField/solicitor.json
  ccd-definition/AuthorisationCaseState/approver.json
  ccd-definition/AuthorisationCaseState/caseAccessAssignment.json
  ccd-definition/AuthorisationCaseType/approver.json
  ccd-definition/AuthorisationCaseType/caseAccessAssignment.json
  ccd-definition/CaseField.json
  ccd-definition/CaseRoles.json
  ccd-definition/SearchCasesResultFields.json
  charts/unspec-service/values.preview.template.yaml
  src/main/java/uk/gov/hmcts/reform/unspec/enums/CaseRole.java
  src/main/java/uk/gov/hmcts/reform/unspec/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/unspec/model/OrganisationId.java
  src/main/java/uk/gov/hmcts/reform/unspec/model/OrganisationPolicy.java
  src/test/java/uk/gov/hmcts/reform/unspec/enums/CaseRoleTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/service/OrganisationServiceTest.java
Labels: data-changes, ns:unspec, prd:unspec, rel:unspec-service-pr-512

#521 feat: send rpa email for defendant response (CMC-1164)
  charts/unspec-service/Chart.yaml
  charts/unspec-service/values.preview.template.yaml
  charts/unspec-service/values.yaml
  src/contractTest/java/uk/gov/hmcts/reform/unspec/RpaConsumerTest.java
  src/main/java/uk/gov/hmcts/reform/unspec/event/RoboticsEvent.java
  src/main/java/uk/gov/hmcts/reform/unspec/handler/callback/user/RespondToClaimCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/unspec/handler/event/RoboticsEventHandler.java
  src/main/java/uk/gov/hmcts/reform/unspec/service/robotics/RoboticsNotificationService.java
  src/main/resources/application.yaml
  src/main/resources/bootstrap.yaml
  src/test/java/uk/gov/hmcts/reform/unspec/handler/callback/user/RespondToClaimCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/handler/event/RoboticsEventHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/sampledata/CaseDataBuilder.java
  src/test/java/uk/gov/hmcts/reform/unspec/service/robotics/RoboticsNotificationServiceTest.java
Labels: ns:unspec, prd:unspec, rel:unspec-service-pr-521

#528 TechDebt CMC-1180: Fix code smell issues raised by SonarCloud
  src/test/java/uk/gov/hmcts/reform/unspec/handler/tasks/CaseEventTaskHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/handler/tasks/EndBusinessProcessTaskHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/handler/tasks/PaymentTaskHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/handler/tasks/StartBusinessProcessTaskHandlerTest.java
Labels: ns:unspec, prd:unspec, rel:unspec-service-pr-528

#530 tech: upgrade deprecated spring yaml configurations
  src/main/resources/application.yaml
Labels: ns:unspec, prd:unspec, rel:unspec-service-pr-530

#532 TechDebt: CMC-1231: Fix SonarCloud Code Smells
  src/main/java/uk/gov/hmcts/reform/unspec/handler/callback/camunda/businessprocess/StartBusinessProcessCallbackHandler.java
  src/test/java/uk/gov/hmcts/reform/unspec/handler/tasks/StartBusinessProcessTaskHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/service/UserServiceTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/stateflow/StateFlowTest.java
Labels: ns:unspec, prd:unspec, rel:unspec-service-pr-532

#534 feat: move RPA notification to camunda task (CMC-1186)
  ccd-definition/AuthorisationCaseEvent/systemUpdate.json
  ccd-definition/CaseEvent/Camunda/RoboticsEvents.json
  src/main/java/uk/gov/hmcts/reform/unspec/callback/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/unspec/event/RoboticsEvent.java
  src/main/java/uk/gov/hmcts/reform/unspec/handler/callback/camunda/robotics/NotifyRoboticsOnCaseHandedOfflineHandler.java
  src/main/java/uk/gov/hmcts/reform/unspec/handler/callback/user/RespondToClaimCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/unspec/handler/event/RoboticsEventHandler.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/unspec/handler/callback/camunda/robotics/NotifyRoboticsOnCaseHandedOfflineHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/handler/callback/user/RespondToClaimCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/handler/event/RoboticsEventHandlerTest.java
Labels: ns:unspec, prd:unspec, rel:unspec-service-pr-534

#535 feat: add camunda changes for RPA notification (CMC-1186)
  src/main/resources/camunda/defendant_response.bpmn
  src/test/java/uk/gov/hmcts/reform/unspec/bpmn/DefendantResponseTest.java
Labels: ns:unspec, prd:unspec, rel:unspec-service-pr-535

#531 refactor: remove confirmation of service event (CMC-1125)
  ccd-definition/AuthorisationCaseEvent/solicitor.json
  ccd-definition/AuthorisationCaseEvent/systemUpdate.json
  ccd-definition/AuthorisationCaseField/solicitor.json
  ccd-definition/AuthorisationCaseField/systemUpdate.json
  ccd-definition/CaseEvent/Camunda/DocmosisEvents.json
  ccd-definition/CaseEvent/User/UserEvents.json
  ccd-definition/CaseEventToComplexTypes/ConfirmService.json
  ccd-definition/CaseEventToFields/ConfirmService.json
  ccd-definition/CaseField.json
  ccd-definition/CaseTypeTab.json
  ccd-definition/ComplexTypes/ServiceLocation.json
  ccd-definition/ComplexTypes/ServiceMethod.json
  ccd-definition/FixedLists/ServedDocuments.json
  ccd-definition/FixedLists/ServiceLocation.json
  ccd-definition/FixedLists/ServiceMethod.json
  e2e/api/steps.js
  e2e/fixtures/events/confirmService.js
  e2e/fragments/statementOfTruth.js
  e2e/pages/confirmService/servedDocuments.page.js
  e2e/pages/confirmService/serviceDate.page.js
  e2e/pages/confirmService/serviceLocation.page.js
  e2e/pages/confirmService/serviceMethod.page.js
  e2e/pages/confirmService/uploadDocuments.page.js
  e2e/steps_file.js
  e2e/tests/api_test.js
  e2e/tests/solicitorCreatesClaim_test.js
  src/main/java/uk/gov/hmcts/reform/unspec/callback/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/unspec/handler/callback/camunda/docmosis/GenerateCertificateOfServiceCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/unspec/handler/callback/camunda/docmosis/GenerateClaimFormCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/unspec/handler/callback/camunda/notification/CreateClaimRespondentNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/unspec/handler/callback/user/ConfirmServiceCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/unspec/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/unspec/model/ServiceLocation.java
  src/main/java/uk/gov/hmcts/reform/unspec/model/ServiceMethod.java
  src/main/java/uk/gov/hmcts/reform/unspec/service/DeadlinesCalculator.java
  src/main/java/uk/gov/hmcts/reform/unspec/service/docmosis/cos/CertificateOfServiceGenerator.java
  src/main/java/uk/gov/hmcts/reform/unspec/service/flowstate/FlowPredicate.java
  src/main/java/uk/gov/hmcts/reform/unspec/service/flowstate/FlowState.java
  src/main/java/uk/gov/hmcts/reform/unspec/service/flowstate/FlowStateAllowedEventService.java
  src/main/java/uk/gov/hmcts/reform/unspec/service/flowstate/StateFlowEngine.java
  src/main/resources/camunda/confirm_service.bpmn
  src/test/java/uk/gov/hmcts/reform/unspec/aspect/NoOngoingBusinessProcessAspectTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/bpmn/ConfirmServiceTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/handler/callback/camunda/docmosis/GenerateAcknowledgementOfServiceCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/handler/callback/camunda/docmosis/GenerateCertificateOfServiceCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/handler/callback/camunda/docmosis/GenerateClaimFormCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/handler/callback/camunda/notification/CreateClaimRespondentNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/handler/callback/user/AcknowledgeServiceCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/handler/callback/user/ConfirmServiceCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/handler/callback/user/CreateClaimCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/handler/callback/user/RespondToClaimCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/handler/callback/user/WithdrawClaimCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/sampledata/CaseDataBuilder.java
  src/test/java/uk/gov/hmcts/reform/unspec/sampledata/CaseDetailsBuilder.java
  src/test/java/uk/gov/hmcts/reform/unspec/sampledata/ServiceMethodBuilder.java
  src/test/java/uk/gov/hmcts/reform/unspec/service/DeadlinesCalculatorTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/service/docmosis/cos/CertificateOfServiceGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/service/flowstate/FlowPredicateTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/service/flowstate/FlowStateAllowedEventServiceTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/service/flowstate/StateFlowEngineTest.java
Labels: data-changes, ns:unspec, prd:unspec, rel:unspec-service-pr-531

#539 refactor: display all served document files in create claim (CMC-1185)
  ccd-definition/CaseEventToComplexTypes/CreateClaim.json
Labels: ns:unspec, prd:unspec, rel:unspec-service-pr-539

#540 feat: add schema validation before sending RPA (CMC-1186)
  build.gradle
  src/contractTest/java/uk/gov/hmcts/reform/unspec/matcher/IsValidJson.java
  src/main/java/uk/gov/hmcts/reform/unspec/handler/callback/camunda/robotics/NotifyRoboticsOnCaseHandedOfflineHandler.java
  src/main/java/uk/gov/hmcts/reform/unspec/service/robotics/JsonSchemaValidationService.java
  src/main/java/uk/gov/hmcts/reform/unspec/service/robotics/RoboticsNotificationService.java
  src/main/java/uk/gov/hmcts/reform/unspec/service/robotics/exception/JsonSchemaValidationException.java
  src/main/java/uk/gov/hmcts/reform/unspec/service/robotics/exception/RoboticsDataException.java
  src/main/resources/schema/rpa-json-schema.json
  src/test/java/uk/gov/hmcts/reform/unspec/handler/callback/camunda/robotics/NotifyRoboticsOnCaseHandedOfflineHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/unspec/service/robotics/JsonSchemaValidationServiceTest.java
  src/test/resources/sample-json-schema.json
Labels: ns:unspec, prd:unspec, rel:unspec-service-pr-540
